@{
    Layout = "~/Views/Shared/_LayOutIndex.cshtml";
}
@section Header{
    <script src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'west'" title="" style=" width:220px; border: none; ">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>

    <div data-options="region:'center'" title="" style=" border: none; background:#ddceee;">
        <div class="easyui-layout" data-options="fit:true" style=" border:0;">
            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <div class="home ">
                        单位：<select id="tbxORGNO" onchange="query('1')">@Html.Raw(@ViewBag.vdOrg)</select>&nbsp;&nbsp;&nbsp;
                        发现日期：<input id="tbxStartDate" type="text" class="Wdate" style="width:100px;" value="@ViewBag.STARTDATE" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" />&nbsp;&nbsp;
                        至&nbsp;&nbsp;<input id="tbxEndDate" type="text" class="Wdate" style="width:100px;" value="@ViewBag.ENDDATE" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" />&nbsp;&nbsp;
                        发现人：<input id="tbxFINDER" name="tbxFINDER" type="text" value="" />&nbsp;&nbsp;&nbsp;
                        <input type="button" value="查 询" onclick="query('1')" class="btnSearchCss" />
                        <input type="button" value="添 加" onclick="Manager('Add','','')" id="btnAdd" class="btnAddCss" style="display:none;" />
                        <input type="button" value="导 出" onclick="Export()" id="btnExport" class="btnOutputCss" style="display:none;">
                    </div>
                </div>
            </div>
            <div data-options="region:'center'" title="" style=" border: none; ">
                <div class="divTable" id="divTable">

                </div>
            </div>
            <div data-options="region:'south'" title="" style=" height:40px; border: none; overflow:hidden;  text-align:right;padding:2px 2px 2px 2px;">
                <div class="divPager" id="divPager">

                </div>
            </div>
        </div>
    </div>
</div>

<div id="tableAdd" class="divMan" style="display:none;margin-left:5px;margin-top:8px">
    <input id="DIEPINESURVEYID" name="DIEPINESURVEYID" type="hidden" value="" />
    <input id="OrgNo" name="OrgNo" type="hidden" value="@ViewBag.OrgNo" />
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td class="tdField" style="width:100px;">单位：</td>
            <td><select id="BYORGNO" style="width:94%;">@Html.Raw(@ViewBag.vdOrg)</select></td>
            <td class="tdField" style="width:100px;">发现人： </td>
            <td><input id="FINDER" type="text" value="" style="width:94%;" /><span class="spanRequiredField">*</span></td>
            
        </tr>
        <tr>
            <td class ="tdField">发现日期：</td>
            <td><input id="FINDDATE" type="text" class="Wdate" value="@ViewBag.FINDDATE" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" style="width: 94%;" /></td>
            <td class="tdField">报告日期：</td>
            <td><input id="REPORTDATE" type="text" class="Wdate" value="@ViewBag.REPORTDATE" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" style="width: 94%;" /></td>           
        </tr>
        <tr>
            <td class="tdField">取样株数： </td>
            <td><input id="SAMPLINGCOUNT" type="text" value="" style="width:94%;" /><span class="spanRequiredField">*</span></td>
            <td class="tdField">死亡株数：</td>
            <td><input id="DIEPINECOUNT" type="text" value="" style="width:94%;" /></td>
        </tr>
        <tr>
            <td class="tdField">联系电话：</td>
            <td><input id="LINKTELL" type="text" value="" style="width:94%;" /><span class="spanRequiredField">*</span></td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td class="tdField">鉴定结果：</td>
            <td colspan="3"><textarea id="AUTHENTICATERESULT" style="width: 99%; height: 100px"></textarea></td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    var blnAdd = '@ViewBag.Add';
    if (blnAdd == "1") {
        document.getElementById('btnAdd').style.display = "";
    }
    var blnDel = '@ViewBag.Del';
    if (blnDel == "1") {
        document.getElementById('btnDel').style.display = "";
    }
    var blnExport = '@ViewBag.Export';
    if (blnExport == "1") {
        document.getElementById('btnExport').style.display = "";
    }

    $(function () {
        query('1');
    });

    var page = 1;//当前默认页面为1
    function query(Page) {
        if (Page != "") {
            page = Page;
        }
        var pagesize = '0';
        if (document.getElementById("selPageSize") != null) {
            pagesize = document.getElementById("selPageSize").value;
        }
        var startDate = $('#tbxStartDate').val();
        var endDate = $('#tbxEndDate').val();
        if (startDate != "" && endDate != "") {
            if (!checkEndTime(startDate, endDate)) {
                layer.msg("开始日期不能大于结束日期!", { icon: 5 });
                return;
            }
        }
        $.ajax({
            url: '/PEST/DIEPINESURVEYREPORTQuery',
            timeout: 10000, //10秒后超时，如果为0则永不超时
            data: {
                PageSize: pagesize,
                BYORGNO: $('#tbxORGNO').val(),
                STARTDATE: startDate,
                ENDDATE: endDate,
                FINDER: $('#tbxFINDER').val(),
                Page: page
            },
            dataType: 'json',
            success: function (data, ioArgs) {
                if (data.Success) {
                    $('#divTable').html(data.tableInfo);
                    $('#divPager').html(data.pagerInfo);
                }
                else {
                    $('#divTable').html('');
                    $('#divPager').html('');
                }
            },
            error: function (err, ioArgs) {
                layer.msg('系统异常!', { icon: 5 });
            }
        });
    }

    //增、删、改
    function Manager(Method, DataId, Page) {
        if (Method == 'Del') {
            layer.confirm('确实要删除吗?', { icon: 3, title: '提示' }, function (index) {
                $.ajax({
                    type: "Post",
                    url: "/PEST/DIEPINESURVEYREPORTManager",
                    data: { DIEPINESURVEYID: DataId, Method: Method },
                    dataType: "json",
                    success: function (data) {
                        if (data.Success) {
                            layer.msg(data.Msg, { icon: 6 });
                            query(Page);
                        }
                        else {
                            layer.msg(data.Msg, { icon: 5 });
                        }
                    },
                    error: function () {
                        layer.msg('系统异常!', { icon: 5 });
                    }
                });
            });
        }
        else if (Method == 'See') {
            layer.open({
                type: 2,
                title: '查看枯死松树数据',
                area: ['750px', '300px'],
                fix: true,
                maxmin: true,
                content: '/PEST/DIEPINESURVEYREPORTDataSee?DIEPINESURVEYID=' + DataId,
            })
        }
        else {
            var btnInfo = ['保存', '取消'];
            var str = "添加枯死松树";
            if (Method == "Mdy")
                str = "修改枯死松树";
            if (Method == 'Add') {
                $('#BYORGNO').val($('#OrgNo').val());
                $('#DIEPINESURVEYID').val('');
                $('#FINDER').val('');
                $('#LINKTELL').val('');
                $('#SAMPLINGCOUNT').val('');
                $('#DIEPINECOUNT').val('');
                $('#AUTHENTICATERESULT').val('');
            }
            else if (Method == 'Mdy') {
                $.ajax({
                    type: "Post",
                    url: "/PEST/GetDIEPINESURVEYREPORTDataJson",
                    data: { DIEPINESURVEYID: DataId },
                    dataType: "json",
                    success: function (data) {
                        if (data.PEST_REPORT_DIEPINESURVEYID != null) {
                            $('#DIEPINESURVEYID').val(data.PEST_REPORT_DIEPINESURVEYID);
                            $('#BYORGNO').val(data.BYORGNO);
                            $('#FINDER').val(data.FINDER);
                            $('#FINDDATE').val(data.FINDDATE);
                            $('#REPORTDATE').val(data.REPORTDATE);                          
                            $('#SAMPLINGCOUNT').val(data.SAMPLINGCOUNT);
                            $('#DIEPINECOUNT').val(data.DIEPINECOUNT);
                            $('#LINKTELL').val(data.LINKTELL);
                            $('#AUTHENTICATERESULT').val(data.AUTHENTICATERESULT);
                        }
                    },
                    error: function () {
                        layer.msg('系统异常!', { icon: 5 });
                    }
                });
            }
            layer.open({
                type: 1,
                title: str,
                area: ['750px', '380px'],
                btn: btnInfo,
                shade: 0,
                maxmin: true,
                content: $('#tableAdd'),
                yes: function (index, layero) {
                    var DIEPINESURVEYID = $('#DIEPINESURVEYID').val();
                    if (DIEPINESURVEYID != "") {
                        Method = 'Mdy';
                    }

                    var FINDER = $('#FINDER').val();
                    if ($.trim(FINDER) == "") {
                        layer.msg('请输入发现人!', { icon: 5 });
                        $('#FINDER').focus();
                        return;
                    }

                    var LINKTELL = $('#LINKTELL').val();
                    if ($.trim(LINKTELL) == "") {
                        layer.msg('请输入手机号码!', { icon: 5 });
                        $('#LINKTELL').focus();
                        return;
                    }
                    else {
                        if (checkPhone(LINKTELL) == false) {
                            layer.msg('手机号码格式不正确!', { icon: 5 });
                            $('#LINKTELL').focus();
                            return;
                        }
                    }

                    var SAMPLINGCOUNT = $('#SAMPLINGCOUNT').val();
                    if ($.trim(SAMPLINGCOUNT) == "") {
                        layer.msg('请输入取样株数!', { icon: 5 });
                        $('#SAMPLINGCOUNT').focus();
                        return;
                    }
                    else {
                        if (!CheckINT(SAMPLINGCOUNT)) {
                            layer.msg('取样株数请输入正整数!', { icon: 5 });
                            $('#SAMPLINGCOUNT').focus();
                            return;
                        }
                    }

                    $.ajax({
                        type: "Post",
                        url: "/PEST/DIEPINESURVEYREPORTManager",
                        data: {
                            DIEPINESURVEYID: DIEPINESURVEYID,
                            BYORGNO: $('#BYORGNO').val(),
                            FINDER: FINDER,
                            FINDDATE: $('#FINDDATE').val(),
                            REPORTDATE: $('#REPORTDATE').val(),                                                      
                            SAMPLINGCOUNT: SAMPLINGCOUNT,
                            DIEPINECOUNT: $('#DIEPINECOUNT').val(),
                            LINKTELL: LINKTELL,
                            AUTHENTICATERESULT: $('#AUTHENTICATERESULT').val(),                          
                            Method: Method
                        },
                        dataType: "json",
                        success: function (data) {
                            if (data.Success) {
                                var arrMsg = data.Msg.split(',');
                                $('#DIEPINESURVEYID').val(arrMsg[1]);
                                layer.confirm(arrMsg[0] + ' 请返回?', { icon: 3, title: '提示' }, function (index2) {
                                    layer.close(index2);
                                    layer.close(index);
                                    query(Page);
                                });
                            }
                            else {
                                layer.msg(data.Msg, { icon: 5 });
                            }
                        },
                        error: function () {
                            layer.msg('系统异常!', { icon: 5 });
                        }
                    });
                },
                cancel: function (index) {
                    layer.close(index);
                }
            })
        }
    }
</script>
