@{
    Layout = "~/Views/Shared/_LayOutIndex.cshtml";
}
@section Header{
    <script src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'west'" title="" style=" width:220px; border: none; ">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>

    <div data-options="region:'center'" title="" style=" border: none; background:#ddceee;">
        <div class="easyui-layout" data-options="fit:true" style=" border:0;">
            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <div class="home ">
                        单位：<select id="tbxORGNO" onchange="Query()">@Html.Raw(@ViewBag.vdOrg)</select>&nbsp;&nbsp;&nbsp;
                        发现人：<input id="tbxFINDER" name="tbxFINDER" type="text" value="@ViewBag.FINDER" />&nbsp;&nbsp;&nbsp;
                        开始日期：<input id="tbxStartDate" type="text" class="Wdate" style="width:100px;" value="@ViewBag.STARTDATE" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" />&nbsp;&nbsp;&nbsp;
                        结束日期：<input id="tbxEndDate" type="text" class="Wdate" style="width:100px;" value="@ViewBag.ENDDATE" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" />
                        <input type="button" value="查询" onclick="Query()" class="btnSearchCss" />
                        <input type="button" value="添加" onclick="Manager('Add','')" id="btnAdd" class="btnAddCss" style="display:none;" />
                        <input type="button" value="删除" onclick="Manager('Del','')" id="btnDel" class="btnDelCss" style="display:none;" />
                        <input type="button" value="导出" onclick="Export()" id="btnExport" class="btnOutputCss" style="display:none;">
                    </div>
                </div>
            </div>
            <div data-options="region:'center'" title="" style=" border: none; ">
                <div class="divTable">
                    @Html.Raw(@ViewBag.TableInfo)
                </div>
            </div>
            <div data-options="region:'south'" title="" style=" height:40px; border: none; overflow:hidden;  text-align:right;padding:2px 2px 2px 2px;">
                @Html.Raw(@ViewBag.PageInfo)
            </div>
        </div>
    </div>
</div>

<div id="tableAdd" class="divMan" style="display:none;margin-left:5px;margin-top:8px">
    <input id="DIEPINESURVEYID" name="DIEPINESURVEYID" type="hidden" value="" />
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td style="width:100px;">单位：</td>
            <td><select id="BYORGNO" style="width:96%;">@Html.Raw(@ViewBag.vdOrg)</select></td>
            <td style="width:100px;">发现日期：</td>
            <td><input id="FINDDATE" type="text" class="Wdate" value="@ViewBag.FINDDATE" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" style="width: 99%;" /></td>
        </tr>
        <tr>
            <td>发现人： </td>
            <td><input id="FINDER" type="text" class="input-small" value="" style="width:94%;" /><span style="color:red;">*</span></td>
            <td>联系电话：</td>
            <td><input id="LINKTELL" type="text" class="input-small" value="" style="width:94%;" /><span style="color:red;">*</span></td>
        </tr>
        <tr>
            <td>取样株数： </td>
            <td><input id="SAMPLINGCOUNT" type="text" class="input-small" value="" style="width:94%;" /><span style="color:red;">*</span></td>
            <td>死亡株数：</td>
            <td><input id="DIEPINECOUNT" type="text" class="input-small" value="" style="width:99%;" /></td>
        </tr>
        <tr>
            <td>鉴定结果：</td>
            <td colspan="3"><input id="AUTHENTICATERESULT" type="text" class="input-small" value="" style="width:99%" /></td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    var blnAdd = '@ViewBag.Add';
    if (blnAdd == "1") {
        document.getElementById('btnAdd').style.display = "";
    }
    var blnDel = '@ViewBag.Del';
    if (blnDel == "1") {
        document.getElementById('btnDel').style.display = "";
    }
    var blnExport = '@ViewBag.Export';
    if (blnExport == "1") {
        document.getElementById('btnExport').style.display = "";
    }

    function Query() {
        var startDate = $('#tbxStartDate').val();
        var endDate = $('#tbxEndDate').val();
        if (!checkEndTime(startDate, endDate)) {
            layer.msg("开始日期不能大于结束日期!", { icon: 5 });
            return;
        }
        $.ajax({
            url: '/PEST/DIEPINESURVEYREPORTQuery',
            type: 'get',
            timeout: 10000, //10秒后超时，如果为0则永不超时
            data: {
                Page: $('#selPage').val(),
                PageSize: $('#selPageSize').val(),
                BYORGNO: $('#tbxORGNO').val(),
                FINDER: $('#tbxFINDER').val(),
                STARTDATE: startDate,
                ENDDATE: endDate
            },
            dataType: 'json',
            success: function (data, ioArgs) {
                if (data.Success) {
                    window.location.assign(data.Url);
                }
                else {
                    layer.msg(data.Msg, { icon: 5 });
                }
            },
            error: function () {
                layer.msg("查询异常!", { icon: 5 });
            }
        });
    }
    //勾选
    function SelectAll(v, c) {
        var _len = $("#DIEPINESURVEYTable tr").length - 1;//行数
        if (_len > 0) {
            if (v == "ALL") {
                for (var i = 0; i < _len; i++) {
                    document.getElementById('tbxDIEPINE' + i).checked = c;
                }
            }
        }
    }
    //增、删、改
    function Manager(Method, DataId) {
        if (Method == 'Del') {
            var DIEPINESURVEYID = $("input:checkbox[name='tbxDIEPINE']:checked").map(function (index, elem) { return $(elem).val(); }).get().join(',');
            if (DIEPINESURVEYID.length > 0) {
                layer.confirm('确实要删除吗?', { icon: 3, title: '提示' }, function (index) {
                    $.ajax({
                        type: "Post",
                        url: "/PEST/DIEPINESURVEYREPORTManager",
                        data: { DIEPINESURVEYID: DIEPINESURVEYID, Method: Method },
                        dataType: "json",
                        success: function (data) {
                            if (data.Success) {
                                layer.msg(data.Msg, { icon: 6 });
                                Query();
                            }
                            else {
                                layer.msg(data.Msg, { icon: 5 });
                            }
                        },
                        error: function () {
                            layer.msg('系统异常!', { icon: 5 });
                        }
                    });
                });
            }
            else {
                layer.msg('请选择要删除的数据!', { icon: 5 });
            }
        }
        else if (Method == 'See') {
            layer.open({
                type: 2,
                title: '查看枯死松树数据',
                area: ['55%', '45%'],
                fix: true,
                maxmin: true,
                content: '/PEST/DIEPINESURVEYREPORTDataSee?DIEPINESURVEYID=' + DataId,
            })
        }
        else {
            var btnInfo = ['保存', '取消'];
            var str = "添加枯死松树";
            if (Method == "Mdy")
                str = "修改枯死松树";
            if (Method == 'Add') {
                $('#DIEPINESURVEYID').val('');
                $('#FINDER').val('');
                $('#LINKTELL').val('');
                $('#SAMPLINGCOUNT').val('');
                $('#DIEPINECOUNT').val('');
                $('#AUTHENTICATERESULT').val('');
            }
            else if (Method == 'Mdy') {
                $.ajax({
                    type: "Post",
                    url: "/PEST/GetDIEPINESURVEYREPORTDataJson",
                    data: { DIEPINESURVEYID: DataId },
                    dataType: "json",
                    error: function () {
                        layer.msg('系统异常!', { icon: 5 });
                    },
                    success: function (data) {
                        $('#DIEPINESURVEYID').val(data.PEST_REPORT_DIEPINESURVEYID);
                        $('#BYORGNO').val(data.BYORGNO);
                        $('#FINDER').val(data.FINDER);
                        $('#FINDDATE').val(data.FINDDATE);
                        $('#LINKTELL').val(data.LINKTELL);
                        $('#SAMPLINGCOUNT').val(data.SAMPLINGCOUNT);
                        $('#DIEPINECOUNT').val(data.DIEPINECOUNT);
                        $('#AUTHENTICATERESULT').val(data.AUTHENTICATERESULT);
                    }
                });
            }
            layer.open({
                type: 1,
                title: str,
                area: ['55%', '45%'],
                btn: btnInfo,
                shade: 0,
                maxmin: true,
                content: $('#tableAdd'),
                yes: function (index, layero) {
                    var DIEPINESURVEYID = $('#DIEPINESURVEYID').val();
                    if (DIEPINESURVEYID != "") {
                        Method = 'Mdy';
                    }

                    var FINDER = $('#FINDER').val();
                    if ($.trim(FINDER) == "") {
                        layer.msg('请输入发现人!', { icon: 5 });
                        $('#FINDER').focus();
                        return;
                    }

                    var LINKTELL = $('#LINKTELL').val();
                    if ($.trim(LINKTELL) == "") {
                        layer.msg('请输入手机号码!', { icon: 5 });
                        $('#LINKTELL').focus();
                        return;
                    }
                    else {
                        if (checkPhone(LINKTELL) == false) {
                            layer.msg('手机号码格式不正确!', { icon: 5 });
                            $('#LINKTELL').focus();
                            return;
                        }
                    }

                    var SAMPLINGCOUNT = $('#SAMPLINGCOUNT').val();
                    if ($.trim(SAMPLINGCOUNT) == "") {
                        layer.msg('请输入取样株数!', { icon: 5 });
                        $('#SAMPLINGCOUNT').focus();
                        return;
                    }
                    else {
                        if (!CheckINT(SAMPLINGCOUNT)) {
                            layer.msg('取样株数请输入正整数!', { icon: 5 });
                            $('#SAMPLINGCOUNT').focus();
                            return;
                        }
                    }

                    $.ajax({
                        type: "Post",
                        url: "/PEST/DIEPINESURVEYREPORTManager",
                        data: {
                            DIEPINESURVEYID: DIEPINESURVEYID,
                            BYORGNO: $('#BYORGNO').val(),
                            FINDDATE: $('#FINDDATE').val(),
                            FINDER: FINDER,
                            LINKTELL: LINKTELL,
                            SAMPLINGCOUNT: SAMPLINGCOUNT,
                            DIEPINECOUNT: $('#DIEPINECOUNT').val(),
                            AUTHENTICATERESULT: $('#AUTHENTICATERESULT').val(),
                            Method: Method
                        },
                        dataType: "json",
                        success: function (data) {
                            if (data.Success) {
                                var arrMsg = data.Msg.split(',');
                                $('#DIEPINESURVEYID').val(arrMsg[1]);
                                layer.confirm(arrMsg[0] + ' 请返回?', { icon: 3, title: '提示' }, function (index) {
                                    layer.close(index);
                                    Query();
                                });
                            }
                            else {
                                layer.msg(data.Msg, { icon: 5 });
                            }
                        },
                        error: function () {
                            layer.msg('系统异常!', { icon: 5 });
                        }
                    });
                },
                cancel: function (index) {
                    layer.close(index);
                }
            })
        }
    }
</script>
