@{
    Layout = "~/Views/Shared/_LayOutIndex.cshtml";
}
@section Header{
    <script src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'west'" title="" style=" width:220px; border: none; ">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>

    <div data-options="region:'center'" title="" style=" border: none; background:#ddceee;">
        <div class="easyui-layout" data-options="fit:true" style=" border:0;">
            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <div class="home ">
                        单位：<select id="tbxORGNO" onchange="loadPest()">@Html.Raw(@ViewBag.vdOrg)</select>&nbsp;&nbsp;&nbsp;
                        有害生物：<select id="tbxPEST" onchange="query()"></select>&nbsp;&nbsp;&nbsp;
                        日期：<input id="tbxTime" type="text" class="Wdate" style="width:100px" value="@ViewBag.Time" onclick="WdatePicker({ dateFmt: 'yyyy-MM'})" />
                        <input type="button" value="查 询" onclick="query()" class="btnSearchCss" />
                        <input type="button" value="保 存" onclick="Manager()" id="btnSave" class="btnSaveCss" style="display:none;">
                        <input type="button" value="导 出" onclick="Export()" id="btnExport" class="btnOutputCss" style="display:none;">
                    </div>
                </div>
            </div>
            <div data-options="region:'center'" title="" style=" border: none; ">
                <div id="divTable" class="divTable">

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var blnSave = '@ViewBag.Save';
    if (blnSave == "1") {
        document.getElementById('btnSave').style.display = "";
    }
    var blnExport = '@ViewBag.Export';
    if (blnExport == "1") {
        document.getElementById('btnExport').style.display = "";
    }

    $(function () {
        loadPest();
    });

    function loadPest() {
        $.ajax({
            type: 'get',
            url: '/PEST/LoadPestSelectOption',
            data: { ORGNO: $('#tbxORGNO').val(), },
            dataType: 'json',
            success: function (data, ioArgs) {
                if (data.Success) {
                    $('#tbxPEST').html("");
                    $('#tbxPEST').html(data.Msg);
                    query();
                }
                else {
                    $('#tbxPEST').html("");
                }
            },
            error: function (err, ioArgs) {
                layer.msg("登录异常!", { icon: 5 });
            }
        });
    }

    function query() {
        var time = $('#tbxTime').val();
        if (time == "") {
            layer.msg("请选择查询日期!", { icon: 5 });
            return;
        }
        $.ajax({
            type: 'get',
            url: '/PEST/HARMREPORTQuery',
            dataType: 'json',
            data: { ORGNO: $('#tbxORGNO').val(), PESTCODE: $('#tbxPEST').val(), Time: time },
            success: function (data, ioArgs) {
                if (data.Success) {
                    $('#divTable').html("");
                    $('#divTable').html(data.Msg);
                }
                else {
                    $('#divTable').html("");
                }
            },
            error: function (err, ioArgs) {
                layer.msg("查询异常!", { icon: 5 });
            }
        });
    }

    function Manager() {
        var _len = $("#HARMTable tr").length - 3;//行数
        if (_len > 0) {
            var PESTCODE = $('#tbxPEST').val();
            if (PESTCODE == "") {
                layer.msg('请选择有害生物!', { icon: 5 });;
                return;
            }
            var sTime = $('#tbxTime').val().split('-');
            var strBYORGNO = "";
            var strDISASTERAREA = "";
            var strFORECASTDISASTERAREA = "";
            var strDIEPLATECOUNT = "";
            for (var i = 0; i < _len; i++) {
                var DISASTERAREA = $('#txt' + i.toString() + '0' + '').val();
                var FORECASTDISASTERAREA = $('#txt' + i.toString() + '1' + '').val();
                var DIEPLATECOUNT = $('#txt' + i.toString() + '2' + '').val();
                if ($.trim(DISASTERAREA) != "") {
                    if (!CheckNUM2(DISASTERAREA)) {
                        layer.msg('成灾面积请输入正数,且最多保留2位有效小数!', { icon: 5 });
                        $('#txt' + i.toString() + '0' + '').focus();
                        return;
                    }
                }
                if ($.trim(FORECASTDISASTERAREA) != "") {
                    if (!CheckNUM2(FORECASTDISASTERAREA)) {
                        layer.msg('预计成灾面积请输入正数,且最多保留2位有效小数!', { icon: 5 });
                        $('#txt' + i.toString() + '1' + '').focus();
                        return;
                    }
                }
                if ($.trim(DIEPLATECOUNT) != "") {
                    if (!CheckINT(DIEPLATECOUNT)) {
                        layer.msg('死亡株数请输入正整数!', { icon: 5 });
                        $('#txt' + i.toString() + '2' + '').focus();
                        return;
                    }
                }
                if ($.trim(DISASTERAREA) != "" || $.trim(FORECASTDISASTERAREA) != "" || $.trim(DIEPLATECOUNT) != "") {
                    strBYORGNO = strBYORGNO + $('#txtORGNO' + i + '').val() + ",";
                    strDISASTERAREA = strDISASTERAREA + DISASTERAREA + ",";
                    strFORECASTDISASTERAREA = strFORECASTDISASTERAREA + FORECASTDISASTERAREA + ",";
                    strDIEPLATECOUNT = strDIEPLATECOUNT + DIEPLATECOUNT + ",";
                }
            }
            $.ajax({
                url: '/PEST/HARMREPORTManager',
                type: 'post',
                timeout: 10000, //10秒后超时，如果为0则永不超时
                dataType: 'json',
                data: {
                    TopORGNO: $('#tbxORGNO').val(),
                    BYORGNO: strBYORGNO,
                    HAPPENYEAR: sTime[0],
                    HAPPENMONTH: sTime[1],
                    PESTBYCODE: PESTCODE,
                    DISASTERAREA: strDISASTERAREA,
                    FORECASTDISASTERAREA: strFORECASTDISASTERAREA,
                    DIEPLATECOUNT: strDIEPLATECOUNT
                },
                success: function (data, ioArgs) {
                    if (data.Success) {
                        layer.msg(data.Msg, { icon: 6 });
                        query();
                    }
                    else {
                        layer.msg(data.Msg, { icon: 5 });
                    }
                },
                error: function (err, ioArgs) {
                    layer.msg("保存异常!", { icon: 5 });
                }
            });
        }
    }

    function Export() {
        var ORGNO = $('#tbxORGNO').val();
        var PESTCODE = $('#tbxPEST').val();
        var Time = $('#tbxTime').val();
        var url = '/PEST/HARMREPORTExportExcel?ORGNO=' + ORGNO + '&PESTCODE=' + PESTCODE + '&Time=' + Time;
        window.location = url;
    }
</script>