@{
    Layout = "~/Views/Shared/_LayOutIndex.cshtml";
}
@section Header{
    <script src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'west'" title="" style=" width:220px; border: none; ">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>

    <div data-options="region:'center'" title="" style=" border: none; background:#ddceee;">
        <div class="easyui-layout" data-options="fit:true" style=" border:0;">
            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <div class="home ">
                        单位：<select id="tbxORGNO" onchange="query()">@Html.Raw(@ViewBag.vdOrg)</select>&nbsp;&nbsp;&nbsp;
                        年份：<input id="tbxYEAR" type="text" class="Wdate" style="width:100px" value="@ViewBag.Time" onclick="WdatePicker({ dateFmt: 'yyyy'})" />
                        <input type="button" value="查 询" onclick="query()" class="btnSearchCss" />
                        <input type="button" value="保 存" onclick="manager()" id="btnSave" class="btnSaveCss" style="display:none;">
                    </div>
                </div>
            </div>
            <div data-options="region:'center'" title="" style=" border: none; ">
                <div id="divTable" class="divTable">

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var blnSave = '@ViewBag.Save';
    if (blnSave == "1") {
        document.getElementById('btnSave').style.display = "";
    }
    query();
    function query() {
        var year = $('#tbxYEAR').val();
        if (year == "") {
            layer.msg("请选择查询年份!", { icon: 5 });
            return
        }
        $.ajax({
            type: 'get',
            url: '/PEST/PESTOBSERVEAREAListQuery',
            dataType: 'html',
            data: { ORGNO: $('#tbxORGNO').val(), YEAR: year },
            dataType: 'json',
            success: function (data, ioArgs) {
                if (data.Success) {
                    $('#divTable').html("");
                    $('#divTable').html(data.Msg);
                }
                else {
                    $('#divTable').html("");
                }
            },
            error: function (err, ioArgs) {
                layer.msg("查询异常!", { icon: 5 });
            }
        });
    }

    function manager() {
        var _len = $("#AreaTable tr").length - 1;//行数
        if (_len > 0) {
            var strBYORGNO = "";
            var strAREA = "";;
            for (var i = 0; i < _len; i++) {
                var s2 = $('#txtAREA' + i + '').val();
                if ($.trim(s2) != "") {
                    if (!CheckNUM2(s2)) {
                        layer.msg('应施面积请输入正数,且最多保留2位有效小数!', { icon: 5 });
                        $('#txtAREA' + i + '').focus();
                        return;
                    }
                    else {
                        var s1 = $('#txtORGNO' + i + '').val();
                        strBYORGNO = strBYORGNO + s1 + ",";
                        strAREA = strAREA + s2 + ",";
                    }
                }
            }
            $.ajax({
                url: '/PEST/PESTOBSERVEAREAManager',
                timeout: 10000, //10秒后超时，如果为0则永不超时
                data: {
                    TopORGNO: $('#tbxORGNO').val(),
                    OBSERVEYEAR: $('#tbxYEAR').val(),
                    BYORGNO: strBYORGNO,
                    OBSERVEAREA: strAREA
                },
                success: function (data, ioArgs) {
                    var ar = eval('(' + data + ')');
                    if (ar.Success) {
                        layer.msg(ar.Msg, { icon: 6 });
                        query();
                    }
                    else {
                        layer.msg(ar.Msg, { icon: 5 });
                    }
                },
                error: function (err, ioArgs) {
                    layer.msg("保存异常!", { icon: 5 });
                }
            });
        }
    }
</script>
