@{
    Layout = "~/Views/Shared/_LayOutIndex.cshtml";
}
@section Header{
    <script src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'west'" title="" style=" width:220px; border: none; ">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>
    <div data-options="region:'center'" title="" style=" border: none; background:#ddceee;">
        <div class="easyui-layout" data-options="fit:true" style=" border:0;">
            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <div class="home ">
                        单位：<select id="tbxORGNO" name="tbxORGNO" onchange="query('1')">@Html.Raw(@ViewBag.vdOrg)</select>&nbsp;&nbsp;&nbsp;
                        调查类型：<select id="tbxSEARCHTYPE" name="tbxSEARCHTYPE" onchange="query('1')">@Html.Raw(@ViewBag.SEARCHTYPE)</select>&nbsp;&nbsp;
                        上传时间：<input id="tbxStartTime" name="tbxStartTime" type="text" class="Wdate" value="@ViewBag.StartTime" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" style="width:100px" />&nbsp;&nbsp;
                        至&nbsp;&nbsp;<input id="tbxEndTime" name="tbxEndTime" type="text" class="Wdate" value="@ViewBag.EndTime" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" style="width:100px" />&nbsp;&nbsp;&nbsp;
                        村名：<input id="tbxVILLAGENAME" name="tbxVILLAGENAME" type="text" style="width:100px" value="@ViewBag.VILLAGENAME" />&nbsp;&nbsp;
                        <input id="btnQuery" type="button" value="查 询" onclick="query('1')" class="btnSearchCss" />
                        <input id="btnAdd" type="button" value="添 加" onclick="Manager('Add','','','')" style="display:none;" class="btnAddCss" />
                    </div>
                </div>
            </div>
            <div data-options="region:'center'" title="" style=" border: none; ">
                <div class="divTable" id="divTable">

                </div>
            </div>
            <div data-options="region:'south'" title="" style=" height:40px; border: none; overflow:hidden;  text-align:right;padding:2px 2px 2px 2px;">
                <div class="divPager" id="divPager">

                </div>
            </div>
        </div>
    </div>
</div>

<div id="tableAdd" class="divMan" style="display:none;margin-left:5px;margin-top:8px">
    <input id="PESTCOLLDATAID" name="PESTCOLLDATAID" type="hidden" value="" />
    <input id="OrgNo" name="OrgNo" type="hidden" value="@ViewBag.OrgNo" />
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td class="tdField" style="width:100px;">单位：</td>
            <td><select id="BYORGNO" style="width:95%;" onchange="loadHotsTreeSpecies()">@Html.Raw(@ViewBag.vdOrg)</select></td>
            <td class="tdField" style="width:100px;">调查类型：</td>
            <td><select id="SEARCHTYPE" style="width:95%;" onchange="loadHotsTreeSpecies()">@Html.Raw(@ViewBag.SEARCHTYPEAdd)</select></td>
        </tr>
        <tr>
            <td class="tdField">寄主树种：</td>
            <td><select id="HOSTTREESPECIESCODE" style="width:95%;" onchange="loadCollectPest()"></select></td>
            <td class="tdField">病虫名称：</td>
            <td><select id="COLLECTPESTCODE" style="width:95%;"></select></td>
        </tr>
        <tr>
            <td class="tdField">村名： </td>
            <td><input id="VILLAGENAME" type="text" value="" style="width:95%;" /><span class="spanRequiredField">*</span></td>
            <td class="tdField">小地名：</td>
            <td><input id="SMALLADDRESS" type="text" value="" style="width:95%;" /><span class="spanRequiredField">*</span></td>
        </tr>
        <tr>
            <td class="tdField">小班号： </td>
            <td><input id="SMALLCLASSCODE" type="text" value="" style="width:95%;" /><span class="spanRequiredField">*</span></td>
            <td class="tdField">小班面积：</td>
            <td><input id="SMALLCLASSAREA" type="text" value="" style="width:88%;" /><span class="spanMark">&nbsp;公顷</span></td>
        </tr>
        <tr>
            <td class="tdField">经纬度点：</td>
            <td colspan="2"><input id="JWDLIST" type="text" style="width:95%" value="" /></td>
            <td>
                <input id="KID" type="hidden" value="" />
                <input type="button" value="地图定位" onclick="SetLine()" class="btnMapLoaclCss" />
            </td>
        </tr>
        <tr>
            <td class="tdField">危害部位：</td>
            <td><select id="HARMPOSITION" style="width:95%;">@Html.Raw(@ViewBag.HARMPOSITIONAdd)</select></td>
            <td class="tdField">危害程度：</td>
            <td><select id="HARMLEVEL" style="width:95%;">@Html.Raw(@ViewBag.HARMLEVELAdd)</select></td>
        </tr>
        <tr>
            <td class="tdField">疑似病死：</td>
            <td><input id="DEADCOUNT" type="text" value="" style="width:90%;" /><span class="spanMark">&nbsp;株&nbsp;</span></td>
            <td class="tdField">不明枯死：</td>
            <td><input id="UNKNOWNDIEOFFCOUNT" type="text" value="" style="width:90%;" /><span class="spanMark">&nbsp;株&nbsp;</span></td>
        </tr>
        <tr>
            <td class="tdField">其他枯死：</td>
            <td><input id="ELSEDIEOFFCOUNT" type="text" value="" style="width:90%;" /><span class="spanMark">&nbsp;株&nbsp;</span></td>
            <td class="tdField">取&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;样：</td>
            <td><input id="SAMPLECOUNT" type="text" value="" style="width:90%;" /><span class="spanMark">&nbsp;株&nbsp;</span></td>
        </tr>
        <tr>
            <td class="tdField">处理状态：</td>
            <td><select id="MANSTATE" name="MANSTATE" style="width:95%;">@Html.Raw(@ViewBag.MANSTATEAdd)</select></td>
            <td class="tdField">反馈结果：</td>
            <td><input id="MANRESULT" type="text" value="" style="width:95%" /></td>
        </tr>
        <tr>
            <td class="tdField">备注：</td>
            <td colspan="3"><input id="MARK" type="text" value="" style="width:95%" /></td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    var blnAdd = '@ViewBag.Add';
    if (blnAdd == "1") {
        document.getElementById('btnAdd').style.display = "";
    }
    $(function () {
        query('1');
        loadHotsTreeSpecies();
    });

    var page = 1;//当前默认页面为1
    function query(Page) {
        if (Page != "") {
            page = Page;
        }
        var pagesize = '0';
        if (document.getElementById("selPageSize") != null) {
            pagesize = document.getElementById("selPageSize").value;
        }
        var startTime = $('#tbxStartTime').val();
        var endTime = $('#tbxEndTime').val();
        if (startTime != "" && endTime != "") {
            if (!checkEndTime(startTime, endTime)) {
                layer.msg("开始时间不能大于结束时间!", { icon: 5 });
                return;
            }
        }
        $.ajax({
            url: '/PEST/PESTCollectListQuery',
            timeout: 10000, //10秒后超时，如果为0则永不超时
            data: {
                PageSize: pagesize,
                BYORGNO: $('#tbxORGNO').val(),
                StartTime: startTime,
                EndTime: endTime,
                SEARCHTYPE: $('#tbxSEARCHTYPE').val(),
                VILLAGENAME: $('#tbxVILLAGENAME').val(),
                Page: page
            },
            dataType: 'json',
            success: function (data, ioArgs) {
                if (data.Success) {
                    $('#divTable').html(data.tableInfo);
                    $('#divPager').html(data.pagerInfo);
                }
                else {
                    $('#divTable').html('');
                    $('#divPager').html('');
                }
            },
            error: function (err, ioArgs) {
                layer.msg('系统异常!', { icon: 5 });
            }
        });
    }

    //加载寄主树种
    function loadHotsTreeSpecies() {
        $.ajax({
            type: "Post",
            url: "/PEST/LoadTreeSpecies",
            data: { OrgNo: $('#BYORGNO').val(), SearchType: $('#SEARCHTYPE').val() },
            dataType: "json",
            success: function (data) {
                if (data.Success) {
                    $('#HOSTTREESPECIESCODE').html('');
                    $('#HOSTTREESPECIESCODE').html(data.Msg);
                    loadCollectPest();
                }
                else {
                    $('#HOSTTREESPECIESCODE').html('');
                }
            },
            error: function () {
                layer.msg('系统异常!', { icon: 5 });
            }
        });
    }

    //加载病虫名称
    function loadCollectPest() {
        var treeSpecies = $('#HOSTTREESPECIESCODE').val();
        if (treeSpecies != "") {
            $.ajax({
                type: "Post",
                url: "/PEST/LoadCollectPest",
                data: { TreeSpecies: treeSpecies },
                dataType: "json",
                success: function (data) {
                    if (data.Success) {
                        $('#COLLECTPESTCODE').html('');
                        $('#COLLECTPESTCODE').html(data.Msg);
                    }
                    else {
                        $('#COLLECTPESTCODE').html('');
                    }
                },
                error: function () {
                    layer.msg('系统异常!', { icon: 5 });
                }
            });
        }
        else {
            $('#COLLECTPESTCODE').html("<option value=''>==暂无病虫==</option>");
        }
    }

    //行选中改变颜色
    function SetColor(obj) {
        $(obj).css("background-color", "#FFDAB9");
        $("tr").not($(obj)).css("background-color", "");
    }

    //地图定位
    function SetLine() {
        var code = $('#COLLECTPESTCODE').val();
        if (code != "") {
            var name = $('#COLLECTPESTCODE').find('option:selected').text();
            var str = document.getElementById("JWDLIST").value;
            layer.open({
                type: 2,
                title: name + '地图位置设置',
                btn: ['保存', '关闭'],
                area: ['70%', '80%'],
                fix: false, //不固定
                maxmin: true,
                content: '/MapCommon/GetMapPontIndex?LINE=2',
                success: function (layero, index) {
                    var body = layer.getChildFrame('body', index);
                    body.find('#editcollecttxt').text(str);
                    window["layui-layer-iframe" + index].getLocaCollectPolygon();//面
                },
                yes: function (index, layero) { //或者使用btn1
                    var ptxt = layer.getChildFrame("#editcollecttxt", index);
                    $('#JWDLIST').val(ptxt.html());
                    if ($('#JWDLIST').val() == "") {
                        $('#SMALLCLASSAREA').val("");
                    }
                    else {
                        var lm = layer.getChildFrame("#MjACdtxt", index)//面积
                        $('#SMALLCLASSAREA').val(lm.html());//面积
                    }
                    layer.close(index);
                },
                cancel: function (index) {
                    layer.close(index);
                }
            });
        }
        else {
            layer.msg('暂无虫害,无法定位!', { icon: 5 });
        }
    }

    //地图定位(面)
    function PositionLine(tablename, id, name, type) {
        layer.open({
            type: 2,
            title: name + '地图定位',
            area: ['70%', '80%'],
            fix: true,
            maxmin: true,
            content: '/MapCommon/MapPostionCommonIndex?tablename=' + tablename + "&id=" + id + "&type=" + type
        })
    }

    //增、删、改、查看、图片
    function Manager(Method, DataId, Page, BioCode) {
        if (Method == 'Photo') {
            layer.open({
                type: 2,
                title: '照片管理',
                area: ['800px', '450px'],
                fix: true,
                maxmin: true,
                content: '/PEST/PhotoIndex?DataId=' + DataId
            });
        }
        else if (Method == 'Del') {
            layer.confirm('确实要删除吗?', { icon: 3, title: '提示' }, function (index) {
                $.ajax({
                    type: "Post",
                    url: "/PEST/PESTCollectDataManager",
                    data: { PESTCOLLDATAID: DataId, Method: Method },
                    dataType: "json",
                    success: function (data) {
                        if (data.Success) {
                            layer.msg(data.Msg, { icon: 6 });
                            query(Page);
                        }
                        else {
                            layer.msg(data.Msg, { icon: 5 });
                        }
                    },
                    error: function () {
                        layer.msg('系统异常!', { icon: 5 });
                    }
                });
            });
        }
        else if (Method == 'See') {
            layer.open({
                type: 2,
                title: '查看',
                area: ['800px', '450px'],
                fix: true,
                maxmin: true,
                content: '/PEST/PESTCollectDataSee?DataId=' + DataId + '&BioCode=' + BioCode,
            });
        }
        else {
            var btnInfo = ['保存', '取消'];
            var str = "采集有害生物数据";
            if (Method == "Mdy")
                str = "修改有害生物数据";
            if (Method == 'Add') {
                $('#BYORGNO').val($('#OrgNo').val());
                $('#SEARCHTYPE').val('1');
                $('#VILLAGENAME').val('');
                $('#SMALLADDRESS').val('');
                $('#SMALLCLASSCODE').val('');
                $('#SMALLCLASSAREA').val('');
                $('#KID').val('');
                $('#DEADCOUNT').val('');
                $('#UNKNOWNDIEOFFCOUNT').val('');
                $('#ELSEDIEOFFCOUNT').val('');
                $('#SAMPLECOUNT').val('');
                $('#MANRESULT').val('');
                $('#MARK').val('');
                loadHotsTreeSpecies();
            }
            else if (Method == 'Mdy') {
                $.ajax({
                    type: "get",
                    url: "/PEST/GetPESTCollectDataJson",
                    data: { PESTCOLLDATAID: DataId },
                    dataType: "json",
                    success: function (data) {
                        if (data.PESTCOLLDATAID != null) {
                            $('#PESTCOLLDATAID').val(data.PESTCOLLDATAID);
                            $('#BYORGNO').val(data.BYORGNO);
                            $('#HOSTTREESPECIESCODE').val(data.HOSTTREESPECIESCODE);
                            $('#SEARCHTYPE').val(data.SEARCHTYPE);
                            $('#COLLECTPESTCODE').val(data.COLLECTPESTCODE);
                            $('#VILLAGENAME').val(data.VILLAGENAME);
                            $('#SMALLADDRESS').val(data.SMALLADDRESS);
                            $('#SMALLCLASSCODE').val(data.SMALLCLASSCODE);
                            $('#SMALLCLASSAREA').val(data.SMALLCLASSAREA);
                            $('#JWDLIST').val(data.JWDLIST);
                            $('#KID').val(data.KID);
                            $('#HARMPOSITION').val(data.HARMPOSITION);
                            $('#HARMLEVEL').val(data.HARMLEVEL);
                            $('#DEADCOUNT').val(data.DEADCOUNT);
                            $('#UNKNOWNDIEOFFCOUNT').val(data.UNKNOWNDIEOFFCOUNT);
                            $('#ELSEDIEOFFCOUNT').val(data.ELSEDIEOFFCOUNT);
                            $('#SAMPLECOUNT').val(data.SAMPLECOUNT);
                            $('#MANSTATE').val(data.MANSTATE);
                            $('#MANRESULT').val(data.MANRESULT);
                            $('#MARK').val(data.MARK);
                        }
                    },
                    error: function () {
                        layer.msg('系统异常!', { icon: 5 });
                    }
                });
            }
            layer.open({
                type: 1,
                title: str,
                area: ['800px', '500px'],
                btn: btnInfo,
                shade: 0,
                maxmin: true,
                content: $('#tableAdd'),
                yes: function (index, layero) {
                    var PESTCOLLDATAID = $('#PESTCOLLDATAID').val();
                    if (PESTCOLLDATAID != "") {
                        Method = 'Mdy';
                    }
                    var VILLAGENAME = $('#VILLAGENAME').val();
                    if ($.trim(VILLAGENAME) == "") {
                        layer.msg('请输入村名!', { icon: 5 });
                        $('#VILLAGENAME').focus();
                        return;
                    }
                    var SMALLADDRESS = $('#SMALLADDRESS').val();
                    if ($.trim(SMALLADDRESS) == "") {
                        layer.msg('请输入小地名!', { icon: 5 });
                        $('#SMALLADDRESS').focus();
                        return;
                    }
                    var SMALLCLASSCODE = $('#SMALLCLASSCODE').val();
                    if ($.trim(SMALLCLASSCODE) == "") {
                        layer.msg('请输入小班号!', { icon: 5 });
                        $('#SMALLCLASSCODE').focus();
                        return;
                    }
                    var DEADCOUNT = $('#DEADCOUNT').val();
                    if ($.trim(DEADCOUNT) != "") {
                        if (!CheckINT(DEADCOUNT)) {
                            layer.msg('疑似病死株数输入非法!', { icon: 5 });
                            $('#DEADCOUNT').focus();
                            return;
                        }
                    }
                    var UNKNOWNDIEOFFCOUNT = $('#UNKNOWNDIEOFFCOUNT').val();
                    if ($.trim(UNKNOWNDIEOFFCOUNT) != "") {
                        if (!CheckINT(DEADCOUNT)) {
                            layer.msg('不明枯死株数输入非法!', { icon: 5 });
                            $('#UNKNOWNDIEOFFCOUNT').focus();
                            return;
                        }
                    }
                    var ELSEDIEOFFCOUNT = $('#ELSEDIEOFFCOUNT').val();
                    if ($.trim(ELSEDIEOFFCOUNT) != "") {
                        if (!CheckINT(ELSEDIEOFFCOUNT)) {
                            layer.msg('其他枯死株数输入非法!', { icon: 5 });
                            $('#ELSEDIEOFFCOUNT').focus();
                            return;
                        }
                    }
                    var SAMPLECOUNT = $('#SAMPLECOUNT').val();
                    if ($.trim(SAMPLECOUNT) != "") {
                        if (!CheckINT(SAMPLECOUNT)) {
                            layer.msg('取样株数输入非法!', { icon: 5 });
                            $('#SAMPLECOUNT').focus();
                            return;
                        }
                    }
                    $.ajax({
                        type: "post",
                        url: "/PEST/PESTCollectDataManager",
                        data: {
                            PESTCOLLDATAID: PESTCOLLDATAID,
                            BYORGNO: $('#BYORGNO').val(),
                            HOSTTREESPECIESCODE: $('#HOSTTREESPECIESCODE').val(),
                            SEARCHTYPE: $('#SEARCHTYPE').val(),
                            COLLECTPESTCODE: $('#COLLECTPESTCODE').val(),
                            VILLAGENAME: VILLAGENAME,
                            SMALLADDRESS: SMALLADDRESS,
                            SMALLCLASSCODE: SMALLCLASSCODE,
                            SMALLCLASSAREA: $('#SMALLCLASSAREA').val(),
                            JWDLIST: $('#JWDLIST').val(),
                            KID: $('#KID').val(),
                            HARMPOSITION: $('#HARMPOSITION').val(),
                            HARMLEVEL: $('#HARMLEVEL').val(),
                            DEADCOUNT: DEADCOUNT,
                            UNKNOWNDIEOFFCOUNT: UNKNOWNDIEOFFCOUNT,
                            ELSEDIEOFFCOUNT: ELSEDIEOFFCOUNT,
                            SAMPLECOUNT: SAMPLECOUNT,
                            MANSTATE: $('#MANSTATE').val(),
                            MANRESULT: $('#MANRESULT').val(),
                            MARK: $('#MARK').val(),
                            Method: Method
                        },
                        dataType: "json",
                        success: function (data) {
                            if (data.Success) {
                                $('#PESTCOLLDATAID').val(data.Url);
                                var arrMsg = data.Msg.split(',');
                                $('#KID').val(arrMsg[1]);
                                layer.confirm(arrMsg[0] + ' 请返回?', { icon: 3, title: '提示' }, function (index2) {
                                    layer.close(index2);
                                    layer.close(index);
                                    query(Page);
                                });
                            }
                            else {
                                layer.msg(data.Msg, { icon: 5 });
                            }
                        },
                        error: function () {
                            layer.msg('系统异常!', { icon: 5 });
                        }
                    });
                },
                cancel: function (index) {
                    layer.close(index);
                }
            })
        }
    }
</script>
