@{
    Layout = "~/Views/Shared/_LayOutIndex.cshtml";
}
@section Header{
    <script src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'west'" title="" style=" width:220px; border: none; ">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>

    <div data-options="region:'center'" title="" style=" border: none; background:#ddceee;">
        <div class="easyui-layout" data-options="fit:true" style=" border:0;">
            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <div class="home ">
                        单位：<select id="tbxORGNO" onchange="Query()">@Html.Raw(@ViewBag.vdOrg)</select>&nbsp;&nbsp;&nbsp;
                        年份：<input id="tbxTime" type="text" class="Wdate" style="width:100px" value="@ViewBag.Time" onclick="WdatePicker({ dateFmt: 'yyyy'})" />
                        <input type="button" value="查询" onclick="Query()" class="btnSearchCss" />
                        <input type="button" value="保存" onclick="Manager()" id="btnSave" class="btnSaveCss" style="display:none;">
                        <input type="button" value="导出" onclick="Export()" id="btnExport" class="btnOutputCss" style="display:none;">
                    </div>
                </div>
            </div>
            <div data-options="region:'center'" title="" style=" border: none; ">
                <input id="dic108Value" type="hidden" value="@ViewBag.dic108Value" />
                <input id="dic108Count" type="hidden" value="@ViewBag.dic108Count" />
                <div id="divTable" class="divTable">

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var blnSave = '@ViewBag.Save';
    if (blnSave == "1") {
        document.getElementById('btnSave').style.display = "";
    }
    var blnExport = '@ViewBag.Export';
    if (blnExport == "1") {
        document.getElementById('btnExport').style.display = "";
    }
    Query();
    function Query() {
        var time = $('#tbxTime').val();
        if (time == "") {
            layer.msg("请选择查询年份!", { icon: 5 });
            return;
        }
        $.ajax({
            type: 'get',
            url: '/PEST/QUARANTINEREPORTQuery',
            dataType: 'json',
            data: { ORGNO: $('#tbxORGNO').val(), Time: time },
            success: function (data, ioArgs) {
                if (data.Success) {
                    $('#divTable').html("");
                    $('#divTable').html(data.Msg);
                }
                else {
                    $('#divTable').html("");
                }
            },
            error: function (err, ioArgs) {
                layer.msg("查询异常!", { icon: 5 });
            }
        });
    }

    function Manager() {
        var _len = $("#QUARANTINETable tr").length - 1;//行数
        if (_len > 0) {
            var dic108Value = $('#dic108Value').val().split(',');
            var dic108Count = $('#dic108Count').val();
            if (dic108Count != "") {
                dic108Count = parseInt(dic108Count);
            }
            var strBYORGNO = "";
            var strQUARANTINETYPECODE = "";
            var strQUARANTINEVALUE = "";
            for (var i = 0; i < _len; i++) {
                for (var x = 0; x < dic108Count; x++) {
                    var temp = i.toString() + x.toString();
                    var QUARANTINEVALUE = $('#txt' + temp + '').val().replace('%', '');
                    if ($.trim(QUARANTINEVALUE) != "") {
                        if (!CheckNUM2(QUARANTINEVALUE)) {
                            layer.msg('请输入正数,且最多保留2位有效小数!', { icon: 5 });
                            $('#txt' + temp + '').focus();
                            return;
                        }
                        else {
                            strBYORGNO = strBYORGNO + $('#txtORGNO' + i + '').val() + ",";
                            strQUARANTINETYPECODE = strQUARANTINETYPECODE + dic108Value[x] + ",";
                            strQUARANTINEVALUE = strQUARANTINEVALUE + QUARANTINEVALUE + ",";
                        }
                    }
                }
            }
            $.ajax({
                url: '/PEST/QUARANTINEREPORTManager',
                type: 'post',
                timeout: 10000, //10秒后超时，如果为0则永不超时
                dataType: 'json',
                data: {
                    TopORGNO: $('#tbxORGNO').val(),
                    BYORGNO: strBYORGNO,
                    HAPPENYEAR: $('#tbxTime').val(),
                    QUARANTINETYPECODE: strQUARANTINETYPECODE,
                    QUARANTINEVALUE: strQUARANTINEVALUE
                },
                success: function (data, ioArgs) {
                    if (data.Success) {
                        layer.msg(data.Msg, { icon: 6 });
                        Query();
                    }
                    else {
                        layer.msg(data.Msg, { icon: 5 });
                    }
                },
                error: function (err, ioArgs) {
                    layer.msg("保存异常!", { icon: 5 });
                }
            });
        }
    }

    function Export() {
        var ORGNO = $('#tbxORGNO').val();
        var Time = $('#tbxTime').val();
        var url = '/PEST/QUARANTINEREPORTExportExcel?ORGNO=' + ORGNO + '&Time=' + Time;
        window.location = url;
    }
</script>
