@{
    Layout = "~/Views/Shared/_LayOutIndex.cshtml";
}
@section Header{
    <script src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'west'" title="" style=" width:220px; border: none; ">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>

    <div data-options="region:'center'" title="" style=" border: none; background:#ddceee;">
        <div class="easyui-layout" data-options="fit:true" style=" border:0;">
            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <ul>
                        <li class="homeUL">
                            主题：<input id="tbxTITLE" type="text" class="input-small" style="width:120px" value="" />&nbsp;&nbsp;&nbsp;
                            诊断状态：<select id="tbxSTATUS" onchange="query('1')">@Html.Raw(@ViewBag.DIAGNSTATUS)</select>&nbsp;&nbsp;&nbsp;
                            求诊时间：<input id="tbxStartTime" type="text" class="Wdate" style="width:100px" value="@ViewBag.StartTime" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" />&nbsp;&nbsp;&nbsp;
                            至&nbsp;&nbsp;<input id="tbxEndTime" type="text" class="Wdate" style="width:100px" value="@ViewBag.EndTime" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" />&nbsp;&nbsp;&nbsp;
                            <input type="button" value="查 询" onclick="query('1')" class="btnSearchCss" />
                            <input type="button" value="添 加" onclick="Manager('Add','','')" id="btnAdd" style="display:none;" class="btnAddCss" />
                        </li>
                    </ul>
                </div>
            </div>
            <div data-options="region:'center'" title="" class="LayoutCenterBG">
                <div class="divTable" id="divTable">

                </div>
            </div>
            <div data-options="region:'south'" title="" style=" height:40px; border: none; overflow:hidden;  text-align:right;padding:2px 2px 2px 2px;">
                <div class="divPager" id="divPager">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="divMan" id="tableAdd" style="display:none;margin-left:5px;margin-top:8px">
    <input id="HidID" name="HidID" type="hidden" value="" />
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td class="tdField" style="width:15%;">主题: </td>
            <td style="width:35%;"><input id="tbxDIAGNTITLE" type="text" value="" style="width:98%;" /></td>
            <td class="tdField" style="width:15%;">诊断状态: </td>
            <td style="width:35%;"><select id="tbxDIAGNSTATUS" style="width:98%;">@Html.Raw(@ViewBag.DIAGNSTATUSAdd)</select></td>
        </tr>
        <tr>
            <td class="tdField" style="width: 80px;">参与专家:</td>
            <td colspan="3"><input type="text" id="tbxDIAGNEXPERTS" value="" style="width:99%;" placeholder="多位专家名字以、分割" /></td>
        </tr>
        <tr>
            <td class="tdField">内容:</td>
            <td colspan="3"><textarea id="tbxDIAGNCONTENT" style="width: 99%; height: 100px"></textarea></td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    var bln = '@ViewBag.IsAdd';
    if (bln == "1") {
        document.getElementById('btnAdd').style.display = "";
    }

    query('1');
    //查询
    function query(Page) {
        var Pagesize = '0';
        if (document.getElementById("selPageSize") != null) {
            Pagesize = document.getElementById("selPageSize").value;
        }
        var TITLE = $('#tbxTITLE').val();
        var STATUS = $('#tbxSTATUS').val();
        var StartTime = $('#tbxStartTime').val();
        var EndTime = $('#tbxEndTime').val();
        if (!checkEndTime(StartTime, EndTime)) {
            layer.msg("开始时间不能大于结束时间!", { icon: 5 });
            return;
        }
        $.ajax({
            url: '/PEST/GetRemoteDiagnList',
            data: {
                TITLE: TITLE,
                STATUS: STATUS,
                StartTime: StartTime,
                EndTime: EndTime,
                PageSize: Pagesize,
                Page: Page
            },
            type: 'post',
            dataType: 'json',
            success: function (data) {
                if (data.Success) {
                    $('#divTable').html('');
                    $('#divPager').html('');
                    $('#divTable').html(data.tableInfo);
                    $('#divPager').html(data.pagerInfo);
                }
                else {
                    $('#divTable').html('');
                    $('#divPager').html('');
                }
            },
            error: function (err, ioArgs) {
                layer.msg('查询异常!', { icon: 5 });
            }
        });
    }

    //选中改变颜色
    function setColor(obj) {
        $(obj).css("background-color", "#FFDAB9");
        $("tr").not($(obj)).css("background-color", "");
    }

    //数据增、删、改、查看
    function Manager(Method, ID, Page) {
        if (Method == 'Del') {
            layer.confirm('确实要删除吗?', { icon: 3, title: '提示' }, function (index) {
                $.ajax({
                    type: "post",
                    url: "/PEST/RemoteDiagnManager",
                    data: { PEST_REMOTEDIAGNID: ID, Method: Method },
                    dataType: "json",
                    success: function (re) {
                        if (re.Success) {
                            layer.msg(re.Msg, { icon: 6 });
                            query(Page);
                        }
                        else {
                            layer.msg(re.Msg, { icon: 5 });
                        }
                    },
                    error: function () {
                        layer.msg('系统异常!', { icon: 5 });
                    }
                });
            });
        }
        else if (Method == 'Dign') {
            //layer.open({
            //    type: 2,
            //    title: '远程诊断',
            //    area: ['60%', '80%'],
            //    fix: true,
            //    maxmin: true,
            //    content: '/PEST/ConsulRealy?PEST_CONSULTATIONID=' + ID,
            //    end: function () {
            //        end: query(Page);
            //    }
            //})
        }
        else if (Method == 'See') {
            layer.open({
                type: 2,
                title: '查看诊断信息',
                area: ['750px', '300px'],
                fix: true,
                maxmin: true,
                content: '/PEST/RemoteDiagnDataSee?PEST_REMOTEDIAGNID=' + ID,
            })
        }
        else {
            if (Method == 'Add') {
                $('#HidID').val('');
                $("#tbxDIAGNTITLE").val('');
                $('#tbxDIAGNSTATUS').val('1');
                $("#tbxDIAGNEXPERTS").val('');
                $("#tbxDIAGNCONTENT").val('');
            }
            if (Method == 'Mdy') {
                $.ajax({
                    type: "post",
                    url: "/PEST/GetRemoteDiagnDataJson",
                    data: { PEST_REMOTEDIAGNID: ID, },
                    dataType: "json",
                    success: function (data) {
                        if (data.PEST_REMOTEDIAGNID != '') {
                            $('#HidID').val(data.PEST_REMOTEDIAGNID);
                            $("#tbxDIAGNTITLE").val(data.DIAGNTITLE);
                            $("#tbxDIAGNSTATUS").val(data.DIAGNSTATUS);
                            $("#tbxDIAGNEXPERTS").val(data.DIAGNEXPERTS);
                            $("#tbxDIAGNCONTENT").val(data.DIAGNCONTENT);
                        }
                    },
                    error: function () {
                        layer.msg('系统异常!', { icon: 5 });
                    }
                });
            }
            var btnInfo = ['保存', '取消'];
            var str = "添加诊断信息";
            if (Method == "Mdy")
                str = "修改诊断信息";
            layer.open({
                type: 1,
                title: str,
                area: ['750px', '300px'],
                btn: btnInfo,
                shade: 0,
                maxmin: true,
                content: $('#tableAdd'),
                yes: function (index, layero) {
                    var HID = $('#HidID').val();
                    if (HID != "") {
                        ID = HID;
                        Method = 'Mdy';
                    }
                    var title = $("#tbxDIAGNTITLE").val();
                    if ($.trim(title) == "") {
                        layer.msg('请输入主题!', { icon: 5 });
                        $("#tbxDIAGNTITLE").focus();
                        return;
                    }
                    var experts = $("#tbxDIAGNEXPERTS").val();
                    if ($.trim(experts) == "") {
                        layer.msg('请输入会诊专家!', { icon: 5 });
                        $("#tbxCONSULPHONE").focus();
                        return;
                    }
                    var content = $("#tbxDIAGNCONTENT").val();
                    if ($.trim(content) == "") {
                        layer.msg('请输入内容!', { icon: 5 });
                        $("#tbxDIAGNCONTENT").focus();
                        return;
                    }
                    $.ajax({
                        type: "post",
                        url: "/PEST/RemoteDiagnManager",
                        data: {
                            PEST_REMOTEDIAGNID: ID,
                            DIAGNTITLE: title,
                            DIAGNEXPERTS: experts,
                            DIAGNCONTENT: content,
                            DIAGNSTATUS: $("#tbxDIAGNSTATUS").val(),
                            Method: Method
                        },
                        dataType: "json",
                        success: function (re) {
                            if (re.Success) {
                                $('#HidID').val(re.Url);
                                layer.confirm(re.Msg + ' 请返回?', { icon: 3, title: '提示' }, function (index2) {
                                    layer.close(index2);
                                    layer.close(index);
                                });
                                if (Page != "") {
                                    query(Page);
                                }
                                else {
                                    query('1');
                                }
                            }
                            else {
                                layer.msg(re.Msg, { icon: 5 });
                            }
                        },
                        error: function () {
                            layer.msg('系统异常!', { icon: 5 });
                        }
                    });
                },
                cancel: function (index) {
                    layer.close(index);
                }
            })
        }
    }
</script>
