@{
    Layout = "~/Views/Shared/_LayOutIndexNoMenu.cshtml";
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'center'" title="" style=" border: none; background:#ddceee;">
        <div class="easyui-layout" data-options="fit:true" style=" border:0;">
            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <div class="home ">
                        伤亡名称：<input id="NAME" type="text" value="" />&nbsp;&nbsp;&nbsp;
                        伤亡类别：<select id="CCODE" onchange="query()" style="width:100px;">@Html.Raw(@ViewBag.CODE)</select>
                        <input type="button" value="查询" onclick="query()" class="btnSearchCss" />
                        <input type="button" value="添加" onclick="Manager('Add','')" class="btnAddCss" />
                    </div>
                </div>
            </div>

            <div data-options="region:'center'" title="" style=" border: none; ">
                <input id="hidFIREINFOID" type="hidden" value="@ViewBag.FIREINFOID" />
                <div class="divTable" id="divTable">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="divMan" id="tableAdd" style="display:none;margin-left:5px;margin-top:8px">
    <input id="HidID" name="HidID" type="hidden" value="" />
    <input id="DicValue" name="DicValue" type="hidden" value="" />
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td style="width:100px;">伤亡名称: </td>
                <td><input id="tbxNAME" type="text" value="" style="width:98%;" /></td>
                <td style="width:100px;">伤亡类别: </td>
                <td><select id="tbxCODE" style="width: 99%;" onchange="loadDetail()">@Html.Raw(@ViewBag.CODEAdd)</select></td>
            </tr>
            <tr>
                <td>伤亡人数:</td>
                <td><input id="tbxNUMBERS" type="text" value="" style="width:98%;" /></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>备注:</td>
                <td colspan="3"><input id="tbxMARK" type="text" value="" style="width:98%;" /></td>
            </tr>
        </tbody>
        <tbody id="tDetail"></tbody>
    </table>
</div>

<script type="text/javascript">
    $(function () {
        query();
    });

    //查询
    function query() {
        $.ajax({
            url: '/DamageAssess/GetCASUALTYList',
            timeout: 10000, //10秒后超时，如果为0则永不超时
            data: { FIREINFOID: $("#hidFIREINFOID").val(), NAME: $("#NAME").val(), CODE: $("#CCODE").val() },
            dataType: 'json',
            success: function (data) {
                if (data.Success) {
                    $('#divTable').html('');
                    $('#divTable').html(data.Msg);
                }
                else {
                    $('#divTable').html('');
                }
            },
            error: function (error) {
                layer.msg('查询异常!', { icon: 5 });
            }
        });
    }

    //加载明细
    function loadDetail(Method) {
        var id = $("#HidID").val();
        var code = $('#tbxCODE').val();
        $.ajax({
            url: '/DamageAssess/GetCASUALTYDETAILData',
            timeout: 10000, //10秒后超时，如果为0则永不超时
            data: { CASUALTYID: id, CASUALTYCODE: code, Method: Method },
            dataType: 'json',
            success: function (data) {
                if (data.Success) {
                    $('#tDetail').html('');
                    $('#tDetail').html(data.Msg);
                    $('#DicValue').val(data.Url);
                }
                else {
                    $('#tDetail').html('');
                }
            },
            error: function (error) {
                $('#tDetail').html('');
            }
        });
    }

    //选中改变颜色
    function setColor(obj) {
        $(obj).css("background-color", "#FFDAB9");
        $("tr").not($(obj)).css("background-color", "");
    }

    //数据增、删、改、查看
    function Manager(Method, ID) {
        if (Method == 'Del') {
            layer.confirm('确实要删除吗?', { icon: 3, title: '提示' }, function (index) {
                $.ajax({
                    type: "post",
                    url: "/DamageAssess/CASUALTYManager",
                    data: { CASUALTYID: ID, Method: Method },
                    dataType: "json",
                    success: function (re) {
                        if (re.Success) {
                            layer.msg(re.Msg, { icon: 6 });
                            query();
                        }
                        else {
                            layer.msg(re.Msg, { icon: 5 });
                        }
                    },
                    error: function () {
                        layer.msg('系统异常!', { icon: 5 });
                    }
                });
            });
        }
        else if (Method == 'See') {
            layer.open({
                type: 2,
                title: '查看人员伤亡损失',
                area: ['80%', '95%'],
                fix: true,
                maxmin: true,
                content: '/DamageAssess/CASUALTYDataSee?CASUALTYID=' + ID,
            })
        }
        else {
            if (Method == 'Add') {
                $("#HidID").val('');
                $("#tbxCODE").val('1');
                loadDetail(Method);
                $("#tbxNAME").val('');
                $("#tbxNUMBERS").val('');
                $("#tbxMARK").val('');
                var arrDic = $('#DicValue').val().split(',');
                for (var i = 0; i < arrDic.length; i++) {
                    $('#tbx' + arrDic[i] + '').val('');
                }
            }
            if (Method == 'Mdy') {
                $.ajax({
                    type: "post",
                    url: "/DamageAssess/GetCASUALTYJson",
                    data: { CASUALTYID: ID, },
                    dataType: "json",
                    success: function (data) {
                        if (data.FIRELOST_LOSTTYPE_CASUALTYID != '') {
                            $('#HidID').val(data.FIRELOST_LOSTTYPE_CASUALTYID);
                            $("#tbxNAME").val(data.CASUALTYNAME);
                            $("#tbxCODE").val(data.CASUALTYCODE);
                            $("#tbxNUMBERS").val(data.CASUALTYNUMBERS);
                            $("#tbxMARK").val(data.MARK);
                            loadDetail(Method);
                        }
                    },
                    error: function () {
                        layer.msg('系统异常!', { icon: 5 });
                    }
                });
            }
            var btnInfo = ['保存', '取消'];
            var str = "添加人员伤亡损失";
            if (Method == "Mdy") {
                str = "修改人员伤亡损失";
            }
            layer.open({
                type: 1,
                title: str,
                area: ['80%', '90%'],
                btn: btnInfo,
                shade: 0,
                maxmin: true,
                content: $('#tableAdd'),
                yes: function (index, layero) {
                    var HID = $('#HidID').val();
                    if (HID != "") {
                        ID = HID;
                        Method = 'Mdy';
                    }
                    var name = $("#tbxNAME").val();
                    if ($.trim(name) == "") {
                        layer.msg('请输入伤亡名称!', { icon: 5 });
                        $("#tbxNAME").focus();
                        return;
                    }
                    var numbers = $("#tbxNUMBERS").val();
                    if ($.trim(numbers) == "") {
                        layer.msg('请输入伤亡人数!', { icon: 5 });
                        $("#tbxNUMBERS").focus();
                        return;
                    }
                    else {
                        if (CheckINT(numbers) == false) {
                            layer.msg('伤亡人数请输正整数!', { icon: 5 });
                            $('#tbxNUMBERS').focus();
                            return;
                        }
                    }

                    var detaiCode = "";
                    var detailMoney = "";
                    var arrDic = $('#DicValue').val().split(',');
                    for (var i = 0; i < arrDic.length; i++) {
                        var sMoney = $('#tbx' + arrDic[i] + '').val();
                        if (sMoney != "") {
                            if (CheckNUM2(sMoney) == false) {
                                layer.msg('明细费用请输入数字,且最多保留2位有效数字!', { icon: 5 });
                                $('#tbx' + arrDic[i] + '').focus();
                                return;
                            }
                            else {
                                detaiCode += arrDic[i] + ',';
                                detailMoney += sMoney + ',';
                            }
                        }
                    }
                    if (detaiCode.length > 1) {
                        detaiCode = detaiCode.substring(0, detaiCode.length - 1);
                        detailMoney = detailMoney.substring(0, detailMoney.length - 1);
                    }
                    $.ajax({
                        type: "post",
                        url: "/DamageAssess/CASUALTYManager",
                        data: {
                            CASUALTYID: ID,
                            FIREINFOID: $('#hidFIREINFOID').val(),
                            NAME: name,
                            CODE: $('#tbxCODE').val(),
                            NUMBERS: numbers,
                            MARK: $('#tbxMARK').val(),
                            DETAILCODE: detaiCode,
                            DETAIMONEY: detailMoney,
                            Method: Method
                        },
                        dataType: "json",
                        success: function (data) {
                            if (data.Success) {
                                $('#HidID').val(data.Url);
                                layer.confirm(data.Msg + ' 请返回?', { icon: 3, title: '提示' }, function (index2) {
                                    layer.close(index2);
                                    layer.close(index);
                                });
                                query();
                            }
                            else {
                                layer.msg(data.Msg, { icon: 5 });
                            }
                        },
                        error: function () {
                            layer.msg('系统异常!', { icon: 5 });
                        }
                    });
                },
                cancel: function (index) {
                    layer.close(index);
                }
            })
        }
    }
</script>
