@{
    Layout = "~/Views/Shared/_LayOutIndexNoMenu.cshtml";
}
@section Header{
    <link href="@Url.Content("~/Scripts/umeditor/themes/default/css/umeditor.css")" type="text/css" rel="stylesheet">
    <script type="text/javascript" charset="utf-8" src="@Url.Content("~/Scripts/umeditor/umeditor.config.js")"></script>
    <script type="text/javascript" charset="utf-8" src="@Url.Content("~/Scripts/umeditor/umeditor.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/umeditor/lang/zh-cn/zh-cn.js")"></script>
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'center'" title="" style=" border: none; ">
        <div class="easyui-layout" data-options="fit:true" style=" border:0;">
            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <div class="homeUL">
                        <input type="button" class="btnSaveCss" value="保 存" onclick="Manager()">
                    </div>
                </div>
            </div>
            <div data-options="region:'center'" title="" class="LayoutCenterBG">
                <div class="divMan">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="tdField" style="width:80px;">标题:</td>
                            <td><input type="text" id="tbxARTTITLE" value="" style="width:650px" /></td>
                        </tr>
                        <tr>
                            <td class="tdField" style="width:80px;">类别:</td>
                            <td><select id="tbxARTTYPEID">@Html.Raw(@ViewBag.vdARTTYPEID) </select></td>
                        </tr>
                        <tr>
                            <td class="tdField">附件:</td>
                            <td colspan="3">
                                <input type="hidden" id="tbxPLANFILENAME" value="" style="width:650px" />
                                <form id="uploadForm" enctype="multipart/form-data">
                                    <input type="file" name="uploadify" id="attachment" style="width:500px;" />
                                    <input type="button" class="btnUploadCss" value="上 传" onclick="upload()">
                                    <label id="lblInfo" style="color:red;"></label>
                                </form>
                            </td>
                        </tr>
                        <tr class="row1">
                            <td class="tdField">内容:</td>
                            <td><script type="text/plain" id="myEditor" style="width:650px;height:250px;"></script></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var um = UM.getEditor('myEditor');
    UM.getEditor('myEditor').setContent("", false);

    $.ajax({
        url: '/ArtDocument/getDocJson',
        data: { id: '@ViewBag.id' },
        type: 'post',
        dataType: "json",
        success: function (data) {
            if (data.ARTID != null) {
                document.getElementById("tbxARTTITLE").value = data.ARTTITLE;
                UM.getEditor('myEditor').setContent(data.ARTCONTENT, false);
                document.getElementById("tbxPLANFILENAME").value = data.PLANFILENAME;
                document.getElementById("tbxARTTYPEID").value = data.ARTTYPEID;
                if (data.PLANFILENAME != '') {
                    document.getElementById('lblInfo').innerText = "已上传";
                }
                if ('@ViewBag.T_Method' == "Del") {
                    Manager();
                }
            }
            else {
                UM.getEditor('myEditor').setContent("", false);
            }
        },
        error: function () {
            layer.msg('系统异常!', { icon: 5 });
        }
    });

    function Manager() {
        $.ajax({
            url: '/ArtDocument/DocManager',
            type: 'post',
            data: {
                ARTTITLE: document.getElementById("tbxARTTITLE").value,
                ARTCONTENT: UM.getEditor('myEditor').getContent(),
                PLANFILENAME: document.getElementById("tbxPLANFILENAME").value,
                ARTTYPEID: document.getElementById("tbxARTTYPEID").value,
                id: '@ViewBag.id',
                Method: '@ViewBag.T_Method',
                typeID: '@ViewBag.typeID',
                returnUrl: '@Html.Raw(@ViewBag.T_UrlReferrer)'
            },
            dataType: "json",
            success: function (data) {
                if (data.Success) {
                    layer.confirm(data.Msg + ' 请返回?', { icon: 3, title: '提示' }, function (index2) {
                        layer.close(index2);
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index);
                        window.location.reload();
                    });
                }
                else {
                    layer.msg(data.Msg, { icon: 5 });
                }
            },
            error: function () {
                layer.msg('系统异常!', { icon: 5 });
            }
        });
    }

    //增加附件
    function upload() {
        var formData = new FormData($("#uploadForm")[0]);
        $.ajax({
            type: "post",
            url: "@Url.Action("DocUpload","ArtDocument")",
            data: formData,
            dataType: "json",
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.Success) {
                    layer.msg('上传成功!', { icon: 6 });
                    document.getElementById('lblInfo').innerText = "已上传";
                    $('#tbxPLANFILENAME').val(data.Msg);
                }
                else {
                    layer.msg(data.Msg, { icon: 5 });
                }
            },
            error: function (data) {
                layer.msg('上传失败!', { icon: 5 });
            }
        });
    }
</script>
