@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
@section Header{
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'west'" title="" style=" width:220px;">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>

    <div data-options="region:'center'" title="" class="LayoutCenterBG">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <div class="home ">
                        <input type="button" value="上一封" onclick="Manager('Up');" class="btnLastsealCss">
                        <input type="button" value="下一封" onclick="Manager('Down');" class="btnNextsealCss">
                        <input type="button" value="删除" onclick="alert('功能未启用，请稍候...');" class="btnDelCss">
                        <input type="button" value="返回" onclick="javascript: history.go(-1);" class="btnReturnCss">
                        <input type="hidden" id="HidEMAILID" name="HidEMAILID" value="@ViewBag.ERID">
                    </div>
                </div>
            </div>

            <div data-options="region:'center'" class="LayoutCenterBG">
                <div class="divMan" id="divMan">
                    @Html.Raw(@ViewBag.EmailsendMan)
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function Manager(Method) {
        $.ajax({
            url: '/Email/EmailSendManager',
            data: { EMAILID: $('#HidEMAILID').val(), Method: Method },
            type: 'get',
            dataType: 'json',
            success: function (data) {
                if (data.Success) {
                    $('#divMan').html('');
                    $('#divMan').html(data.Msg);
                    $('#HidEMAILID').val(data.Url);
                }
                else {
                    $('#divMan').html('');
                }
            },
            error: function (err, ioArgs) {
                layer.msg('系统异常!', { icon: 5 });
            }
        });
    }
</script>
