@{
    //ViewBag.Title =  "首页";
    Layout = "~/Views/Shared/_LayOutIndex.cshtml";
    // Layout = null;
}
@section Header{
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">


    <div data-options="region:'west'" title="" style=" width:220px; border: none; ">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>
    <div data-options="region:'center'" title="" style=" border: none; background:#ddceee;">

        <div class="easyui-layout" data-options="fit:true" style=" border:0;">


            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <div class="home ">
                        单位：
                        <select id="tbxBYORGNO">
                            @Html.Raw(@ViewBag.vdOrg)
                        </select>
                        火灾等级：
                        <select id="tbxFIRELEVEL">
                            @Html.Raw(@ViewBag.vdFireLevel)
                        </select>

                        <input type="button" value="查询" onclick="query(1)" class="btnSearchCss" />
                        <input type="button" value="添加" onclick="Add()" class="btnAddCss" />
                    </div>
                </div>
            </div>
            <div data-options="region:'center'" title="" style=" border: none; ">

                <div class="divTable" id="divTable">
                    @*@Html.Raw(ViewBag.UserList)*@
                </div>
            </div>
            <div data-options="region:'south'" title="" style=" height:40px; border: none; overflow:hidden;  text-align:right;padding:2px 2px 2px 2px;">
                <div class="divPager" id="divPager">
                    @*@Html.Raw(@ViewBag.PagerInfo)*@
                </div>
            </div>

        </div>
    </div>

</div>

<script type="text/javascript">

    function Manager(id) {
        if (confirm('确实要删除该内容吗?')) {
            $.ajax({
                url: '/System/FirePlanManager',
                cache: false,
                data: {
                    id: id
                    , Method: 'Del'
                    , returnUrl: '@Html.Raw(@ViewBag.T_UrlReferrer)'
                },
                type: 'post',
                error: function () {
                    alert('错误:异常!', 'error');
                },
                success: function (re) {

                    var ar = eval('(' + re + ')');
                    if (ar.Success) {
                        if (confirm(ar.Msg + ' 请返回！')) {
                            query(1);// window.location.reload();//.assign(ar.Url);
                        }
                    }
                    else {
                        alert(ar.Msg, "Error");
                    }
                }
            });
        }


    }
    function Add() {
        layer.open({
            type: 2,
            title: '添加',
            fix: false, //不固定
            area: ['56%', '90%'],
            maxmin: true,
            content: '/System/FirePlanMan',
            end: function () {
                query(1);
            }
        });
    }
    //function Add() {
    //    window.location.assign('/System/FirePlanMan');
    //}

    function Mdy(id, Method) {
        layer.open({
            type: 2,
            title: '修改',
            fix: false, //不固定
            area: ['56%', '90%'],
            maxmin: true,
            content: '/System/FirePlanMan?id=' + id + "&Method=" + Method,
            end: function () {
                query(page);
            }
        });
    }
    var page = 1;//当前默认页面为1
    function query(Page) {
        page = Page;
        var pagesize = '0';
        if (document.getElementById("selPageSize") != null) {
            pagesize = document.getElementById("selPageSize").value;
        }
        $.ajax({
            url: '/System/getFirePlanListAjax',
            cache: false,
            timeout: 10000, //10秒后超时，如果为0则永不超时
            data: {
                BYORGNO: document.getElementById("tbxBYORGNO").value,
                FIRELEVEL: document.getElementById("tbxFIRELEVEL").value,
                PageSize: pagesize,
                Page: Page,
            },
            type: 'post',
            success: function (data) {
                var ar = eval('(' + data + ')');
                if (ar.Success) {

                    $('#divTable').html(ar.tableInfo);
                    $('#divPager').html(ar.pagerInfo);
                }
                else {
                    alert(ar.Msg);
                }
            },
            error: function (err, ioArgs) {
                alert('登录异常');
            }
        });
    }
    $(function () {
        query('1');
    });
</script>
