@{
    Layout = "~/Views/Shared/_LayOutIndexNoMenu.cshtml";
}
@section Header{
}
<div class="easyui-layout" data-options="fit:true" style=" border:0;">


    @*<div data-options="region:'west'" title="" style=" width:220px; border: none;">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>*@
    <div data-options="region:'center'" title="" style=" border: none; ">

        <div class="easyui-layout" data-options="fit:true" style=" border:0;">


            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <div class="homeUL">
                        <input type="button" value="保存" class="btnSaveCss"  onclick="Manager()" id="btnSave" style="display:none;" />
                        @*<input type="button" value="返回" class="btnReturnCss" onclick="javascript: history.go(-1);" />*@
                    </div>
                </div>
            </div>
            <div data-options="region:'center'" title="" style=" border: none; ">

                <div class="divMan">
                    <table cellpadding="0" cellspacing="0">

                        <tr class='row1'>
                            <td style="width:80px;">
                                姓名:
                            </td>
                            <td>
                                <input id="tbxHNAME" type="text" value="" style="width:90%;" />
                            </td>
                            <td style="width:80px;">
                                所属乡镇:
                            </td>
                            <td>
                                <select id="tbxBYORGNO">
                                    @Html.Raw(@ViewBag.vdOrg)
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                终端编号:
                            </td>
                            <td>
                                <input id="tbxSN" type="text" value="" style="width:90%;" />
                            </td>
                            <td>
                                手机号码:
                            </td>
                            <td>
                                <input id="tbxPHONE" type="text" value="" style="width:90%;" />
                            </td>
                        </tr>
                        <tr class='row1'>
                            <td>
                                性别:
                            </td>
                            <td>
                                <select id="tbxSEX">
                                    @Html.Raw(@ViewBag.vdSex)
                                </select>
                            </td>
                            <td>
                                固\兼职:
                            </td>
                            <td>
                                <select id="tbxONSTATE">
                                    @Html.Raw(@ViewBag.vdONSTATE)
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                出生日期:
                            </td>
                            <td>
                                <input class="easyui-datebox" id="tbxBIRTH" type="text" style="width:90px;height:28px;" value="@ViewBag.TIMEBegin" />
                            </td>
                            <td>
                                状态:
                            </td>
                            <td>
                                <select id="tbxISENABLE">
                                    @Html.Raw(@ViewBag.vdISENABLE)
                                </select>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">

    if ('@ViewBag.T_Method' != 'See')
        document.getElementById("btnSave").style.display = '';
    $.ajax({
        url: '/System/getFRUserJson',
        cache: false,
        timeout: 10000, //10秒后超时，如果为0则永不超时

        data: {
            ID: '@ViewBag.T_ID'
        },
        success: function (data, ioArgs) {
            var ar = eval('(' + data + ')');
            if (ar.HID != null) {
                $('#tbxBIRTH').datebox('setValue', ar.BIRTH);
                //document.getElementById("tbxBIRTH").value = ar.BIRTH
                document.getElementById("tbxBYORGNO").value = ar.BYORGNO
                document.getElementById("tbxHNAME").value = ar.HNAME
                document.getElementById("tbxONSTATE").value = ar.ONSTATE
                document.getElementById("tbxPHONE").value = ar.PHONE
                document.getElementById("tbxSEX").value = ar.SEX
                document.getElementById("tbxSN").value = ar.SN
                document.getElementById("tbxISENABLE").value = ar.ISENABLE

                if ('@ViewBag.T_Method' == "See") {
                    document.getElementById('btnSave').style.display = 'none';
                }
                //if ('@ViewBag.T_Method' == "Mdy") {
                //document.getElementById("tbxHNAME").disabled = 'true';
                // }
                if ('@ViewBag.T_Method' == "Del") {
                    Manager();
                }
            }
        },
        error: function (err, ioArgs) {
            alert('登录异常');
        }
    });

    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]); return null;
    }

    function Manager() {
        var method = getQueryString("Method");
        var t1 = $('#tbxPHONE').val().trim();
        var id = '@ViewBag.T_ID';
        if (t1 == "") {
            layer.msg('手机号码不可为空！', { icon: 5 });
            $('#tbxPHONE').focus();
            return false;
        } else {
            if (!checkPhone(t1)) {
                layer.msg('手机号码格式不正确！', { icon: 5 });
                $('#tbxPHONE').focus();
                return false;
            }
            else {

                $.ajax({
                    type: 'post',
                    url: '/System/ValidatePhone',
                    cache: false,
                    dataType: 'json',
                    async: false,
                    timeout: 10000, //10秒后超时，如果为0则永不超时
                    data: {
                        tbxPHONE: t1,
                        method: method,
                        ID: id
                    },
                    success: function (data) {
                        if (!data.Success) {
                            alert(data.Msg);
                            $('#tbxPHONE').focus()
                            return false;
                        } else {
                            $.ajax({
                                url: '/System/FRUserManager',
                                cache: false,
                                timeout: 10000, //10秒后超时，如果为0则永不超时
                                data: {
                                    //$('#tbxBIRTH').datebox('setValue') = ar.BIRTH;
                                    BIRTH: $('#tbxBIRTH').datebox('getValue'),//document.getElementById("tbxBIRTH").value,
                                    BYORGNO: document.getElementById("tbxBYORGNO").value,
                                    HNAME: document.getElementById("tbxHNAME").value,
                                    ONSTATE: document.getElementById("tbxONSTATE").value,
                                    PHONE: document.getElementById("tbxPHONE").value,
                                    SEX: document.getElementById("tbxSEX").value,
                                    ISENABLE: document.getElementById("tbxISENABLE").value,
                                    SN: document.getElementById("tbxSN").value
                                    , ID: id
                                    , Method: '@ViewBag.T_Method'
                                    , returnUrl: '@Html.Raw(@ViewBag.T_UrlReferrer)'
                                },
                                success: function (data, ioArgs) {
                                    var ar = eval('(' + data + ')');
                                    if (ar.Success) {
                                        if (confirm(ar.Msg + ' 请返回！')) {
                                            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                                            parent.layer.close(index);
                                           // window.location.assign(ar.Url);
                                        }
                                    }
                                    else {
                                        alert(ar.Msg);
                                    }
                                },
                                error: function (err, ioArgs) {
                                    alert('保存异常');
                                }
                            });
                        }
                    },
                    error: function (err) {
                        alert('验证异常');
                        return false;
                    }
                });

            }
        }



    }
</script>
