@{
    //ViewBag.Title =  "首页";
    Layout = "~/Views/Shared/_LayoutNoMap.cshtml";
}
@section Header{
    
<link href="@Url.Content("~/Scripts/umeditor/themes/default/css/umeditor.css")" type="text/css" rel="stylesheet">

<script type="text/javascript" charset="utf-8" src="@Url.Content("~/Scripts/umeditor/umeditor.config.js")"></script>
<script type="text/javascript" charset="utf-8" src="@Url.Content("~/Scripts/umeditor/umeditor.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/umeditor/lang/zh-cn/zh-cn.js")"></script>


}
  
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/home/index">首页</a>
            </li>
            <li>@ViewBag.PageSupTitle</li>
            <li>@ViewBag.PageTitle</li>
            <li class="active">管理</li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">

        </div><!-- #nav-search -->
    </div>

    <div class="page-content">

        <div class="row">
            <div class="col-xs-12">

                <div class="table-responsive">
                    <div id="sample-table-2_wrapper" class="dataTables_wrapper" role="grid">

                        <div class="widget-box">
                            <div class="widget-header">
                                <div class="widget-main">
                                    <div class="text-left col-sm-4">
                                        标题：

                                        <input id="tbxINFOTITLE" type="text" style="width:80%;" />

                                    </div>
                                    <div class="text-left col-sm-4">
                                        标签：

                                        <input id="tbxLABLE" type="text" style="width:80%;" />
                                    </div>
                                    <div class="text-left col-sm-4">
                                        时间：

                                        <input  id="tbxFBTIME" type="text"  style="width:80%;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="left col-sm-12" >
                            <script type="text/plain" id="myEditor" style="width:100%;height:270px;">
                            </script>
                        </div>
                        <div class="row">
                            <div class="center col-sm-12"><br />
                                <button type="button" id="btnSave" class="btn btn-info btn-sm" onclick="Manager()">
                                    <i class="icon-plus-sign  green"></i>
                                    保　存
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.row -->
        </div>


    </div>
</div>
<script type="text/javascript">
    
    var um = UM.getEditor('myEditor');
    dojo.xhrPost({
        url: '/System/getNoticeJson',
        timeout: 10000, //10秒后超时，如果为0则永不超时

        content: {
            ID: '@ViewBag.T_ID'
        },
        load: function (data, ioArgs) {
            var ar = eval('(' + data + ')');
            if (ar.INFOID != null) {
                document.getElementById("tbxINFOTITLE").value = ar.INFOTITLE;
                document.getElementById("tbxLABLE").value = ar.LABLE;
                //document.getElementById("tbxINFOCONTENT").value = ar.INFOCONTENT;
                document.getElementById("tbxFBTIME").value = ar.FBTIME;
                UM.getEditor('myEditor').setContent(ar.INFOCONTENT, false);
                if ('@ViewBag.T_Method' == "See") {
                    document.getElementById('btnSave').style.display = 'none';
                }
                //if ('@ViewBag.T_Method' == "Mdy") {
                //document.getElementById("tbxHNAME").disabled = 'true';
                // }
                if ('@ViewBag.T_Method' == "Del") {
                    Manager();
                }
            }
            else {
                UM.getEditor('myEditor').setContent("", false);
                document.getElementById("tbxFBTIME").value = CurentTime();
            }
        },
        error: function (err, ioArgs) {
            layer.msg('登录异常');
        }
    });

    function Manager() {
        $.ajax({
            url: '/System/NoticeManager',
            data: {
                INFOTITLE: document.getElementById("tbxINFOTITLE").value,
                INFOCONTENT: UM.getEditor('myEditor').getContent(),// document.getElementById("tbxINFOCONTENT").value,
                LABLE: document.getElementById("tbxLABLE").value
                , FBTIME: document.getElementById("tbxFBTIME").value
                ,ID: '@ViewBag.T_ID'
                ,Method: '@ViewBag.T_Method'
                ,returnUrl: '@Html.Raw(@ViewBag.T_UrlReferrer)'
            },
            type: 'post',
            error: function () {
                layer.msg('错误:异常!', { icon: 5 });
            },
            success: function (re) {

                var ar = eval('(' + re + ')');
                if (ar.Success) {
                    if (confirm(ar.Msg + ' 请返回！')) {
                        window.location.assign(ar.Url);
                    }
                }
                else {
                    layer.msg(ar.Msg, "Error");
                }
            }
        });


    }
</script>
