@using ManagerSystemModel;
@{
    //ViewBag.Title =  "首页";
    Layout = "~/Views/Shared/_LayoutNoMap.cshtml";
}
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/home/index">首页</a>
            </li>
            <li>@ViewBag.PageSupTitle</li>
            <li class="active">@ViewBag.PageTitle</li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">

        </div><!-- #nav-search -->
    </div>

    <div class="page-content">

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->



                <div class="row">
                    <div class="col-xs-12">

                        <div class="table-responsive">
                            <div id="sample-table-2_wrapper" class="dataTables_wrapper" role="grid">


                                <div class="widget-box">
                                    <div class="widget-header">
                                        <div class="widget-main">
                                            <div class="col-sm-10">
                                                标题：
                                                <input id="tbxINFOTITLE" type="text" class="input-small" value="@ViewBag.INFOTITLE" />

                                                <button type="button" class="btn btn-info btn-sm" onclick="query()">
                                                    <i class="icon-search bigger-110 green"></i>
                                                    查 询
                                                </button>
                                            </div>
                                            <div class="center col-sm-2">
                                                <button type="button" class="btn btn-info btn-sm" onclick="Add()">
                                                    <i class="icon-plus-sign bigger-110 green"></i>
                                                    添 加
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                @Html.Raw(@ViewBag.UserList)
                                <div class="row">
                                    @Html.Raw(@ViewBag.PagerInfo)
                                </div>




                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div>
<script type="text/javascript">
    //
    function Add() {
        window.location.assign('/System/NoticeMan');
    }
    function query() {
        dojo.xhrPost({
            url: '/System/NoticeListQuery',
            timeout: 10000, //10秒后超时，如果为0则永不超时

            content: {
                PageSize: document.getElementById("selPageSize").value,
                INFOTITLE: document.getElementById("tbxINFOTITLE").value,
                Page: document.getElementById("selPage").value
            },
            load: function (data, ioArgs) {
                var ar = eval('(' + data + ')');
                if (ar.Success) {
                    window.location.assign(ar.Url);
                }
                else {
                    layer.msg(ar.Msg);
                }
            },
            error: function (err, ioArgs) {
                layer.msg('登录异常');
            }
        });
    }
</script>