@{
    Layout = "~/Views/Shared/_LayOutIndexNoMenu.cshtml";
}
@section Header{
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'center'" title="" style=" border: none; ">
        <div class="easyui-layout" data-options="fit:true" style=" border:0;">
            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <div class="homeUL">
                        名称：<input id="tbxROLENAME" type="text" value="" style="width:100px;" />
                        备注：<input id="tbxROLENOTE" type="text" value="" style="width:100px;" />
                        级别：<input id="tbxROLELEVEL" type="text" value="" style="width:40px;" />
                        排序号：<input id="tbxORDERBY" type="text" value="" style="width:40px;" />
                        <input type="button" value="保存" onclick="Manager()" id="btnSave" style="display:none;" class="btnSaveCss">
                        说明：级别：1州级别2市县级别3乡镇级别
                    </div>
                </div>
            </div>
            <div data-options="region:'center'" title="" style=" border: none; ">
                <div class="divMan">
                    @Html.Raw(@ViewBag.RightChk)
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    if ('@ViewBag.T_Method' != 'See') {
        document.getElementById("btnSave").style.display = '';
    }
    $.ajax({
        url: '/System/getRoleJson',
        timeout: 10000, //10秒后超时，如果为0则永不超时
        data: { ID: '@ViewBag.T_ID' },
        success: function (data, ioArgs) {
            var ar = eval('(' + data + ')');
            if (ar.ROLEID != null) {
                document.getElementById("tbxROLENAME").value = ar.ROLENAME;
                document.getElementById("tbxROLENOTE").value = ar.ROLENOTE;
                document.getElementById("tbxROLELEVEL").value = ar.ROLELEVEL;
                document.getElementById("tbxORDERBY").value = ar.ORDERBY;
                if ('@ViewBag.T_Method' == "See") {
                    document.getElementById('btnSave').style.display = 'none';
                }
                if ('@ViewBag.T_Method' == "Del") {
                    Manager();
                }
            }
        },
        error: function (err, ioArgs) {
            layer.msg('系统异常!', { icon: 5 });
        }
    });

    function Manager() {
        //var id = document.getElementsByName('tbxRightID');
        //var RightIDList = new Array();
        //for (var i = 0; i < id.length; i++) {
        //    if (id[i].checked)
        //        RightIDList.push(id[i].value);
        //}
        var RightIDList = $("input:checkbox[name='tbxRightID']:checked").map(function (index, elem) {
            return $(elem).val();
        }).get().join(',');
        $.ajax({
            url: '/System/RoleManager',
            timeout: 10000, //10秒后超时，如果为0则永不超时
            data: {
                ROLENAME: document.getElementById("tbxROLENAME").value,
                ROLENOTE: document.getElementById("tbxROLENOTE").value,
                ROLELEVEL: document.getElementById("tbxROLELEVEL").value,
                ORDERBY: document.getElementById("tbxORDERBY").value,
                ID: '@ViewBag.T_ID',
                Method: '@ViewBag.T_Method',
                returnUrl: ' @Html.Raw(@ViewBag.T_UrlReferrer)',
                RightIDList: RightIDList
            },
            type: 'POST',
            success: function (data, ioArgs) {
                var ar = eval('(' + data + ')');
                if (ar.Success) {
                    layer.confirm(ar.Msg + ' 请返回?', { icon: 3, title: '提示' }, function (index2) {
                        layer.close(index2);
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index);
                        window.location.assign(ar.Url);
                    });
                }
                else {
                    layer.msg(ar.Msg, { icon: 5 });
                }
            },
            error: function (err, ioArgs) {
                layer.msg('保存异常!', { icon: 5 });
            }
        });
    }
</script>

<script type="text/javascript">
    function selectall(v, c) {
        var abc = document.getElementsByName('tbxRightID');
        for (var i = 0; i < abc.length; i++) {
            var chk = document.getElementById('tbxRightID' + abc[i].value);
            if (chk != null) {
                if (chk.value.substring(0, v.length) == v && chk.value.length > v.length)
                    chk.checked = c;
            }
            if (c == true) {
                if (v.length == 9) {
                    document.getElementById('tbxRightID' + v.substring(0, 6)).checked = v;
                    document.getElementById('tbxRightID' + v.substring(0, 3)).checked = v;
                }
                if (v.length == 6)
                    document.getElementById('tbxRightID' + v.substring(0, 3)).checked = v;
            }
        }
    }
</script>