@{
    Layout = "~/Views/Shared/_LayOutIndex.cshtml";
}
@section Header{
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'west'" title="" style=" width:220px; border: none; ">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>

    <div data-options="region:'center'" title="" style=" border: none; background:#ddceee;">
        <div class="easyui-layout" data-options="fit:true" style=" border:0;">
            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <div class="home ">
                        单位名称：<select id="tbxORGNO" onchange="setDepeart();"> @Html.Raw(@ViewBag.vdOrg)  </select>
                        科室： <select id="tbxDEPARTMENT" onchange="query('1')">@Html.Raw(@ViewBag.depart) </select>
                        登录名：<input id="tbxLoginUserName" type="text" value="" />
                        姓名： <input id="tbxUserName" type="text" value="" />
                        <input type="button" value="查询" onclick="query(1)" class="btnSearchCss" />
                        <input type="button" value="添加" onclick="Add()" class="btnAddCss" />
                    </div>
                </div>
            </div>
            <div data-options="region:'center'" title="" style=" border: none; ">
                <div class="divTable" id="divTable">

                </div>
            </div>
            <div data-options="region:'south'" title="" style=" height:40px; border: none; overflow:hidden;  text-align:right;padding:2px 2px 2px 2px;">
                <div class="divPager" id="divPager">

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        query('1');
    });

    var page = 1;//当前默认页面为1
    function query(Page) {
        page = Page;
        var pagesize = '0';
        if (document.getElementById("selPageSize") != null) {
            pagesize = document.getElementById("selPageSize").value;
        }
        $.ajax({
            url: '/System/getUserListAjax',
            timeout: 10000, //10秒后超时，如果为0则永不超时
            data: {
                PageSize: pagesize,
                ORGNO: document.getElementById("tbxORGNO").value,
                DEPARTMENT: document.getElementById("tbxDEPARTMENT").value,
                LoginUserName: document.getElementById("tbxLoginUserName").value,
                UserName: document.getElementById("tbxUserName").value,
                Page: Page
            },
            dataType: 'json',
            success: function (data, ioArgs) {
                if (data.Success) {
                    $('#divTable').html(data.tableInfo);
                    $('#divPager').html(data.pagerInfo);
                }
                else {
                    $('#divTable').html('');
                    $('#divPager').html('');
                }
            },
            error: function (err, ioArgs) {
                layer.msg('系统异常', { icon: 5 });
            }
        });
    }

    //根据单位动态绑定科室
    function setDepeart() {
        //获取机构的ID
        var orgNo = $("#tbxORGNO").val();
        $.ajax({
            url: "/System/GetOrgByDepartByFlag/",
            type: "post",
            dataType: "html",
            data: { orgNo: orgNo, showAll: "1" },
            success: function (result) {
                var myHTML = "";
                $('#tbxDEPARTMENT').html("");//赋值之前先清空
                myHTML = result;
                $('#tbxDEPARTMENT').html(myHTML);
                query('1');
            },
            error: function (result) {
                layer.msg(result.responseText, { icon: 5 });
            }
        });
    }

    function Manager(id) {
        layer.confirm('确实要删除吗?', { icon: 3, title: '提示' }, function (index) {
            $.ajax({
                url: '/System/UserManager',
                cache: false,
                data: { USERID: id, Method: 'Del', returnUrl: '' },
                type: 'post',
                error: function () {
                    layer.msg('系统异常!', { icon: 5 });
                },
                dataType: 'json',
                success: function (re) {
                    if (re.Success) {
                        layer.msg('删除成功!', { icon: 6 });
                        query(page);
                    }
                    else {
                        layer.msg(re.Msg, { icon: 5 });
                    }
                }
            });
        });
    }

    function Add() {
        layer.open({
            type: 2,
            title: '添加',
            fix: false, //不固定
            area: ['900px', '350px'],
            maxmin: true,
            content: '/System/UserMan',
            end: function () {
                query(1);
            }
        });
    }

    function Mdy(USERID, Method) {
        layer.open({
            type: 2,
            title: '修改',
            fix: false, //不固定
            area: ['900px', '350px'],
            maxmin: true,
            content: '/System/UserMan?USERID=' + USERID + "&Method=" + Method,
            end: function () {
                query(page);
            }
        });
    }

    function See(USERID, Method) {
        layer.open({
            type: 2,
            title: '查看',
            fix: false, //不固定
            area: ['900px', '350px'],
            maxmin: true,
            content: '/System/UserMan?USERID=' + USERID + "&Method=" + Method,
        });
    }
</script>