@{
    ViewBag.Title = "浮动窗口";
    Layout = null;

    var online = ManagerSystemClassLibrary.ConfigCls.getInLineColor();
    var outline = ManagerSystemClassLibrary.ConfigCls.getOutLineColor();
    var outrail = ManagerSystemClassLibrary.ConfigCls.getOutRailColor();
}


<div id="floatTools" class="rides-cs" style="height: 100%;">
    <div class="floatL">
        <a id="aFloatTools_Show" class="btnCtn" title="关闭采集检索条件" style="top: 20px; display: block" href="javascript:void(0);">收缩</a>
        <a id="aFloatTools_Hide" class="btnOpen" title="展开采集检索条件" style="top: 20px; display: none" href="javascript:void(0);">展开</a>

    </div>
    <div id="divFloatToolsView" class="floatR" style="display: none; height: 100%; width:255px;">
        <div class="DefaultDivTitle" style="cursor:pointer;margin-top:1%" onclick="Swithch('hlytreeid')">
            <h1><span>护林员</span></h1>
        </div>
        <div style="margin:5px 5px 0px 5px " id="hlytreeid">
            @foreach (var item in @ViewBag.Newhlylist)
            {
                if (@item.MENUNAME == "护林员")
                {
                    <input type="text" id="txtphonehname" style="width:130px" placeholder="手机号码/姓名" />
                    <input type="button" value="查 询" onclick="searchUser()" class="btnSearchCss">
                    <br />
                    <br />
                    <table style="background-color:#f4fef6;width:100%">
                        <tr>
                            <td>
                                <div style="height:300px" id="tt" class="easyui-tree" checkbox="true"></div>
                            </td>
                        </tr>
                    </table>
                    <div style="margin-bottom:0px;margin-top:5px">
                        <div>
                            <input type="button" style="padding:3px 10px" value="实时定位" id="btnLoca" />
                            <input type="button" style="padding:3px 10px" value="开始监控" id="btnCon" />
                            <input type="button" value="结束监控" style="display:none;padding:3px 10px;" id="btnConOver" />
                            <input type="button" style="padding:3px 10px" value="历史轨迹" id="btnHis" />
                        </div>
                        <div style="margin-top:2px">
                            <input type="button" style="padding:3px 10px" value="实时点名" id="btnDm" />
                            <input type="button" style="padding:3px 10px" value="电量查询" id="btnDl" />
                            <input type="button" style="padding:3px 6px" value="定位" id="btnDw" />
                            <input type="button" style="padding:3px 6px" value="重置" id="btnReset" />
                        </div>
                        @*<p> *说明：<font color="@online" style="font-size:25px;width:25px;height:15px;margin:0 5px">■</font>在线<font color="@outline" style="font-size:25px;width:25px;height:15px;margin:0 5px">■</font>离线<font color="@outrail" style="font-size:25px;width:25px;height:15px;margin:0 5px">■</font>出围</p>*@
                        <div style="padding:5px 0">
                            <p id="hlystateid">
                                *说明：
                                <input type="button" style="background-color:@online;width:25px;height:14px;margin:0 5px" />在线
                                <input type="button" style="background-color:@outline;width:25px;height:14px;margin:0 5px" />离线
                                <input type="button" style="background-color:@outrail;width:25px;height:14px;margin:0 5px" />出围
                            </p>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="DefaultDivTitle" style="cursor:pointer;" onclick="Swithch('hlyssjg')">
            <h1><span>实时监管</span></h1>
        </div>
        <div style="margin-bottom:2px;display:none;" class="warnPanel" id="hlyssjg">
            @foreach (var item in @ViewBag.Newjglist)
            {
                if (@item.MENUNAME == "热点追踪")
                {
                    <dl class="yjjc center">
                        <dt><a href="javascript:void(0)" onclick='getHot("0", "@item.LICLASS")'><p class="dt3_01"></p></a></dt>
                        @*style="background-color:#eaf2ff;padding:5px;border-radius:3px;width:90%;margin:3px"*@
                        <dd class="title" id="@item.LICLASS"><a href="javascript:void(0)" onclick='getHot("0", "@item.LICLASS")'>@item.MENUNAME</a></dd>
                    </dl>
                    @*<ul class="FloatMenu" onclick='getHot("0", "@item.LICLASS")'>*@
                    @*<dt><a href="javascript:void(0)" onclick='getHot("0")'><p class="@item.LICLASS"></p></a></dt>*@
                    @*style="background-color:#eaf2ff;padding:5px;border-radius:3px;width:90%;margin:3px"*@
                    @*<li class="title" id="@item.LICLASS"><a href="javascript:void(0)" style="color:green;font-weight:bold;font-size:14px;">@item.MENUNAME</a></li>*@
                    @*</ul>*@
                }
                else if (@item.MENUNAME == "报警管理")
                {
                    <dl class="yjjc center">
                        <dt><a href="javascript:void(0)" onclick='getAlarm("0", "@item.LICLASS")'><p class="@item.LICLASS"></p></a></dt>
                        <dd class="title" id="@item.LICLASS"><a href="javascript:void(0)" onclick='getAlarm("0", "@item.LICLASS")'>@item.MENUNAME</a></dd>
                    </dl>

                    @*<ul class="FloatMenu" onclick='getAlarm("0", "@item.LICLASS")'>*@
                    @*<dt><a href="javascript:void(0)" onclick='getAlarm("0")'><p class="@item.LICLASS"></p></a></dt>*@
                    @*<li class="title" id="@item.LICLASS"><a href="javascript:void(0)" style="color:green;font-weight:bold;font-size:14px;">@item.MENUNAME</a></li>*@
                    @*</ul>*@
                }
            }
            <div class="clear"></div>
        </div>
        <div class="DefaultDivTitle" style="cursor:pointer;" onclick="Swithch('hlysjsb')">
            <h1><span>数据上报</span></h1>
        </div>
        <div style="margin-bottom:2px;display:none;" id="hlysjsb" class="warnPanel">
            @foreach (var item in @ViewBag.Newreportlist)
            {
                <dl class="yjjc center">
                    <dt><a href="javascript:void(0)" onclick='getReport(@item.DICTVALUE,"0","@item.MENUNAME","@item.LICLASS")'><p class="@item.LICLASS"></p></a></dt>
                    <dd class="title" id="@item.LICLASS"><a href="javascript:void(0)" onclick='getReport(@item.DICTVALUE,"0","@item.MENUNAME","@item.LICLASS")'>@item.MENUNAME</a></dd>
                </dl>
                @*<ul class="FloatMenu" onclick='getReport(@item.DICTVALUE,"0","@item.MENUNAME","@item.LICLASS")'>*@
                @*<dt><a href="javascript:void(0)" onclick='getReport(@item.DICTVALUE,"0","@item.MENUNAME")'><p class="@item.LICLASS"></p></a></dt>*@
                @*<li class="title" id="@item.LICLASS"><a href="javascript:void(0)" style="color:green;font-weight:bold;font-size:14px;">@item.MENUNAME</a></li>*@
                @*</ul>*@
            }
            <div class="clear"></div>
        </div>

        <div class="DefaultDivTitle" style="cursor:pointer;"  onclick="Swithch('hlysjcj')">
            <h1><span>数据采集</span></h1>
        </div>
        <div style="margin-bottom:2px;display:none;height:14%;" class="warnPanel" id="hlysjcj">
            @foreach (var item in @ViewBag.NewcollectList)
            {
                <dl class="yjjc center">
                    <dt><a href="javascript:void(0)" onclick='getCollect(@item.DICTVALUE,"0","@item.MENUNAME","@item.LICLASS")'><p class="@item.LICLASS"></p></a></dt>
                    <dd class="title" id="@item.LICLASS"><a href="javascript:void(0)" onclick='getCollect(@item.DICTVALUE,"0","@item.MENUNAME","@item.LICLASS")'>@item.MENUNAME</a></dd>
                </dl>
                @*<ul class="FloatMenu" onclick='getCollect(@item.DICTVALUE,"0","@item.MENUNAME","@item.LICLASS")'>*@
                @*<dt><a href="javascript:void(0)" onclick='getCollect(@item.DICTVALUE,"0","@item.MENUNAME")'><p class="@item.LICLASS"></p></a></dt>*@
                @*<li class="title" id="@item.LICLASS"><a href="javascript:void(0)" style="color:green;font-weight:bold;font-size:14px;">@item.MENUNAME</a></li>*@
                @*</ul>*@
                @*<div class="clear"></div>*@
            }
        </div>
        @*<div class="DefaultDivTitle" style="cursor:pointer;" onclick="Swithch('hlysjcj')">
            <h1><span>数据采集</span></h1>
        </div>*@
    </div>
</div>

@*//地图定位div*@
<div style="display:none;overflow-x:hidden;" id="mapdwdiv">
    <div style="width:290px;padding:6px">
        <table style="width:100%;border:1px solid #03b046; border-spacing:10px;border-collapse: collapse;">
            <tr style="border:1px solid #03b046">
                <td style="border:1px solid #03b046" colspan="2">
                    <input type="radio" value="1" name="typeRadio" id="dfmid" checked /><label for="dfmid">度分秒</label><input type="radio" value="0" name="typeRadio" id="sjzid" /><label for="sjzid">十进制</label>
                </td>
            </tr>
            <tr style="border:1px solid #03b046">
                <td style="border:1px solid #03b046">经度： </td>
                <td style="border:1px solid #03b046">
                    <input id="jd" type="text" value="0" style="width:100px;display:none" onblur="validate('jd','2')" />
                    <input id="jd_d" type="text" value="0" style="width:40px" onblur="validate('jd_d','1')" /><font id="fontDiv1">度</font>
                    <input id="jd_f" type="text" value="0" style="width:40px" onblur="validate('jd_f','1')" /><font id="fontDiv2">分</font>
                    <input id="jd_m" type="text" value="0" style="width:60px" onblur="validate('jd_m','2')" /><font id="fontDiv6">秒</font>
                </td>
            </tr>
            <tr style="border:1px solid #03b046">
                <td style="border:1px solid #03b046">纬度： </td>
                <td style="border:1px solid #03b046">
                    <input id="wd" type="text" value="0" style="width:100px;display:none" onblur="validate('wd','2')" />
                    <input id="wd_d" type="text" value="0" style="width:40px" onblur="validate('wd_d','1')" /><font id="fontDiv3">度</font>
                    <input id="wd_f" type="text" value="0" style="width:40px" onblur="validate('wd_f','1')" /><font id="fontDiv4">分</font>
                    <input id="wd_m" type="text" value="0" style="width:60px" onblur="validate('wd_m','2')" /><font id="fontDiv5">秒</font>
                </td>
            </tr>
            <tr style="border:1px solid #03b046">
                <td style="border:1px solid #03b046;text-align:center" colspan="2">
                    <input type="button" onclick="dingwei()" value="定位" style="padding:3px 10px" />
                </td>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        //护林员在离出围状态信息
        getHlyStateCount();
        window.setInterval(getHlyStateCount, 1000 * 2 * 60);
    });

    $("#aFloatTools_Show").click(function () {
        $('#divFloatToolsView').animate({ width: 'show', opacity: 'show' }, 100, function () { $('#divFloatToolsView').show(); });
        $('#aFloatTools_Show').hide();
        $('#aFloatTools_Hide').show();
        $('#floatdiv').css('width', '275px');//左边窗口
    });
    $("#aFloatTools_Hide").click(function () {
        $('#divFloatToolsView').animate({ width: 'hide', opacity: 'hide' }, 100, function () { $('#divFloatToolsView').hide(); });
        $('#aFloatTools_Show').show();
        $('#aFloatTools_Hide').hide();
        $('#floatdiv').css('width', '20px');//左边窗口
    });

    function show() {
        $('#divFloatToolsView').animate({ width: 'show', opacity: 'show' }, 100, function () { $('#divFloatToolsView').show(); });
        $('#aFloatTools_Show').hide();
        $('#aFloatTools_Hide').show();
        $('#floatdiv').css('width', '275px');//左边窗口
    }

    //定时刷新tree
    var int = self.setInterval("treefresh()", 60 * 2 * 1000);
    function treefresh() {
        $('#tt').tree({
            url: '/Home/TreeGet',
            checked: false,
            animate: true,
            lines: true,
            cache: false,
        });
    }


    $(function () {
        var arrrights = rights.split(',');
        //权限控制
        //001001	巡查监控  001002	点名管理  001005	电量查询
        for (var i = 0; i < arrrights.length; i++) {
            if ($.inArray("001001", arrrights) == -1) {
                $('#span1').hide();
            }
            if ($.inArray("001002", arrrights) == -1) {
                $('#btnDm').hide();
            }
            if ($.inArray("001005", arrrights) == -1) {
                $('#btnDl').hide();
            }
        }


        show();
        $('#tt').tree({
            url: '/Home/TreeGet',
            checked: false,
            animate: true,
            lines: true,
            cache: false,
            //onClick: function (node) {
            //    $('#grid').datagrid({ url: '/SystemMan/TreeGet' })
            //}
        });

        //实时定位
        var arrlist;
        $('#btnLoca').click(function () {
            //play hide
            $('#playdiv').hide();
            var nodes = $('#tt').tree('getChecked');
            if (nodes.length > 0) {
                var arr = [];
                var arro = [];
                var arrHlyList = [];
                for (var i = 0; i < nodes.length; i++) {
                    if (nodes[i].treeType == 'hly') {
                        arr.push(nodes[i].id);
                    }
                    if (nodes[i].treeType == 'org') {
                        arro.push(nodes[i].id);
                    }
                }

                var str = getOrgHly(arro);
                var arrHlyList = str.split(",");
                if (arrHlyList.length > 0) {
                    for (var i = 0; i < arrHlyList.length; i++) {
                        if (arrHlyList[i] != "") {
                            arr.push(arrHlyList[i]);
                        }
                    }
                    arr = $.unique(arr);
                }
                hisi = 100000000;//设置历史轨迹回放索引最大值，解决轨迹回放过程中实时定位时继续轨迹回放的功能
                getLonLat(arr.toString());
            }
            else {
                // $.messager.alert("提示", "未选择", "error");
                layer.alert('未选择护林员，请选择！', { icon: 5 });
            }
        }
        );
        //开始实时监控
        $('#btnCon').click(function () {
            //play hide
            $('#playdiv').hide();
            var nodes = $('#tt').tree('getChecked');
            if (nodes.length > 0) {
                var arr = [];
                var arro = [];
                var arrHlyList = [];
                for (var i = 0; i < nodes.length; i++) {
                    if (nodes[i].treeType == 'hly') {
                        arr.push(nodes[i].id);
                    }
                    if (nodes[i].treeType == 'org') {
                        arro.push(nodes[i].id);
                    }
                }

                if (arro != "") {
                    var str = getOrgHly(arro);
                    var arrHlyList = str.split(",");
                    if (arrHlyList.length > 0) {
                        for (var i = 0; i < arrHlyList.length; i++) {
                            if (arrHlyList[i] != "") {
                                arr.push(arrHlyList[i]);
                            }
                        }
                        arr = $.unique(arr);
                    }
                }

                if (arr.length > 1) {
                    layer.alert('请选择1个护林员！', { icon: 2 });
                    return false;
                }
                RealLocation('', arr.toString());
                arrlist = arr.toString();
                btnunenable();

            }
            else {
                // $.messager.alert("提示", "未选择", "error");
                layer.alert('未选择护林员，请选择！', { icon: 5 });

            }
        }
        );
        //实时监控结束按钮
        $('#btnConOver').click(function () {
            //play hide
            $('#playdiv').hide();
            clearInterval(intervalMethod);
            $('#btnConOver').hide();
            $('#btnCon').show();
            getLonLat(arrlist.toString());
            btnenable();
        }
        )

        //历史轨迹
        $('#btnHis').click(function () {
            var nodes = $('#tt').tree('getChecked');
            if (nodes.length > 0) {
                var arr = [];
                var arrname = [];
                var arro = [];
                var arrHlyList = [];
                for (var i = 0; i < nodes.length; i++) {
                    if (nodes[i].treeType == 'hly') {
                        arr.push(nodes[i].id);
                        var name = $('<p>' + nodes[i].text + '</p>').text();
                        arrname.push(name);
                    }
                    if (nodes[i].treeType == 'org') {
                        arro.push(nodes[i].id);
                    }
                }
                if (arro != "") {
                    var str = getOrgHly(arro);
                    var arrHlyList = str.split(",");
                    if (arrHlyList.length > 0) {
                        for (var i = 0; i < arrHlyList.length; i++) {
                            if (arrHlyList[i] != "") {
                                arr.push(arrHlyList[i]);
                            }
                        }
                        arr = $.unique(arr);
                    }
                }


                if (arr.length > 1) {
                    layer.alert('请选择1个护林员！', { icon: 2 });
                    return false;
                }
                showhisdiv(arr.toString(), arrname.toString());
            }
            else {
                // $.messager.alert("提示", "未选择", "error");
                layer.alert('未选择护林员，请选择！', { icon: 5 });
            }
        }
        );




        //地图定位
        $("input[name=typeRadio]").click(function () {
            if ($("input[name=typeRadio]:checked").val() == 1) {
                $("#jd").hide();
                $("#wd").hide();
                $("#jd_d").show();
                $("#jd_f").show();
                $("#jd_m").show();
                $("#wd_d").show();
                $("#wd_f").show();
                $("#wd_m").show();
                $("#fontDiv1").show();
                $("#fontDiv2").show();
                $("#fontDiv3").show();
                $("#fontDiv4").show();
                $("#fontDiv5").show();
                $("#fontDiv6").show();
                var jd = jsw2tojsw1($("#jd").val());
                var wd = jsw2tojsw1($("#wd").val());
                $("#jd_d").val(jd.d);
                $("#jd_f").val(jd.f);
                $("#jd_m").val(jd.m.toFixed(4));
                $("#wd_d").val(wd.d);
                $("#wd_f").val(wd.f);
                $("#wd_m").val(wd.m.toFixed(4));

            }
            else {
                $("#jd").show();
                $("#wd").show();
                $("#jd_d").hide();
                $("#jd_f").hide();
                $("#jd_m").hide();
                $("#wd_d").hide();
                $("#wd_f").hide();
                $("#wd_m").hide();
                $("#fontDiv1").hide();
                $("#fontDiv2").hide();
                $("#fontDiv3").hide();
                $("#fontDiv4").hide();
                $("#fontDiv5").hide();
                $("#fontDiv6").hide();
                var obj = new Object();
                obj.d = $("#jd_d").val();
                obj.f = $("#jd_f").val();
                obj.m = $("#jd_m").val();
                jd = jsw1tojsw2(obj);
                $("#jd").val(jd.toFixed(8));
                obj.d = $("#wd_d").val();
                obj.f = $("#wd_f").val();
                obj.m = $("#wd_m").val();
                wd = jsw1tojsw2(obj);
                $("#wd").val(wd.toFixed(8));
            }
        });

        //定位
        $('#btnDw').click(function () {
            //页面层
            layer.open({
                type: 1,
                title: '地图定位',
                shade: 0,
                //skin: 'layui-layer-rim', //加上边框
                area: ['300px', '160px'], //宽高
                offset: ['70px', '300px'],
                content: $('#mapdwdiv')
            });
        }
        );

        //重置
        $('#btnReset').click(function () {
            $('#tt').tree("reload");
        });

    })

    //不可用状态
    function btnunenable() {
        $('#btnLoca').attr({ "style": "background-color:#D8D3D3;padding:3px 10px", "disabled": "disabled" });
        $('#btnHis').attr({ "style": "background-color:#D8D3D3;padding:3px 10px", "disabled": "disabled" });
        $('#btnDm').attr({ "style": "background-color:#D8D3D3;padding:3px 10px", "disabled": "disabled" });
        $('#btnDl').attr({ "style": "background-color:#D8D3D3;padding:3px 10px", "disabled": "disabled" });
    }

    //可用状态
    function btnenable() {
        $('#btnLoca').attr({ "style": "background-color:#ff7f00;padding:3px 10px" });
        $('#btnHis').attr({ "style": "background-color:#ff7f00;padding:3px 10px" })
        $('#btnDm').attr({ "style": "background-color:#ff7f00a;padding:3px 10px" });
        $('#btnDl').attr({ "style": "background-color:#ff7f00;padding:3px 10px" });
        $('#btnLoca').removeAttr(" disabled");
        $('#btnHis').removeAttr(" disabled");
        $('#btnDm').removeAttr(" disabled");
        $('#btnDl').removeAttr(" disabled");
    }

    //实时点名
    $('#btnDm').click(function () {
        //play hide
        $('#playdiv').hide();
        GetDmFun();//点名管理
    }

    );

    //点名管理
    function GetDmFun() {
        $(".bottomDiv").css("display", "none");
        var nodes = $('#tt').tree('getChecked');
        if (nodes.length > 0) {
            var arr = [];
            var arro = [];
            var arrHlyList = [];
            for (var i = 0; i < nodes.length; i++) {
                if (nodes[i].treeType == 'hly') {
                    arr.push(nodes[i].id);
                }
                if (nodes[i].treeType == 'org') {
                    arro.push(nodes[i].id);
                }
            }

            var str = getOrgHly(arro);
            var arrHlyList = str.split(",");
            if (arrHlyList.length > 0) {
                for (var i = 0; i < arrHlyList.length; i++) {
                    if (arrHlyList[i] != "") {
                        arr.push(arrHlyList[i]);
                    }
                }

            }

            $('#dmstatus').show();
            showRealCallRecord(arr.toString());
        }
        else {
            // $.messager.alert("提示", "未选择", "error");
            layer.alert('未选择护林员，请选择！', { icon: 5 });
        }
    }



    //电量查询
    $('#btnDl').click(function () {
        //play hide
        $('#playdiv').hide();
        GetElecFun();//电量管理
    }

    );

    //电量管理
    function GetElecFun() {
        $(".bottomDiv").css("display", "none");
        var nodes = $('#tt').tree('getChecked');
        if (nodes.length > 0) {
            var arr = [];
            var arro = [];
            for (var i = 0; i < nodes.length; i++) {
                if (nodes[i].treeType == 'hly') {
                    arr.push(nodes[i].id);
                }
                if (nodes[i].treeType == 'org') {
                    arro.push(nodes[i].id);
                }
            }

            var str = getOrgHly(arro);
            var arrHlyList = str.split(",");
            if (arrHlyList.length > 0) {
                for (var i = 0; i < arrHlyList.length; i++) {
                    if (arrHlyList[i] != "") {
                        arr.push(arrHlyList[i]);
                    }
                }
            }

            $('#userelecid').val(arr.toString());
            $('#txtElecStartTime').val(getLocalTime(0))
            $('#txtElecEndTime').val(getLocalTime(0))
            $('#dl').show();
            searchElecData();
            DlCollapseStatus = 0;
        }
        else {
            // $.messager.alert("提示", "未选择", "error");
            layer.alert('未选择护林员，请选择！', { icon: 5 });
        }
    }

    //检索护林员
    function searchUser() {
        var phonehname = $('#txtphonehname').val();
        name = escape(phonehname);//escape 编码 防止汉字乱码
        $('#tt').tree({ url: '/Home/TreeGet?phonehname=' + name });
    }

    //显示实时点名记录(在线状态)
    function showRealCallRecord(uid) {
        //$("#divdm").slideDown();
        $('#dmstatus').css("height", '280px');
        DmCollapseStatus = 0;
        $.ajax({
            type: "Post",
            url: "/RealSupervision/GetRealCallAjax",
            data: { uid: uid },
            dataType: "json",
            success: function (obj) {
                if (obj != null && obj.Success) {
                    $('#divdm').empty();
                    $('#divdm').html(obj.Msg);
                    $('#DmTitlle').html("实时点名" + obj.Url);
                }
                //else {

                //    layer.alert('没有实时轨迹数据！', { icon: 5 });
                //}
            }
        });
    }


    function getOrgHly(arro) {
        var str = "";
        if (arro.length > 0) {
            $.ajax({
                url: '/System/getFRUIDListByOrgs',
                data: {
                    orgs: arro.toString()
                },
                async: false,
                dataType: "json",
                success: function (obj) {
                    if (obj != null && obj.Success) {
                        str = obj.Msg;
                    } else {
                        alert('获取护林员列表失败！');
                    }
                },
                error: function (err, ioArgs) {
                    alert('获取护林员列表失败！');
                }
            });
        }
        return str;
    }


    //显示电量查询
    function searchElecData() {
        var starttime = $('#txtElecStartTime').val();
        var endtime = $('#txtElecEndTime').val();
        var uid = $('#userelecid').val();
        if ($.trim(starttime) == "" || $.trim(endtime) == "") {
            layer.alert('时间不能为空！', { icon: 2 });
            return false;
        }
        var bo = checkEndTime(starttime, endtime);
        if (bo == false) {
            layer.alert('开始时间不能大于结束时间！', { icon: 2 });
            return false;
        }
        if ($.trim(uid) == "") {
            layer.alert('护林员ID传参失败！', { icon: 2 });
            return false;
        }
        //$("#divdl").slideDown();
        $('#dl').css("height", '280px');
        DLCollapseStatus = 0;
        $.ajax({
            type: "Post",
            url: "/RealSupervision/GetElectricAjax",
            data: { uid: $('#userelecid').val(), startTime: $('#txtElecStartTime').val(), endTime: $('#txtElecEndTime').val() },
            dataType: "json",
            success: function (obj) {
                if (obj != null) {
                    if (obj.Success) {
                        $('#divdl').empty();
                        $('#divdl').html(obj.Msg);
                    }
                    else {
                        $('#divdl').empty();
                        $('#divdl').html(obj.Msg);
                        layer.alert(obj.Url, { icon: 5 });
                    }

                }
                //else {
                //    layer.alert('没有实时轨迹数据！', { icon: 5 });
                //}
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                layer.alert('Ajax事件异常', { icon: 5 });
            }

        });
    }


    //护林员
    function showHlyPerson(obj) {
        var titlestr = "";
        if (obj == "0") {
            titlestr = "在线护林员信息";
        }
        else if (obj == "1") {
            titlestr = "离线护林员信息";
        }
        else if (obj == "2") {
            titlestr = "出围护林员信息";
        }
        layer.open({
            type: 2,
            offset: ['50px', '150px'],
            title: titlestr,
            maxmin: true, //开启最大化最小化按钮
            shade: 0,
            area: ['55%', '60%'], //宽高
            content: '/MainDefault/HlyOnLineIndex?obj=' + obj  //注意，如果str是object，那么需要字符拼接。
        });
    }

    //ajax获取护林员个数
    function getHlyStateCount() {
        $.ajax({
            type: "Post",
            url: "/MainDefault/GetHlyInfoCountJson",
            data: {},
            dataType: "json",
            success: function (obj) {
                var html = " *说明：";
                if (obj != null) {
                    if (obj.Success) {
                        var data = obj.Data;
                        if (data != null) {
                            $('#hlystateid').html("");
                            html += " <font color=\"@online\" style=\"font-size:20px\">■</font>在线<a onclick=\"showHlyPerson(0)\"  style=\"color:white\">(" + data.LineInCount + ")</a>";
                            html += " <font color=\"@outline\" style=\"font-size:20px\">■</font>离线<a onclick=\"showHlyPerson(1)\" style=\"color:white\">(" + data.LineOutCount + ")</a>";
                            html += " <font color=\"@outrail\" style=\"font-size:20px\">■</font>出围<a onclick=\"showHlyPerson(2)\" style=\"color:white\">(" + data.LineOutRouteCount + ")</a>";
                            $('#hlystateid').html(html);
                        }
                    }
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("处理出现错误！状态码：" + textStatus);

            }
        });
    }


    //切换
    function Swithch(obj) {
        $obj = $('#' + obj);
        $obj.toggle();
        $obj.siblings("div[id^='hly']").hide();
        //$('#' + obj + " ul li").removeClass("licur");//切换的时候去除样式
    }
</script>
