@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
<div class="easyui-layout" data-options="fit:true" style="border: 0;">
    <div data-options="region:'west'" title="" style=" width:220px; border: none; ">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>
    <div data-options="region:'center'" title="" style=" border: none; background:#ddceee;">
        <div class="easyui-layout" data-options="fit:true" style=" border:0;">
            <div data-options="region:'north'" title="" style="height: 35px; border: none; overflow: hidden;">
                <div class="divOP">
                    <div class="home ">
                        单位名称：<select id="tbxBYORGNO">
                            @Html.Raw(@ViewBag.vdOrg)
                        </select>
                        查询日期：<input class="Wdate" id="tbxTIMEEnd" value="@ViewBag.curDate" type="text" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" />
                        <input type="button" value="查 询" onclick="query()" class="btnSearchCss">
                    </div>
                </div>
            </div>
            <div data-options="region:'center'" style="-ms-scrollbar-face-color:#fff" title="" class="LayoutCenterBG">

                <div id="msg" class="divTable">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        query();
    });
    function query() {
        $.ajax({
            url: '/DutyManagement/dutyListQuery',
            //timeout: 10000, //10秒后超时，如果为0则永不超时
            type: 'post',
            data: {
                TTBH: $('#tbxTIMEEnd').val(),//排班的查询日期
                BYORGNO: document.getElementById("tbxBYORGNO").value//组织机构编码
            },
            success: function (data, ioArgs) {
                var ar = eval('(' + data + ')');
                if (ar.Success) {
                    $('#msg').html('').removeAttr("style");
                    $('#msg').html(ar.Msg);
                }
                else {
                    alert("error");
                }
            },
            error: function (err, ioArgs) {
                $('#msg').html('');
                $('#msg').html('该日期为非排班日期！').css("color", "red");
            }
        });
    }
</script>