@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
@model IEnumerable<ManagerSystemModel.DUTY_CLASS_Model>
@section Header{
    <script src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
    <link href="~/Scripts/fullcalendar-3.2.0/css/jquery.multiselect.css" rel='stylesheet' />
    <link href="~/Scripts/fullcalendar-3.2.0/css/jquery-ui.min.css" rel='stylesheet' />
    <link href="~/Scripts/fullcalendar-3.2.0/css/fullcalendar.min.css" rel='stylesheet' />
    <link href="~/Scripts/fullcalendar-3.2.0/css/theme.css" rel='stylesheet' />
    <link href='~/Scripts/fullcalendar-3.2.0/css/fullcalendar.print.min.css' rel='stylesheet' media='print' />
    @*<script src="~/Scripts/fullcalendar-3.2.0/js/jquery.min.js"></script>*@
    <script src="~/Scripts/fullcalendar-3.2.0/js/jquery-ui.min.js"></script>
    <script src="~/Scripts/fullcalendar-3.2.0/js/jquery.multiselect.js"></script>
    <script src="~/Scripts/fullcalendar-3.2.0/js/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar-3.2.0/js/fullcalendar.min.js"></script>
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'west'" title="" style=" width:220px; border: none; ">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>

    <div data-options="region:'center'" title="" class="LayoutCenterBG">
        <div class="easyui-layout" data-options="fit:true" style=" border:0;">
            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <ul>
                        <li class="homeUL">
                            <input type="button" id="create" style="width: 100px; " class="btnAddCss" value="新建排班" onclick="NEWDUTY()">
                        </li>
                    </ul>
                </div>
            </div>

            <div id='calendar' style="position:absolute; top:43px; left:10px;right:10px; bottom:10px; overflow:auto;">
            </div>

            <div style="display: none;margin:30px" id="reservebox" title="">
                <form id="reserveformID" method="post">
                    <div class="rowElem" id="divBegin" style="display:none">
                        <label>起始日期:</label>
                        <input class="Wdate" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" id="begin" type="text" value="" style="width:50%;height:50%" />
                    </div>
                    <div class="rowElem" id="divEnd" style="display:none">
                        <label>结束日期:</label>
                        <input class="Wdate" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" id="end" type="text" value="" style="width:50%;height:50%" />
                    </div>
                    @if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            if (item.DUTYCLASSID == "1")
                            {
                                <div class="rowElem" id="divZao">
                                    <label>早班: </label>
                                    <select name="inputzao" id="inputzao" multiple="multiple" style="width: 200px;height:50px">
                                        @Html.Raw(@ViewBag.ZBR)
                                    </select>
                                </div>
                            }
                            if (item.DUTYCLASSID == "2")
                            {
                                <div class="rowElem" id="divZhong">
                                    <label>中班: </label>
                                    <select name="inputzhong" id="inputzhong" multiple="multiple" style="width: 200px;height:50px">
                                        @Html.Raw(@ViewBag.ZBR)
                                    </select>
                                </div>
                            }
                            if (item.DUTYCLASSID == "3")
                            {
                                <div class="rowElem" id="divWan">
                                    <label>晚班:</label>
                                    <select name="inputwan" id="inputwan" multiple="multiple" style="width: 200px;height:50px">
                                        @Html.Raw(@ViewBag.ZBR)
                                    </select>
                                </div>
                            }
                        }
                    }
                    <div class="rowElem" id="divZao" style="display:none">
                        <label>早班: </label>
                        <select name="inputzao" id="inputzao" multiple="multiple" style="width: 200px;height:50px">
                            @Html.Raw(@ViewBag.ZBR)
                        </select>
                    </div>
                    <div class="rowElem" id="divZhong" style="display:none">
                        <label>中班: </label>
                        <select name="inputzhong" id="inputzhong" multiple="multiple" style="width: 200px;height:50px" data-options="multiple:true,">
                            @Html.Raw(@ViewBag.ZBR)
                        </select>
                    </div>
                    <div class="rowElem" id="divWan" style="display:none">
                        <label>晚班:</label>
                        <select name="inputwan" id="inputwan" multiple="multiple" style="width: 200px;height:50px" data-options="multiple:true,">
                            @Html.Raw(@ViewBag.ZBR)
                        </select>
                    </div>
                    <div class="rowElem">
                        <label>带班领导: </label>
                        <select name="inputdaiban" id="inputdaiban" multiple="multiple" style="width: 200px;height:50px">
                            @Html.Raw(@ViewBag.ZBR)
                        </select>
                    </div>
                    <div class="rowElem">
                        <label>总带班领导:</label>
                        <select name="inputzongdaiban" id="inputzongdaiban" multiple="multiple" style="width: 200px;height:50px">
                            @Html.Raw(@ViewBag.ZBR)
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .rowElem {
        height: 35px;
        clear: left;
    }

        .rowElem label {
            clear: left;
            float: left;
            padding: 2px 6px 2px 0px;
            text-align: left;
            width: 100px;
        }

        .rowElem input {
            display: block;
            float: left;
            width: 230px;
            padding: 5px;
        }

        .rowElem select {
            display: block;
            width: 230px;
            padding: 5px;
        }

        .rowElem span {
            float: left;
        }
</style>
<script type="text/javascript">

    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();

    $(document).ready(function () {
        $('#calendar').fullCalendar({
            theme: true,
            header: { left: 'prev,next', center: 'title', right: '' },
            monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
            monthNamesShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
            dayNames: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
            dayNamesShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
            today: ["今天"],
            firstDay: 1,
            buttonText: {
                today: '今天',
                month: '月',
                week: '周',
                day: '日',
                prev: '上一月',
                next: '下一月'
            },
            viewDisplay: function (view) {//动态把数据查出，按照月份动态查询
                var viewStart = $.fullCalendar.formatDate(view.start, "yyyy-MM-dd");
                var viewEnd = $.fullCalendar.formatDate(view.end, "yyyy-MM-dd");
                $("#calendar").fullCalendar('removeEvents');
                $.post("../../sr/AccessDate.ashx", { start: viewStart, end: viewEnd }, function (data) {
                    var resultCollection = jQuery.parseJSON(data);
                    $.each(resultCollection, function (index, term) {
                        $("#calendar").fullCalendar('renderEvent', term, true);
                    });
                }); //把从后台取出的数据进行封装以后在页面上以fullCalendar的方式进行显示
            },
            aspectRatio: 1.5,
            //height:700,
            //contentHeight:500,
            navLinks: false, // can click day/week names to navigate views
            selectable: true,
            selectHelper: true,
            select: function (start, end) {
            },
            eventClick: function (calEvent, jsEvent, view) {
                $("#divBegin").hide();
                $("#divEnd").hide();
                var str = calEvent.id;
                var strs = new Array();
                strs = str.split("|");
                var banci = calEvent.banci;
                var arrBanci = banci.split(",");
                if (arrBanci.length > 0) {
                    if (arrBanci.length == 2) {//有一个班次
                        if (arrBanci[0] == 1) {//早班
                            var zao = eval('[' + strs[0] + ']');
                            var daiban = eval('[' + strs[1] + ']');
                            var zongdaiban = eval('[' + strs[2] + ']');
                            $("#inputzao").multiselect('refresh');
                            $("#inputdaiban").multiselect('refresh');
                            $("#inputzongdaiban").multiselect('refresh');
                        } else if (arrBanci[0] == 2) {//中班
                            var zhong = eval('[' + strs[0] + ']');
                            var daiban = eval('[' + strs[1] + ']');
                            var zongdaiban = eval('[' + strs[2] + ']');
                            $("#inputzhong").multiselect('refresh');
                            $("#inputdaiban").multiselect('refresh');
                            $("#inputzongdaiban").multiselect('refresh');
                        } else {
                            var wan = eval('[' + strs[0] + ']');
                            var daiban = eval('[' + strs[1] + ']');
                            var zongdaiban = eval('[' + strs[2] + ']');
                            $("#inputwan").multiselect('refresh');
                            $("#inputdaiban").multiselect('refresh');
                            $("#inputzongdaiban").multiselect('refresh');
                        }
                    }
                    else if (arrBanci.length == 3) {//两个班次
                        if (arrBanci[0] == 1 && arrBanci[1] == 2) {//早班 中班
                            var zao = eval('[' + strs[0] + ']');
                            var zhong = eval('[' + strs[1] + ']');
                            var daiban = eval('[' + strs[2] + ']');
                            var zongdaiban = eval('[' + strs[3] + ']');
                            $("#inputzao").val(zao);
                            $("#inputzhong").val(zhong);
                            $("#inputdaiban").val(daiban);
                            $("#inputzongdaiban").val(zongdaiban);
                            $("#inputzao").multiselect('refresh');
                            $("#inputwan").multiselect('refresh');
                            $("#inputdaiban").multiselect('refresh');
                            $("#inputzongdaiban").multiselect('refresh');
                        }
                        else if (arrBanci[0] == 1 && arrBanci[1] == 3) {//早班 晚班
                            var zao = eval('[' + strs[0] + ']');
                            var wan = eval('[' + strs[1] + ']');
                            var daiban = eval('[' + strs[2] + ']');
                            var zongdaiban = eval('[' + strs[3] + ']');
                            $("#inputzao").val(zao);
                            $("#inputwan").val(wan);
                            $("#inputdaiban").val(daiban);
                            $("#inputzongdaiban").val(zongdaiban);

                            $("#inputzao").multiselect('refresh');
                            $("#inputwan").multiselect('refresh');
                            $("#inputdaiban").multiselect('refresh');
                            $("#inputzongdaiban").multiselect('refresh');
                        }
                        else if (arrBanci[0] == 2 && arrBanci[1] == 3) {//中班 晚班
                            var zhong = eval('[' + strs[0] + ']');
                            var wan = eval('[' + strs[1] + ']');
                            var daiban = eval('[' + strs[2] + ']');
                            var zongdaiban = eval('[' + strs[3] + ']');
                            $("#inputzhong").val(zhong);
                            $("#inputwan").val(wan);
                            $("#inputdaiban").val(daiban);
                            $("#inputzongdaiban").val(zongdaiban);
                            $("#inputzhong").multiselect('refresh');
                            $("#inputwan").multiselect('refresh');
                            $("#inputdaiban").multiselect('refresh');
                            $("#inputzongdaiban").multiselect('refresh');
                        }
                    }
                    else {
                        var zao = eval('[' + strs[0] + ']');
                        var zhong = eval('[' + strs[1] + ']');
                        var wan = eval('[' + strs[2] + ']');
                        var daiban = eval('[' + strs[3] + ']');
                        var zongdaiban = eval('[' + strs[4] + ']');
                        $("#inputzao").val(zao);
                        $("#inputzhong").val(zhong);
                        $("#inputwan").val(wan);
                        $("#inputdaiban").val(daiban);
                        $("#inputzongdaiban").val(zongdaiban);
                        $("#inputzao").multiselect('refresh');
                        $("#inputzhong").multiselect('refresh');
                        $("#inputwan").multiselect('refresh');
                        $("#inputdaiban").multiselect('refresh');
                        $("#inputzongdaiban").multiselect('refresh');
                    }
                }
                else {
                    layer.msg('请设置排班班次!', { icon: 5 });
                    return;
                }
                var selectdate = calEvent.start.format();//当前点击的日期
                $("#reservebox").dialog({
                    autoOpen: false,
                    height: 350,
                    width: 400,
                    title: '修改值班',
                    modal: true,
                    using: function () {
                        $(this).css({
                            "position": "absolute",
                            //"top":"200px" //设置弹出框距离是页面顶端下的200px
                        });
                    },
                    draggable: false,
                    beforeClose: function (event, ui) {
                    },
                    buttons: {
                        "删除": function (event) {
                            layer.confirm('确实要删除吗?', { icon: 3, title: '提示' }, function (index) {
                                $.ajax({
                                    url: '/DutyManagement/ScheduleManager', //要访问的后台地址
                                    data: { selectdate: selectdate, method: "Del" }, //要发送的数据
                                    type: 'post',
                                    success: function (data, ioArgs) {
                                        var ar = eval('(' + data + ')');
                                        if (ar.Success) {
                                            location = location;
                                            layer.msg('删除成功!', { icon: 6 });
                                        }
                                        else {
                                            layer.msg(ar.Msg, { icon: 5 });
                                        }
                                    },
                                    error: function (err, ioArgs) {
                                        layer.msg('删除异常!', { icon: 5 });
                                    }
                                });
                            });
                            $(this).dialog("close");
                        },
                        "更新": function () {
                            var strIDS = validate();
                            var strZaoID = strIDS.a; //早班人员id
                            var strZhongID = strIDS.b;//中班人员id
                            var strWanID = strIDS.c;//晚班人员id
                            var strDaibanID = strIDS.d;//带班领导id
                            var strZongdaibanID = strIDS.e;//总带班领导
                            $.ajax({
                                url: '/DutyManagement/ScheduleManager', //要访问的后台地址
                                data: {
                                    zaoid: decodeURI(strZaoID),
                                    zhongid: decodeURI(strZhongID),
                                    wanid: decodeURI(strWanID),
                                    daibanid: decodeURI(strDaibanID),
                                    zongdaibanid: decodeURI(strZongdaibanID),
                                    selectdate: decodeURI(selectdate),
                                    method: "Add"
                                },
                                type: 'post',
                                success: function (data, ioArgs) {
                                    var ar = eval('(' + data + ')');
                                    if (ar.Success) {
                                        location = location;
                                        layer.msg('更新成功!', { icon: 6 });
                                    }
                                    else {
                                        layer.msg(ar.Msg, { icon: 5 });
                                    }
                                },
                                error: function (err, ioArgs) {
                                    layer.msg('更新异常!', { icon: 5 });
                                }
                            });
                            $(this).dialog("close");
                        }
                    }
                });
                $("#reservebox").dialog("open");
                return false;
            },
            editable: false,
            dayClick: function (date, allDay, jsEvent, view) {
                if ($('#divZao').css('display') == "none" && $('#divZhong').css('display') == "none" && $('#divWan').css('display') == "none") {
                    layer.msg('请设置排班班次!', { icon: 5 });
                    return;
                }
                var selectdate = date.format();//当前点击的日期
                $("#divBegin").hide();
                $("#divEnd").hide();
                $("#inputzao").val("");//清空
                $("#inputzhong").val("");
                $("#inputwan").val("");
                $("#inputdaiban").val("");
                $("#inputzongdaiban").val("");
                $("#inputzao").multiselect('refresh');
                $("#inputzhong").multiselect('refresh');
                $("#inputwan").multiselect('refresh');
                $("#inputdaiban").multiselect('refresh');
                $("#inputzongdaiban").multiselect('refresh');
                $("#reservebox").dialog({
                    autoOpen: false,
                    height: 350,
                    width: 400,
                    title: '添加值班',
                    modal: true,
                    using: function () {
                        $(this).css({
                            "position": "absolute",
                        });
                    },
                    draggable: false,
                    beforeClose: function (event, ui) { },
                    buttons: {
                        "关闭": function () {
                            $(this).dialog("close");
                        },
                        "保存": function () {
                            var strIDS = validate();
                            var strZaoID = strIDS.a; //早班人员id
                            var strZhongID = strIDS.b;//中班人员id
                            var strWanID = strIDS.c;//晚班人员id
                            var strDaibanID = strIDS.d;//带班领导id
                            var strZongdaibanID = strIDS.e;//总带班领导
                            $.ajax({
                                url: '/DutyManagement/ScheduleManager', //要访问的后台地址
                                data: {
                                    zaoid: decodeURI(strZaoID),
                                    zhongid: decodeURI(strZhongID),
                                    wanid: decodeURI(strWanID),
                                    daibanid: decodeURI(strDaibanID),
                                    zongdaibanid: decodeURI(strZongdaibanID),
                                    selectdate: decodeURI(selectdate),
                                    method: "Add"
                                }, //要发送的数据
                                type: 'post',
                                success: function (data, ioArgs) {
                                    var ar = eval('(' + data + ')');
                                    if (ar.Success) {
                                        location = location;
                                        layer.msg('保存成功!', { icon: 6 });

                                    }
                                    else {
                                        layer.msg(ar.Msg, { icon: 5 });
                                    }
                                },
                                error: function (err, ioArgs) {
                                    layer.msg('保存异常!', { icon: 5 });
                                }
                            });
                            $(this).dialog("close");
                        }
                    }
                });
                $("#reservebox").dialog("open");
                return false;
            },
            eventLimit: true, // allow "more" link when too many events
            events: function (start, end, timezone, callback) {
                var start = start.format();
                var end = end.format();
                $.ajax({
                    url: '/DutyManagement/ScheduleQuery', //要访问的后台地址
                    data: { start: start, end: end }, //要发送的数据
                    type: 'post',
                    success: function (data) {
                        var events = eval('(' + data + ')');
                        callback(events);
                    },
                    error: function (err, ioArgs) {
                        layer.msg('系统异常!', { icon: 5 });
                    }
                });
            }
        });
    });

    function NEWDUTY() {
        if ($('#divZao').css('display') == "none" && $('#divZhong').css('display') == "none" && $('#divWan').css('display') == "none") {
            layer.msg('请设置排班班次!', { icon: 5 });
            return;
        }
        $("#divBegin").show();
        $("#divEnd").show();
        $("#inputzao").val("");//清空
        $("#inputzhong").val("");
        $("#inputwan").val("");
        $("#inputdaiban").val("");
        $("#inputzongdaiban").val("");
        $("#inputzao").multiselect('refresh');
        $("#inputzhong").multiselect('refresh');
        $("#inputwan").multiselect('refresh');
        $("#inputdaiban").multiselect('refresh');
        $("#inputzongdaiban").multiselect('refresh');
        $("#reservebox").dialog({
            autoOpen: false,
            height: 430,
            width: 400,
            title: '新建排班',
            modal: true,
            using: function () {
                $(this).css({
                    "position": "absolute",
                });
            },
            draggable: false,
            beforeClose: function (event, ui) {
            },
            buttons: {
                "取消": function (event) {
                    $(this).dialog("close");
                },
                "新建排班": function () {
                    var strBegin = $("#begin").val();
                    var strEnd = $("#end").val();
                    if (strBegin == "") {
                        layer.msg('排班起始日期不可为空!', { icon: 5 });
                        return;
                    }
                    if (strEnd == "") {
                        layer.msg('排班结束日期不可为空!', { icon: 5 });
                        return;
                    }
                    if (strBegin > strEnd) {
                        layer.msg('排班开始日期不可大于排班结束日期!', { icon: 5 });
                        return;
                    }
                    var strIDS = validate();
                    var strZaoID = strIDS.a; //早班人员id
                    var strZhongID = strIDS.b;//中班人员id
                    var strWanID = strIDS.c;//晚班人员id
                    var strDaibanID = strIDS.d;//带班领导id
                    var strZongdaibanID = strIDS.e;//总带班领导
                    $.ajax({
                        url: '/DutyManagement/ScheduleManager', //要访问的后台地址
                        data: {
                            begin: strBegin,
                            end: strEnd,
                            zaoid: decodeURI(strZaoID),
                            zhongid: decodeURI(strZhongID),
                            wanid: decodeURI(strWanID),
                            daibanid: decodeURI(strDaibanID),
                            zongdaibanid: decodeURI(strZongdaibanID),
                            method: "PLAdd"
                        },
                        type: 'post',
                        dataType: 'json',
                        success: function (data, ioArgs) {
                            if (data.Success) {
                                location = location;
                                layer.msg('新建排班成功!', { icon: 6 });
                            }
                            else {
                                layer.msg(data.Msg, { icon: 5 });
                            }
                        },
                        error: function (err, ioArgs) {
                            layer.msg('新建排班失败!', { icon: 5 });
                        }
                    });
                    $(this).dialog("close");
                }
            }
        });
        $("#reservebox").dialog("open");
        return false;
    }

    //验证输入框
    function validate() {
        if ($('#divZao').css('display') == "none" && $('#divZhong').css('display') != "none" && $('#divWan').css('display') != "none") {
            strZhongID = encodeURI($("#inputzhong").val());//中班人员id
            strWanID = encodeURI($("#inputwan").val());//晚班人员id
            strDaibanID = encodeURI($("#inputdaiban").val());//带班领导id
            strZongdaibanID = encodeURI($("#inputzongdaiban").val());//总带班领导
            if (isNullOrEmpty(strZhongID) || isNullOrEmpty(strWanID) || isNullOrEmpty(strDaibanID) || isNullOrEmpty(strZongdaibanID)) {
                layer.msg('请选择各班次人员!', { icon: 5 });
                return;
            }
            return { a: '', b: strZhongID, c: strWanID, d: strDaibanID, e: strZongdaibanID };
        }
        else if ($('#divZhong').css('display') == "none" && $('#divZao').css('display') != "none" && $('#divWan').css('display') != "none") {
            strZaoID = encodeURI($("#inputzao").val()); //早班人员id
            strWanID = encodeURI($("#inputwan").val());//晚班人员id
            strDaibanID = encodeURI($("#inputdaiban").val());//带班领导id
            strZongdaibanID = encodeURI($("#inputzongdaiban").val());//总带班领导
            if (isNullOrEmpty(strZaoID) || isNullOrEmpty(strWanID) || isNullOrEmpty(strDaibanID) || isNullOrEmpty(strZongdaibanID)) {
                layer.msg('请选择各班次人员!', { icon: 5 });
                return;
            }
            return { a: strZaoID, b: '', c: strWanID, d: strDaibanID, e: strZongdaibanID };
        }
        else if ($('#divWan').css('display') == "none" && $('#divZhong').css('display') != "none" && $('#divZao').css('display') != "none") {
            strZaoID = encodeURI($("#inputzao").val()); //早班人员id
            strZhongID = encodeURI($("#inputzhong").val());//中班人员id
            strDaibanID = encodeURI($("#inputdaiban").val());//带班领导id
            strZongdaibanID = encodeURI($("#inputzongdaiban").val());//总带班领导

            if (isNullOrEmpty(strZaoID) || isNullOrEmpty(strZhongID) || isNullOrEmpty(strDaibanID) || isNullOrEmpty(strZongdaibanID)) {
                layer.msg('请选择各班次人员!', { icon: 5 });
                return;
            }
            return { a: strZaoID, b: strZhongID, c: '', d: strDaibanID, e: strZongdaibanID };
        }
        else if ($('#divZao').css('display') == "none" && $('#divZhong').css('display') == "none" && $('#divWan').css('display') != "none") {
            strWanID = encodeURI($("#inputwan").val());//晚班人员id
            strDaibanID = encodeURI($("#inputdaiban").val());//带班领导id
            strZongdaibanID = encodeURI($("#inputzongdaiban").val());//总带班领导
            if (isNullOrEmpty(strWanID) || isNullOrEmpty(strDaibanID) || isNullOrEmpty(strZongdaibanID)) {
                layer.msg('请选择各班次人员!', { icon: 5 });
                return;
            }
            return { a: '', b: '', c: strWanID, d: strDaibanID, e: strZongdaibanID };
        }
        else if ($('#divZao').css('display') == "none" && $('#divWan').css('display') == "none" && $('#divZhong').css('display') != "none") {
            strZhongID = encodeURI($("#inputzhong").val());//中班人员id
            strDaibanID = encodeURI($("#inputdaiban").val());//带班领导id
            strZongdaibanID = encodeURI($("#inputzongdaiban").val());//总带班领导
            if (isNullOrEmpty(strZhongID) || isNullOrEmpty(strDaibanID) || isNullOrEmpty(strZongdaibanID)) {;
                layer.msg('请选择各班次人员!', { icon: 5 });
                return;
            }
            return { a: '', b: strZhongID, c: '', d: strDaibanID, e: strZongdaibanID };
        }
        else if ($('#divZhong').css('display') == "none" && $('#divWan').css('display') == "none" && $('#divZao').css('display') != "none") {
            strZaoID = encodeURI($("#inputzao").val()); //早班人员id
            strDaibanID = encodeURI($("#inputdaiban").val());//带班领导id
            strZongdaibanID = encodeURI($("#inputzongdaiban").val());//总带班领导
            if (isNullOrEmpty(strZaoID) || isNullOrEmpty(strDaibanID) || isNullOrEmpty(strZongdaibanID)) {
                layer.msg('请选择各班次人员!', { icon: 5 });
                return;
            }
            return { a: strZaoID, b: '', c: '', d: strDaibanID, e: strZongdaibanID };
        }
        else if ($('#divZao').css('display') == "none" && $('#divZhong').css('display') == "none" && $('#divWan').css('display') == "none") {
            strDaibanID = encodeURI($("#inputdaiban").val());//带班领导id
            strZongdaibanID = encodeURI($("#inputzongdaiban").val());//总带班领导
            if (isNullOrEmpty(strDaibanID) || isNullOrEmpty(strZongdaibanID)) {
                layer.msg('请选择各班次人员!', { icon: 5 });
                return;
            }
            return { a: '', b: '', c: '', d: strDaibanID, e: strZongdaibanID };
        }
        else {
            var strZaoID = encodeURI($("#inputzao").val()); //早班人员id
            var strZhongID = encodeURI($("#inputzhong").val());//中班人员id
            var strWanID = encodeURI($("#inputwan").val());//晚班人员id
            var strDaibanID = encodeURI($("#inputdaiban").val());//带班领导id
            var strZongdaibanID = encodeURI($("#inputzongdaiban").val());//总带班领导
            if (isNullOrEmpty(strZaoID) || isNullOrEmpty(strZhongID) || isNullOrEmpty(strWanID) || isNullOrEmpty(strDaibanID) || isNullOrEmpty(strZongdaibanID)) {
                layer.msg('请选择各班次人员!', { icon: 5 });
                return;
            }
            return { a: strZaoID, b: strZhongID, c: strWanID, d: strDaibanID, e: strZongdaibanID };
        }
    }

    //判断字符串是否为空
    function isNullOrEmpty(strVal) {
        if (strVal == '' || strVal == null || strVal == undefined || strVal == 'null') {
            return true;
        }
        else {
            return false;
        }
    }

    //人员下拉框
    $(function () {
        $("#inputzao").multiselect({
            header: false,
            height: 200,
            minWidth: 200,
            selectedList: 10,//预设值最多显示10被选中项
            noneSelectedText: '请选择早班人员!',
        });
        $("#inputzhong").multiselect({
            header: false,
            height: 200,
            minWidth: 200,
            selectedList: 10,//预设值最多显示10被选中项
            noneSelectedText: '请选择中班人员!',
        });
        $("#inputwan").multiselect({
            header: false,
            height: 200,
            minWidth: 200,
            selectedList: 10,//预设值最多显示10被选中项
            noneSelectedText: '请选择晚班人员!',
        });
        $("#inputdaiban").multiselect({
            header: false,
            height: 200,
            minWidth: 200,
            selectedList: 10,//预设值最多显示10被选中项
            noneSelectedText: '请选择带班领导!',
        });
        $("#inputzongdaiban").multiselect({
            header: false,
            height: 200,
            minWidth: 200,
            selectedList: 10,//预设值最多显示10被选中项
            noneSelectedText: '请选择总带班领导!',
        });
    })
</script>