@{
    Layout = "~/Views/Shared/_LayOutIndexNoMenu.cshtml";
}
@model ManagerSystemModel.FIRERECORD_REPORT8_Model

@section Header{
    <script src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
}
<style>
    table tr td {
        color: #3c7915;
    }
</style>
<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
        <div class="divOP">
            <div style=" color: #3c7915;">
                年份：<input id="tbxREPORTYEAR" type="text" class="Wdate" style="width:100px;" value="@ViewBag.REPORTYEAR" onclick="WdatePicker({ dateFmt: 'yyyy'})" />
                单位：<select id="tbxBYORGNO" onchange="Query()">@Html.Raw(@ViewBag.vdOrg)</select>&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </div>
    <div data-options="region:'center'" title="" style=" border: none; ">
        <input id="dic305Value" type="hidden" value="@ViewBag.dic305Value" />
        <input id="dic305Count" type="hidden" value="@ViewBag.dic305Count" />
        <input id="dic310Value" type="hidden" value="@ViewBag.dic310Value" />
        <input id="dic310Count" type="hidden" value="@ViewBag.dic310Count" />
        <div class="divTable">
            <input id="tbxFIRERECORD_REPORT8" name="tbxFIRERECORD_REPORT8" type="hidden" value="@ViewBag.FIRERECORD_REPORT8" style="width:95%;" />
            <table cellpadding="0" cellspacing="0" style="text-align :center;">
                <tr style="width:95%;">
                    <td rowspan="3" style="width:25%;" id="tbx0">森林防火指挥部</td>
                    <td style="width:10%;" id="tbx0">省级</td>
                    <td style="width:200px;">机构数:&nbsp;&nbsp;<input id="tbx00" type="text" value="0" style="width: 50%;" /> (个)</td>
                    <td style="width:200px;">成员数:&nbsp;&nbsp;<input id="tbx01" type="text" value="0" style="width: 50%;" /> (人)</td>
                    <td></td>
                </tr>
                <tr style="width:95%;">
                    <td id="tbx1">地级</td>
                    <td>机构数:&nbsp;&nbsp;<input id="tbx10" type="text" value="0" style="width: 50%;" /> (个)</td>
                    <td>成员数:&nbsp;&nbsp;<input id="tbx11" type="text" value="0" style="width: 50%;" /> (人)</td>
                    <td></td>
                </tr>
                <tr style="width:95%;">
                    <td id="tbx2">县级</td>
                    <td>机构数:&nbsp;&nbsp;<input id="tbx20" type="text" value="0" style="width: 50%;" /> (个)</td>
                    <td>成员数:&nbsp;&nbsp;<input id="tbx21" type="text" value="0" style="width: 50%;" /> (人)</td>
                    <td></td>
                </tr>
                <tr style="width:95%;">
                    <td rowspan="3" style="width:25%;" id="tbx1">森林防火办事机构</td>
                    <td style="width:10%;" id="tbx">省级</td>
                    <td style="width:200px;">机构数:&nbsp;&nbsp;<input id="tbx02" type="text" value="0" style="width: 50%;" /> (个)</td>
                    <td style="width:200px;">编制数:&nbsp;&nbsp;<input id="tbx03" type="text" value="0" style="width: 50%;" /> (人)</td>
                    <td style="width:200px;">实有数:&nbsp;&nbsp;<input id="tbx04" type="text" value="0" style="width: 50%;" /> (人)</td>
                </tr>
                <tr style="width:95%;">
                    <td id="tbx">地级</td>
                    <td>机构数:&nbsp;&nbsp;<input id="tbx12" type="text" value="0" style="width:50%;" /> (个)</td>
                    <td>编制数:&nbsp;&nbsp;<input id="tbx13" type="text" value="0" style="width:50%;" /> (人)</td>
                    <td>实有数:&nbsp;&nbsp;<input id="tbx14" type="text" value="0" style="width: 50%;" /> (人)</td>
                </tr>
                <tr style="width:95%;">
                    <td id="tbx13">县级</td>
                    <td>机构数:&nbsp;&nbsp;<input id="tbx22" type="text" value="0" style="width:50%;" /> (个)</td>
                    <td>编制数:&nbsp;&nbsp;<input id="tbx23" type="text" value="0" style="width: 50%;" /> (人)</td>
                    <td>实有数:&nbsp;&nbsp;<input id="tbx24" type="text" value="0" style="width: 50%;" /> (人)</td>
                </tr>
                <tr style="width:95%;">
                    <td rowspan="3" style="width:25%;" id="tbx2">防火检查站</td>
                    <td style="width:10%;" id="tbx">省级</td>
                    <td>机构数:&nbsp;&nbsp;<input id="tbx05" type="text" value="0" style="width: 50%;" /> (个)</td>
                    <td>&nbsp;&nbsp;人 数:&nbsp;&nbsp;<input id="tbx06" name="0" type="text" value="0" style="width: 50%;" /> (人)</td>
                    <td></td>
                </tr>
                <tr style="width:95%;">
                    <td id="tbx">地级</td>
                    <td>机构数:&nbsp;&nbsp;<input id="tbx15" type="text" value="0" style="width: 50%;" /> (个)</td>
                    <td>&nbsp;&nbsp;人 数:&nbsp;&nbsp;<input id="tbx16" name="" type="text" value="0" style="width: 50%;" /> (人)</td>
                    <td></td>
                </tr>
                <tr style="width:95%;">
                    <td id="tbx23">县级</td>
                    <td>机构数:&nbsp;&nbsp;<input id="tbx25" type="text" value="0" style="width: 50%;" /> (个)</td>
                    <td>&nbsp;&nbsp;人 数:&nbsp;&nbsp;<input id="tbx26" name="" type="text" value="0" style="width: 50%;" /> (人)</td>
                    <td></td>
                </tr>
                <tr style="width:95%;">
                    <td rowspan="3" style="width:25%;" id="tbx3">专业(半专业)森林消防队</td>
                    <td style="width:10%;" id="tbx">省级</td>
                    <td>&nbsp;&nbsp;队 数:&nbsp;&nbsp;<input id="tbx07" type="text" value="0" style="width: 50%;" /> (个)</td>
                    <td>&nbsp;&nbsp;人 数:&nbsp;&nbsp;<input id="tbx08" type="text" value="0" style="width: 50%;" /> (人)</td>
                    <td></td>
                </tr>
                <tr style="width:95%;">
                    <td id="tbx32">地级</td>
                    <td>&nbsp;&nbsp;队 数:&nbsp;&nbsp;<input id="tbx17" type="text" value="0" style="width: 50%;" /> (个)</td>
                    <td>&nbsp;&nbsp;人 数:&nbsp;&nbsp;<input id="tbx18" type="text" value="0" style="width: 50%;" /> (人)</td>
                    <td></td>
                </tr>
                <tr style="width:95%;">
                    <td id="tbx33">县级</td>
                    <td>&nbsp;&nbsp;队 数:&nbsp;&nbsp;<input id="tbx27" type="text" value="0" style="width: 50%;" /> (个)</td>
                    <td>&nbsp;&nbsp;人 数:&nbsp;&nbsp;<input id="tbx28" type="text" value="0" style="width: 50%;" /> (人)</td>
                    <td></td>
                </tr>
                <tr style="width:95%;">
                    <td rowspan="3" style="width:25%;" id="tbx4">义务森林消防队</td>
                    <td style="width:10%;" id="tbx">省级</td>
                    <td>&nbsp;&nbsp;队 数:&nbsp;&nbsp;<input id="tbx09" type="text" value="0" style="width: 50%;" /> (个)</td>
                    <td>&nbsp;&nbsp;人 数:&nbsp;&nbsp;<input id="tbx010" type="text" value="0" style="width: 50%;" /> (人)</td>
                    <td></td>
                </tr>
                <tr style="width:95%;">
                    <td id="tbx42">地级</td>
                    <td>&nbsp;&nbsp;队 数:&nbsp;&nbsp;<input id="tbx19" type="text" value="0" style="width: 50%;" /> (个)</td>
                    <td>&nbsp;&nbsp;人 数:&nbsp;&nbsp;<input id="tbx110" type="text" value="0" style="width: 50%;" /> (人)</td>
                    <td></td>
                </tr>
                <tr style="width:95%;">
                    <td id="tbx43">县级</td>
                    <td>&nbsp;&nbsp;队 数:&nbsp;&nbsp;<input id="tbx29" type="text" value="0" style="width: 50%;" /> (个)</td>
                    <td>&nbsp;&nbsp;人 数:&nbsp;&nbsp;<input id="tbx210" type="text" value="0" style="width: 50%;" /> (人)</td>
                    <td></td>
                </tr>
                <tr style="width:95%;">
                    <td rowspan="3" style="width:25%;" id="tbx5">护林员（人）</td>
                    <td style="width:10%;" id="tbx">省级</td>
                    <td>&nbsp;&nbsp;专 职:&nbsp;&nbsp;<input id="tbx011" type="text" value="0" style="width: 50%;" /> (人)</td>
                    <td>&nbsp;&nbsp;兼 职:&nbsp;&nbsp;<input id="tbx012" type="text" value="0" style="width: 50%;" /> (人)</td>
                    <td></td>
                </tr>
                <tr style="width:95%;">
                    <td id="tbx">地级</td>
                    <td>&nbsp;&nbsp;专 职:&nbsp;&nbsp;<input id="tbx111" type="text" value="0" style="width: 50%;" /> (人)</td>
                    <td>&nbsp;&nbsp;兼 职:&nbsp;&nbsp;<input id="tbx112" type="text" value="0" style="width: 50%;" /> (人)</td>
                    <td></td>
                </tr>
                <tr style="width:95%;">
                    <td id="tbx">县级</td>
                    <td>&nbsp;&nbsp;专 职:&nbsp;&nbsp;<input id="tbx211" type="text" value="0" style="width: 50%;" /> (人)</td>
                    <td>&nbsp;&nbsp;兼 职:&nbsp;&nbsp;<input id="tbx212" type="text" value="0" style="width: 50%;" /> (人)</td>
                    <td></td>
                </tr>
                <tr style="width:95%;">
                    <td style="text-align:center;">备注：</td>
                    <td colspan="4">
                        <input id="tbx013" type="text" value="" style="width: 95%;" />
                    </td>
                </tr>
            </table>
        </div>
        <p style="text-align:center;margin-bottom:10px;">
            <input type="button" class="btnSaveCss" value="保存" onclick="Manager()" id="Save" />
        </p>
    </div>
</div>

<script type="text/javascript">
    //验证整数
    function CheckINT1(number) {
        var filter = /^\+?[0-9][0-9]*$/;
        if (filter.test($.trim(number))) return true;
        else {
            return false;
        }
    }
    function Manager() {
        var dic305Value = $('#dic305Value').val().split(',');
        var dic305Count = $('#dic305Count').val();
        if (dic305Count != "") {
            dic305Count = parseInt(dic305Count);
        }
        var dic310Value = $('#dic310Value').val().split(',');
        var dic310Count = $('#dic310Count').val();
        if (dic310Count != "") {
            dic310Count = parseInt(dic310Count);
        }
        var strREPORTCODE = "";
        var strSSXTYPELEVELCODE = "";
        var strREPORTVALUE = "";
        for (var x = 0; x < dic305Count; x++) {
            for (var y = 0; y < dic310Count; y++) {
                var temp = x.toString() + y.toString();
                var s = $('#tbx' + temp + '').val();
                if ($.trim(s) != "") {
                    if (temp !== x.toString() + (dic310Count - 1)) {
                        if (!CheckINT1(s)) {
                            layer.msg('请输入整数!', { icon: 5 });
                            $('#tbx' + temp + '').focus();
                            return;
                        }
                        else {
                            if (s == "0") {
                                continue;
                            }
                            else {
                                strREPORTVALUE = strREPORTVALUE + $('#tbx' + temp + '').val() + ",";
                                strSSXTYPELEVELCODE = strSSXTYPELEVELCODE + dic305Value[x] + ",";
                                strREPORTCODE = strREPORTCODE + dic310Value[y] + ",";
                            }
                        }
                    }
                    else {
                        strREPORTVALUE = strREPORTVALUE + $('#tbx' + temp + '').val() + ",";
                        strSSXTYPELEVELCODE = strSSXTYPELEVELCODE + dic305Value[x] + ",";
                        strREPORTCODE = strREPORTCODE + dic310Value[y] + ",";
                    }
                }
            }
        }
        $.ajax({
            url: '/FIRERECORD/FIRERECORD_REPORT8Manager',
            type: 'post',
            cache: false,
            timeout: 10000, //10秒后超时，如果为0则永不超时
            data: {
                REPORTYEAR: $("#tbxREPORTYEAR").val(),
                BYORGNO: $("#tbxBYORGNO").val(),
                REPORTCODE: strREPORTCODE,
                SSXTYPELEVELCODE: strSSXTYPELEVELCODE,
                REPORTVALUE: strREPORTVALUE,
                Method: '@ViewBag.Method',
            },
            success: function (data, ioArgs) {
                var ar = eval('(' + data + ')');
                if (ar.Success) {
                    if (confirm(ar.Msg + ' 请返回?')) {
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index);
                    }
                }
                else {
                    layer.msg(ar.Msg, { icon: 5 });
                }
            },
            error: function (err, ioArgs) {
                layer.msg('系统异常!', { icon: 5 });
            }
        });
    }
</script>
