@{
    Layout = "~/Views/Shared/_LayOutIndexNoMenu.cshtml";
}
@model ManagerSystemModel.FIRERECORD_REPORT11_Model

@section Header{
    <script src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
}
<style>
    table tr td {
        color: #3c7915;
        padding-left: 10px;
    }
</style>
<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'center'" title="" style=" border: none; ">
        <input id="dic313Value" type="hidden" value="@ViewBag.dic313Value" />
        <input id="dic313Count" type="hidden" value="@ViewBag.dic313Count" />
        <div class="divTable">
            <input id="tbxFIRERECORD_REPORT11" name="tbxFIRERECORD_REPORT11" type="hidden" value="@ViewBag.FIRERECORD_REPORT11" style="width:95%;" />
            <table cellpadding="0" cellspacing="0" style="text-align :left;">
                <tr style="width:95%;">
                    <td style="width:150px;"> 年份：</td>
                    <td><input id="tbxREPORTYEAR" type="text" class="Wdate" value="@ViewBag.REPORTYEAR" onclick="WdatePicker({ dateFmt: 'yyyy'})" /></td>
                    <td style="width:140px;"> 单位：</td>
                    <td><select id="tbxBYORGNO">@Html.Raw(@ViewBag.vdOrg)</select>&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td colspan=" 4"> 防火隔离带（公里）</td>
                </tr>
                <tr style="width:95%;">
                    <td> 合计：</td>
                    <td><input id="tbx0" type="text" value="0" style="width: 70%;" />(公里)</td>
                    <td> 生物林带：</td>
                    <td><input id="tbx1" type="text" value="0" style="width: 70%;" />(公里)</td>
                </tr>
                <tr style="width:95%;">
                    <td> 生土带：</td>
                    <td><input id="tbx2" type="text" value="0" style="width: 70%;" />(公里)</td>
                    <td> 防火公路：</td>
                    <td><input id="tbx3" type="text" value="0" style="width: 70%;" />(公里)</td>

                </tr>
                <tr>
                    <td colspan=" 4"> 森林消防车辆（台）</td>
                </tr>
                <tr style="width:95%;">
                    <td> 指挥车：</td>
                    <td><input id="tbx4" type="text" value="0" style="width: 70%;" />(台)</td>
                    <td> 宣传车：</td>
                    <td><input id="tbx5" type="text" value="0" style="width: 70%;" />(台)</td>
                </tr>
                <tr style="width:95%;">

                    <td> 运输车：</td>
                    <td><input id="tbx6" type="text" value="0" style="width: 70%;" />(台)</td>
                    <td> 摩托车：</td>
                    <td><input id="tbx7" type="text" value="0" style="width: 70%;" />(台)</td>
                </tr>
                <tr style="width:95%;">
                    <td> 其他车辆：</td>
                    <td><input id="tbx8" type="text" value="0" style="width: 70%;" />(台)</td>
                    <td colspan=" 2"></td>
                </tr>
                <tr style="width:95%;">
                    <td> 专用马匹：</td>
                    <td><input id="tbx9" type="text" value="0" style="width: 70%;" /></td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan=" 4"> 防火物资储备库</td>
                </tr>
                <tr style="width:95%;">
                    <td> 数量：</td>
                    <td><input id="tbx10" type="text" value="0" style="width: 70%;" />(座)</td>
                    <td> 面积：</td>
                    <td><input id="tbx11" type="text" value="0" style="width: 70%;" />(平方米)</td>

                </tr>
                <tr>
                    <td colspan=" 4"> 防火机具（台、把、套）</td>
                </tr>
                <tr style="width:95%;">
                    <td>合计</td>
                    <td><input id="tbx12" type="text" value="0" style="width: 70%;" /></td>
                    <td>风力灭火机：</td>
                    <td><input id="tbx13" type="text" value="0" style="width: 60%;" />(台、把、套)</td>
                </tr>
                <tr style="width:95%;">
                    <td>备注：</td>
                    <td colspan="3"><input id="tbx14" name="" type="text" style="width: 95%;" /></td>
                </tr>
            </table>
        </div>
        <p style="text-align:center;margin-bottom:10px;">
            <input type="button" class="btnSaveCss" value="保存" onclick="Manager()" id="Save" />
        </p>
    </div>
</div>

<script type="text/javascript">
    function CheckINT1(number) {
        var filter = /^\+?[0-9][0-9]*$/;
        if (filter.test($.trim(number))) return true;
        else {
            return false;
        }
    }
    function Manager() {
        var dic313Value = $('#dic313Value').val().split(',');
        var dic313Count = $('#dic313Count').val();
        if (dic313Count != "") {
            dic313Count = parseInt(dic313Count);
        }
        var strREPORTCODE = "";
        var strREPORTVALUE = "";
        for (var x = 0; x < dic313Count; x++) {
            var temp = x.toString();
            var s = $('#tbx' + temp + '').val();
            if ($.trim(s) != "") {
                if (temp !== (dic313Count - 1).toString()) {
                    if (!CheckNUM2(s)) {
                        layer.msg('请输入整数!', { icon: 5 });
                        $('#tbx' + temp + '').focus();
                        return;
                    }
                    else {
                        if (s == "0") {
                            continue;
                        }
                        else {
                            strREPORTCODE = strREPORTCODE + dic313Value[x] + ",";
                            strREPORTVALUE = strREPORTVALUE + $('#tbx' + temp + '').val() + ",";
                        }
                    }
                }
                else {
                    if (s == "0") {
                        continue;
                    }
                    else {
                        strREPORTCODE = strREPORTCODE + dic313Value[x] + ",";
                        strREPORTVALUE = strREPORTVALUE + $('#tbx' + temp + '').val() + ",";
                    }
                }
            }
        }
        $.ajax({
            url: '/FIRERECORD/FIRERECORD_REPORT11Manager',
            type: 'post',
            cache: false,
            timeout: 10000, //10秒后超时，如果为0则永不超时
            data: {
                REPORTYEAR: $("#tbxREPORTYEAR").val(),
                BYORGNO: $("#tbxBYORGNO").val(),
                REPORTCODE: strREPORTCODE,
                REPORTVALUE: strREPORTVALUE,
                Method: '@ViewBag.Method',
            },
            success: function (data, ioArgs) {
                var ar = eval('(' + data + ')');
                if (ar.Success) {
                    if (confirm(ar.Msg + ' 请返回?')) {
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index);
                    }
                }
                else {
                    layer.msg(ar.Msg, { icon: 5 });
                }
            },
            error: function (err, ioArgs) {
                layer.msg('系统异常!', { icon: 5 });
            }
        });
    }
</script>
