@{
    Layout = "~/Views/Shared/_LayOutIndexNoMenu.cshtml";
}
@model ManagerSystemModel.FIRERECORD_REPORT10_Model

@section Header{
    <script src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
}
<style>
    table tr td {
        color: #3c7915;
        padding-left: 10px;
    }
</style>
<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'center'" title="" style=" border: none; ">
        <input id="dic312Value" type="hidden" value="@ViewBag.dic312Value" />
        <input id="dic312Count" type="hidden" value="@ViewBag.dic312Count" />
        <div class="divTable">
            <input id="tbxFIRERECORD_REPORT10" name="tbxFIRERECORD_REPORT10" type="hidden" value="@ViewBag.FIRERECORD_REPORT10" style="width:95%;" />
            <table cellpadding="0" cellspacing="0" style="text-align :left;">
                <tr style="width:95%;">
                    <td style="width:150px;"> 年份：</td>
                    <td><input id="tbxREPORTYEAR" type="text" class="Wdate" value="@ViewBag.REPORTYEAR" onclick="WdatePicker({ dateFmt: 'yyyy'})" /></td>
                    <td style="width:150px;"> 单位：</td>
                    <td><select id="tbxBYORGNO">@Html.Raw(@ViewBag.vdOrg)</select>&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr style="width:95%;">
                    <td> 铁质：</td>
                    <td><input id="tbx0" type="text" value="0" style="width: 70%;" />(座)</td>
                    <td> 砖瓦：</td>
                    <td><input id="tbx1" type="text" value="0" style="width: 70%;" />(座)</td>
                </tr>
                <tr style="width:95%;">
                    <td> 木质：</td>
                    <td><input id="tbx2" type="text" value="0" style="width: 70%;" />(座)</td>
                    <td colspan=" 2"></td>
                </tr>
                <tr style="width:95%;">
                    <td> 计：</td>
                    <td><input id="tbx3" type="text" value="0" style="width: 70%;" />(台)</td>
                    <td> 其中40倍：</td>
                    <td><input id="tbx4" type="text" value="0" style="width: 70%;" />(台)</td>
                </tr>
                <tr style="width:95%;">
                    <td> 专用电话线：</td>
                    <td><input id="tbx5" type="text" value="0" style="width: 70%;" />(公里)</td>
                    <td> 有线电话线：</td>
                    <td><input id="tbx6" type="text" value="0" style="width: 70%;" />(部)</td>
                </tr>
                <tr style="width:95%;">
                    <td> 图文传真机：</td>
                    <td><input id="tbx7" type="text" value="0" style="width: 70%;" />(部)</td>
                    <td> 微型计算机：</td>
                    <td><input id="tbx8" type="text" value="0" style="width: 70%;" />(部)</td>
                </tr>
                <tr style="width:95%;">
                    <td> 数传终端机：</td>
                    <td><input id="tbx9" type="text" value="0" style="width: 70%;" />(部)</td>
                    <td colspan=" 2"> </td>

                </tr>
                <tr style="width:95%;">
                    <td> <15w：</td>
                    <td><input id="tbx10" type="text" value="0" style="width: 70%;" /></td>
                    <td> >=15W：</td>
                    <td><input id="tbx11" type="text" value="0" style="width: 70%;" /></td>
                </tr>
                <tr style="width:95%;">
                    <td> <=5W：</td>
                    <td><input id="tbx12" type="text" value="0" style="width: 70%;" /></td>
                    <td> >5W：</td>
                    <td><input id="tbx13" type="text" value="0" style="width: 70%;" /></td>
                </tr>
                <tr style="width:95%;">
                    <td> 中继台：</td>
                    <td><input id="tbx14" type="text" value="0" style="width: 70%;" /></td>
                    <td colspan="2"> </td>
                </tr>
                <tr style="width:95%;">
                    <td>备注：</td>
                    <td colspan="3"><input id="tbx15" name="" type="text" style="width: 95%;" /></td>
                </tr>
            </table>
        </div>
        <p style="text-align:center;margin-bottom:10px;">
            <input type="button" class="btnSaveCss" value="保存" onclick="Manager()" id="Save" />
        </p>
    </div>
</div>

<script type="text/javascript">
    //验证整数
    function CheckINT1(number) {
        var filter = /^\+?[0-9][0-9]*$/;
        if (filter.test($.trim(number))) return true;
        else {
            return false;
        }
    }
    function Manager() {
        var dic312Value = $('#dic312Value').val().split(',');
        var dic312Count = $('#dic312Count').val();
        if (dic312Count != "") {
            dic312Count = parseInt(dic312Count);
        }
        var strREPORTCODE = "";
        var strREPORTVALUE = "";
        for (var x = 0; x < dic312Count; x++) {
            var temp = x.toString();
            var s = $('#tbx' + temp + '').val();
            if ($.trim(s) != "") {
                if (temp !== "5" &&temp!==(dic312Count - 1).toString()) {
                    if (!CheckINT1(s)) {
                        layer.msg('请输入整数!', { icon: 5 });
                        $('#tbx' + temp + '').focus();
                        return;
                    }
                    else {
                        if (s == "0" ) {
                            continue;
                        }
                        else {
                            strREPORTCODE = strREPORTCODE + dic312Value[x] + ",";
                            strREPORTVALUE = strREPORTVALUE + $('#tbx' + temp + '').val() + ",";
                        }
                    }
                }
                else {
                    if (s == "0") {
                        continue;
                    }
                    else {
                        strREPORTCODE = strREPORTCODE + dic312Value[x] + ",";
                        strREPORTVALUE = strREPORTVALUE + $('#tbx' + temp + '').val() + ",";
                    }
                }
            }
        }
        $.ajax({
            url: '/FIRERECORD/FIRERECORD_REPORT10Manager',
            type: 'post',
            cache: false,
            timeout: 10000, //10秒后超时，如果为0则永不超时
            data: {
                REPORTYEAR: $("#tbxREPORTYEAR").val(),
                BYORGNO: $("#tbxBYORGNO").val(),
                REPORTCODE: strREPORTCODE,
                REPORTVALUE: strREPORTVALUE,
                Method: '@ViewBag.Method',
            },
            success: function (data, ioArgs) {
                var ar = eval('(' + data + ')');
                if (ar.Success) {
                    if (confirm(ar.Msg + ' 请返回?')) {
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index);
                    }
                }
                else {
                    layer.msg(ar.Msg, { icon: 5 });
                }
            },
            error: function (err, ioArgs) {
                layer.msg('系统异常!', { icon: 5 });
            }
        });
    }
</script>
