@{
    Layout = "~/Views/Shared/_LayOutIndexNoMenu.cshtml";
}
@model ManagerSystemModel.FIRERECORD_FIREINFO_Model

<script src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'center'" title="" style=" border: none; ">
        <div class="divTable">
           @Html.Raw(@ViewBag.See1)

            @*<input id="tbxJCFID" name="tbxJCFID" type="hidden" value="@ViewBag.JCFID" style="width:95%;" />
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td style="width:160px">起火地点县：</td>
                    <td>
                        @Html.Raw(@ViewBag.FIREADDRESSCOUNTY)
                    </td>
                    <td style="width:160px">起火地点乡：</td>
                    <td>
                        @Html.Raw(@ViewBag.FIREADDRESSTOWNS)
                    </td>
                </tr>
                <tr>
                    <td style="width:150px">起火地点村：</td>
                    <td>@Model.FIREADDRESSVILLAGES</td>
                    <td style="width:110px"></td>
                    <td> </td>
                </tr>
                <tr>
                    <td style="width:150px ">起火时间：</td>
                    <td>
                        @Model.FIRETIME
                    </td>
                    <td style="width:110px">灭火时间：</td>
                    <td>
                        @Model.FIREENDTIME
                    </td>
                </tr>
                <tr>
                    <td style="width:110px">火灾等级：</td>
                    <td>
                        @Html.Raw(@ViewBag.FIRERECINFO001)
                    </td>
                    <td style="width:110px">火灾种类：</td>
                    <td>
                        @Html.Raw(@ViewBag.FIRERECINFO000)
                    </td>
                </tr>
                <tr>
                    <td style="width:110px">火场面积：(公顷)</td>
                    <td>@Model.FIRERECINFO020</td>
                    <td style="width:110px">有林地面积：(公顷)</td>
                    <td>@Model.FIRERECINFO021</td>
                </tr>
                <tr>
                    <td style="width:110px">成灾面积原始林：(公顷)</td>
                    <td>@Model.FIRERECINFO030</td>
                    <td style="width:110px">成灾面积次生林：(公顷)</td>
                    <td>@Model.FIRERECINFO031</td>
                </tr>
                <tr>
                    <td style="width:110px">成灾面积人工林：(公顷)</td>
                    <td>@Model.FIRERECINFO032</td>
                    <td style="width:110px"></td>
                    <td> </td>
                </tr>
                <tr>
                    <td style="width:110px">林木损失成林蓄：（立方米）</td>
                    <td>@Model.FIRERECINFO040</td>
                    <td style="width:110px">林木损失幼林株：(万株)</td>
                    <td>@Model.FIRERECINFO041</td>
                </tr>
                <tr>
                    <td style="width:110px">林分组成：</td>
                    <td>@Model.FIRERECINFO050</td>
                    <td style="width:110px">林龄：(年)</td>
                    <td>@Model.FIRERECINFO051</td>
                </tr>
                <tr>
                    <td style="width:110px">火场指挥员姓名：</td>
                    <td>@Model.FIRERECINFO060</td>
                    <td style="width:110px">火场指挥员职务：</td>
                    <td>@Model.FIRERECINFO061</td>
                </tr>
                <tr>
                    <td style="width:110px">火案查处林政处罚：(人)</td>
                    <td>@Model.FIRERECINFO081</td>
                    <td style="width:110px">火案查处刑事处罚：(人)</td>
                    <td>@Model.FIRERECINFO082</td>
                </tr>
                <tr>
                    <td style="width:110px">人员伤亡轻伤：(人)</td>
                    <td>@Model.FIRERECINFO070</td>
                    <td style="width:110px">人员伤亡重伤：(人)</td>
                    <td>@Model.FIRERECINFO071</td>
                </tr>
                <tr>
                    <td style="width:110px">人员伤亡亡：(人)</td>
                    <td>@Model.FIRERECINFO072</td>
                    <td style="width:110px"></td>
                    <td> </td>
                </tr>
                <tr>
                    <td style="width:110px">其他损失折款：(万元)</td>
                    <td>@Model.FIRERECINFO090</td>
                    <td style="width:110px">扑火经费：(万元)</td>
                    <td>@Model.FIRERECINFO130</td>
                </tr>
                <tr>
                    <td style="width:110px">出动扑火人工：（工日）</td>
                    <td>@Model.FIRERECINFO100</td>
                    <td style="width:110px">出动车辆汽车：(台)</td>
                    <td>@Model.FIRERECINFO110</td>
                </tr>
                <tr>
                    <td style="width:110px">出动飞机：(架次)</td>
                    <td>@Model.FIRERECINFO120</td>
                    <td style="width:110px"></td>
                    <td> </td>
                </tr>
                <tr>
                    <td style="width:110px">火案查处是否已处理：</td>
                    <td>
                        @Html.Raw(@ViewBag.FIRERECINFO080)
                    </td>
                    <td style="width:110px">查明火源是否已查明：</td>
                    <td>
                        @Html.Raw(@ViewBag.FIRERECINFO140)
                    </td>
                </tr>
                <tr>
                    <td style="width:110px">火源：</td>
                    <td>
                        @Html.Raw(@ViewBag.FIRERECINFO160)
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </table>*@
        </div>
    </div>
</div>

