@{
    Layout = "~/Views/Shared/_LayOutIndexNoMenu.cshtml";
}
@model ManagerSystemModel.FIRERECORD_REPORT10_Model

@section Header{
    <script src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
}
<style type="text/css">
    table tr td {
        padding-left: 10px;
    }
</style>

<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
        <div class="divOP">
            <div>
                单位：<select id="tbxBYORGNO" onchange="Query()">@Html.Raw(@ViewBag.vdOrg)</select>&nbsp;&nbsp;&nbsp;
                年份：<input id="tbxREPORTYEAR" type="text" class="Wdate" style="width:100px;" value="@ViewBag.REPORTYEAR" onfocus="Query()" onclick="WdatePicker({ dateFmt: 'yyyy'})" />
                <input type="button" class="btnSaveCss" value="保 存" onclick="Manager()" id="Save" />
            </div>
        </div>
    </div>

    <div data-options="region:'center'" title="">
        <input id="dic312Value" type="hidden" value="@ViewBag.dic312Value" />
        <input id="dic312Count" type="hidden" value="@ViewBag.dic312Count" />
        <div class="divMan">
            <input id="tbxFIRERECORD_REPORT10" name="tbxFIRERECORD_REPORT10" type="hidden" value="@ViewBag.FIRERECORD_REPORT10" style="width:95%;" />
            <table cellpadding="0" cellspacing="0" style="text-align :left;">
                <tr style="width:95%;">
                    <td class="tdField">铁质：</td>
                    <td>
                        <input id="tbx0" type="text" value="0" style="width: 70%;" />
                        <span class="spanMark">座</span>
                    </td>
                    <td class="tdField">砖瓦：</td>
                    <td>
                        <input id="tbx1" type="text" value="0" style="width: 70%;" />
                        <span class="spanMark">座</span>
                    </td>
                </tr>
                <tr style="width:95%;">
                    <td class="tdField">木质：</td>
                    <td>
                        <input id="tbx2" type="text" value="0" style="width: 70%;" />
                        <span class="spanMark">座</span>
                    </td>
                    <td colspan=" 2"></td>
                </tr>
                <tr style="width:95%;">
                    <td class="tdField">计：</td>
                    <td>
                        <input id="tbx3" type="text" value="0" style="width: 70%;" />
                        <span class="spanMark">台</span>
                    </td>
                    <td class="tdField">其中40倍：</td>
                    <td>
                        <input id="tbx4" type="text" value="0" style="width: 70%;" />
                        <span class="spanMark">台</span>
                    </td>
                </tr>
                <tr style="width:95%;">
                    <td class="tdField">专用电话线：</td>
                    <td>
                        <input id="tbx5" type="text" value="0" style="width: 70%;" />
                        <span class="spanMark">公里</span>
                    </td>
                    <td class="tdField">有线电话机：</td>
                    <td>
                        <input id="tbx6" type="text" value="0" style="width: 70%;" />
                        <span class="spanMark">部</span>
                    </td>
                </tr>
                <tr style="width:95%;">
                    <td class="tdField">图文传真机：</td>
                    <td>
                        <input id="tbx7" type="text" value="0" style="width: 70%;" />
                        <span class="spanMark">部</span>
                    </td>
                    <td class="tdField">微型计算机：</td>
                    <td>
                        <input id="tbx8" type="text" value="0" style="width: 70%;" />
                        <span class="spanMark">部</span>
                    </td>
                </tr>
                <tr style="width:95%;">
                    <td class="tdField">数传终端机：</td>
                    <td>
                        <input id="tbx9" type="text" value="0" style="width: 70%;" />
                        <span class="spanMark">部</span>
                    </td>
                    <td colspan=" 2"> </td>

                </tr>
                <tr style="width:95%;">
                    <td class="tdField"><15w：</td>
                    <td><input id="tbx10" type="text" value="0" style="width: 70%;" /></td>
                    <td class="tdField">>=15W：</td>
                    <td><input id="tbx11" type="text" value="0" style="width: 70%;" /></td>
                </tr>
                <tr style="width:95%;">
                    <td class="tdField"><=5W：</td>
                    <td><input id="tbx12" type="text" value="0" style="width: 70%;" /></td>
                    <td class="tdField">>5W：</td>
                    <td><input id="tbx13" type="text" value="0" style="width: 70%;" /></td>
                </tr>
                <tr style="width:95%;">
                    <td class="tdField">中继台：</td>
                    <td><input id="tbx14" type="text" value="0" style="width: 70%;" /></td>
                    <td colspan="2"> </td>
                </tr>
                <tr style="width:95%;">
                    <td class="tdField">备注：</td>
                    <td colspan="3"><input id="tbx15" name="" type="text" style="width: 95%;" /></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    var dic312Value = $('#dic312Value').val().split(',');
    var dic312Count = $('#dic312Count').val();
    if (dic312Count != "") {
        dic312Count = parseInt(dic312Count);
    }

    if ('@ViewBag.Method' == 'Add') {
        var REPORTYEAR = $("#tbxREPORTYEAR").val();
        var BYORGNO = $("#tbxBYORGNO").val();
        $.ajax({
            url: '/FIRERECORD/GetReport10json',
            cache: false,
            timeout: 10000, //10秒后超时，如果为0则永不超时
            data: { REPORTYEAR: REPORTYEAR, BYORGNO: BYORGNO },//'ViewBag.REOPRTYEAR'
            success: function (data, ioArgs) {
                var ar = eval('(' + data + ')');
                for (var i = 0; i < ar.length; i++) {
                    for (var y = 0; y < dic312Count; y++) {
                        var temp = y.toString();
                        if (ar[i].REPORTCODE == dic312Value[y]) {
                            $('#tbx' + temp + '').val(ar[i].REPORTVALUE);
                        }
                    }

                }
            },
            error: function (err, ioArgs) {
                layer.msg("登录异常", { icon: 5 });

            }
        });
    }

    function Query() {
        var REPORTYEAR = $("#tbxREPORTYEAR").val();
        var BYORGNO = $("#tbxBYORGNO").val();
        $.ajax({
            url: '/FIRERECORD/GetReport10json',
            cache: false,
            timeout: 10000, //10秒后超时，如果为0则永不超时
            data: { REPORTYEAR: REPORTYEAR, BYORGNO: BYORGNO },
            success: function (data, ioArgs) {
                var ar = eval('(' + data + ')');
                if (ar.length > 0) {
                    //先将页面清零
                    for (var y = 0; y < dic312Count; y++) {
                        var temp = y.toString();
                        if (temp !== (dic312Count - 1).toString()) {
                            $('#tbx' + temp + '').val("0");
                        }
                        else {
                            $('#tbx' + temp + '').val("");
                        }
                    }
                    // 将取到的值赋值到界面
                    for (var i = 0; i < ar.length; i++) {
                        for (var y = 0; y < dic312Count; y++) {
                            var temp = y.toString();
                            if (ar[i].REPORTCODE == dic312Value[y]) {
                                $('#tbx' + temp + '').val(ar[i].REPORTVALUE);
                            }
                        }
                    }
                }
                else {
                    for (var y = 0; y < dic312Count; y++) {
                        var temp = y.toString();
                        if (temp !== (dic312Count - 1).toString()) {
                            $('#tbx' + temp + '').val("0");
                        }
                        else {
                            $('#tbx' + temp + '').val("");
                        }
                    }
                }
            },
            error: function (err, ioArgs) {
                layer.msg("查询异常!", { icon: 5 });
            }
        });
    }
    //验证整数
    function CheckINT1(number) {
        var filter = /^\+?[0-9][0-9]*$/;
        if (filter.test($.trim(number))) return true;
        else {
            return false;
        }
    }

    function Manager() {
        var strREPORTCODE = "";
        var strREPORTVALUE = "";
        for (var x = 0; x < dic312Count; x++) {
            var temp = x.toString();
            var s = $('#tbx' + temp + '').val();
            if ($.trim(s) != "") {
                if (temp !== "5" && temp !== (dic312Count - 1).toString()) {
                    if (!CheckINT1(s)) {
                        layer.msg('请输入整数!', { icon: 5 });
                        $('#tbx' + temp + '').focus();
                        return;
                    }
                    else {
                        strREPORTCODE = strREPORTCODE + dic312Value[x] + ",";
                        strREPORTVALUE = strREPORTVALUE + $('#tbx' + temp + '').val() + ",";
                    }
                }
                else {
                    if (s == "0") {
                        continue;
                    }
                    else {
                        strREPORTCODE = strREPORTCODE + dic312Value[x] + ",";
                        strREPORTVALUE = strREPORTVALUE + $('#tbx' + temp + '').val() + ",";
                    }
                }
            }
        }
        $.ajax({
            url: '/FIRERECORD/FIRERECORD_REPORT10Manager',
            type: 'post',
            cache: false,
            timeout: 10000, //10秒后超时，如果为0则永不超时
            data: {
                REPORTYEAR: $("#tbxREPORTYEAR").val(),
                BYORGNO: $("#tbxBYORGNO").val(),
                REPORTCODE: strREPORTCODE,
                REPORTVALUE: strREPORTVALUE,
                Method: '@ViewBag.Method',
            },
            success: function (data, ioArgs) {
                var ar = eval('(' + data + ')');
                if (ar.Success) {
                    layer.confirm(ar.Msg + ' 请返回?', { icon: 3, title: '提示' }, function (index2) {
                        layer.close(index2);
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index);
                    });
                }
                else {
                    layer.msg(ar.Msg, { icon: 5 });
                }
            },
            error: function (err, ioArgs) {
                layer.msg('系统异常!', { icon: 5 });
            }
        });
    }
</script>
