@using ManagerSystemClassLibrary;
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    var curorgno = SystemCls.getCurUserOrgNo();
    if (curorgno.Substring(6, 9) == "000000000" && curorgno.Substring(4, 2) != "00")
    {
        curorgno = curorgno.Substring(0, 6) + "xxxxxxxxx";
    }
    else
    {
        curorgno = SystemCls.getCurUserOrgNo();
    }
    var curorgno1 = SystemCls.getCurUserOrgNo();//添加的时候组织机判断
}
@section Header{

    <script src="~/Scripts/SpringerCommonValidate.js"></script>

}
<div class="easyui-layout" data-options="fit:true" style=" border:0;">


    <div data-options="region:'west'" title="" style=" width:220px; border: none;">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>
    <div data-options="region:'center'" title="" style=" border: none;">

        <div class="easyui-layout" data-options="fit:true" style=" border:0;">


            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                        <ul>
                            <li class="homeUL">
                                单位：<div id="tbxBYORGNO" class="easyui-tree"></div>
                                队伍类型：<select id="tbxARMYTYPE">
                                    @Html.Raw(@ViewBag.armytype)
                                </select>
                                名称：<input id="tbxNAME" type="text" class="input-small" style="width:80px" value="" />
                                编号：<input id="tbxNUMBER" type="text" class="input-small" style="width:80px" value="" />
                                <input type="button" value="查 询" onclick="query('1')" class="btnSearchCss" />
                                <input type="hidden" id="armyid" value="">
                                <input type="hidden" id="DCARMYID" value="">
                                <input type="button" value="添 加" id="btnAdd" onclick="Add()" style="display:none;" class="btnAddCss" />
                            </li>
                            <li class="active">
                                @using (@Html.BeginForm("ARMYList", "DataCenter", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <input name="file" style="width:90px;" type="file" id="file" class="btn btn-info btn-sm" />

                                    <button type="submit" name="Upload" value="导入" class="btnInputCss">
                                        导 入
                                    </button>
                                }
                            <li class="active">
                                <a href="~/UploadFile/DataCenterExcel/队伍模板.xls" target="_blank" title="右键，另存为">下载模板</a>
                            </li>
                        </ul>
                    </div>
            </div>
            <div data-options="region:'center'" title="" class="LayoutCenterBG">

                <div class="divTable" id="divTable">

                </div>
            </div>
            <div data-options="region:'south'" title="" style=" height:40px; border: none; overflow:hidden;  text-align:right;padding:2px 2px 2px 2px;">

                <div class="divPager" id="divPager">

                </div>
            </div>

        </div>
    </div>
</div>

<div class="divMan" id="Membertableadd" style="display:none;margin-left:5px;margin-top:8px">

</div>
<div class="divMan" id="Equiptableadd" style="display:none;margin-left:5px;margin-top:8px">
</div>
<script type="text/javascript">
    var bln = '@ViewBag.isAdd';
    if (bln == "1") {
        document.getElementById('btnAdd').style.display = "";
    }
    $(function () {
        $('#tbxBYORGNO').combotree({
            url: '/DataCenter/OrgTreeget',
            editable: false,
            required: true,
            panelHeight: 300,
            onLoadSuccess: function (node, data) {
                var t = $("#tbxBYORGNO").combotree('tree');//获取tree
                t.tree("collapseAll");
                node = t.tree("find", data[0].id);
                t.tree("expand", node.target);//展开节点 expandTo
            }
        });
        $('#tbxBYORGNO').combotree('setValue', "@curorgno");
        query('1');
    });
   
    function query(Page) {
        var pagesize = '0';
        if (document.getElementById("selPageSize") != null) {
            pagesize = document.getElementById("selPageSize").value;
        }
        var ORGNOS = $('#tbxBYORGNO').combotree('getValue');
        $.ajax({
            url: '/DataCenter/getARMYlist',
            data: {
                BYORGNO: ORGNOS,
                ARMYTYPE: document.getElementById("tbxARMYTYPE").value,
                NAME: document.getElementById("tbxNAME").value,
                NUMBER: document.getElementById("tbxNUMBER").value,
                PageSize: pagesize,
                Page: Page,
            },
            type: 'post',
            success: function (data) {
                var ar = eval('(' + data + ')');
                if (ar.Success) {
                    $('#divTable').html(ar.tableInfo);
                    $('#divPager').html(ar.pagerInfo);
                }
                else {
                    layer.msg('登录异常');
                }
            },
            error: function (err, ioArgs) {
                layer.msg('登录异常');
            }
        });
    }
    function Del(Method, ID, page) {
        layer.confirm('确实要删除吗?', { icon: 3, title: '提示' }, function (index) {
            $.ajax({
                url: '/DataCenter/ARMYManager',
                cache: false,
                data: { DC_ARMY_ID: ID, Method: Method },
                type: 'post',
                error: function () {
                    layer.msg('系统异常!', { icon: 5 });
                },
                dataType: 'json',
                success: function (re) {
                    if (re.Success) {
                        layer.msg('删除成功!', { icon: 6 });
                        query(page);
                    }
                    else {
                        layer.msg(re.Msg, { icon: 5 });
                    }
                }
            });
        });
    }
    function Add() {
        layer.open({
            type: 2,
            title: '添加',
            fix: false, //不固定
            area: ['80%', '80%'],
            maxmin: true,
            content: '/DataCenter/ARMY_NEWManIndex',
            end: function () {
                query(1);
            }
        });
    }
    function Mdy(Method, ID, page) {
        layer.open({
            type: 2,
            title: "修改",
            area: ['80%', '80%'],
            //shade: 0,
            fix: false,
            maxmin: true,
            content: '/DataCenter/ARMY_NEWManIndex?Method=' + Method + "&ID=" + ID,
            end: function () {
                query(1);
            }
        });
    }
                    
              
    function GetMember(ID) {
        document.getElementById("armyid").value = ID;
        $.ajax({
            url: '/DataCenter/getARMY_MEMBERlist',
            data: {
                DC_ARMY_ID: ID,
            },
            type: 'post',
            success: function (data, ioArgs) {
                var ar = eval('(' + data + ')');
                if (ar.Success) {
                    $('#Membertableadd').html(ar.tableInfo);
                    $('#BIRTH1').datebox({
                    });
                    layer.open({
                        type: 1,
                        title: '人员管理',
                        area: ['950px', '400px'],
                        shade: 0,
                        content: $('#Membertableadd')
                    });
                }
                else {
                    layer.msg(ar.Msg, { icon: 5 });
                }
            },
            error: function (err, ioArgs) {
                layer.msg('获取异常，请刷新重试');
            }
        });
    }
    function GetArmyEQUIP(ID) {
        document.getElementById("DCARMYID").value = ID;
        $.ajax({
            url: '/DataCenter/getARMY_EQUIPlist',
            data: {
                DC_ARMY_ID: ID,
            },
            type: 'post',
            success: function (data, ioArgs) {
                var ar = eval('(' + data + ')');
                if (ar.Success) {
                    $('#Equiptableadd').html(ar.tableInfo);
                    layer.open({
                        type: 1,
                        title: '装备管理',
                        area: ['950px', '400px'],
                        shade: 0,
                        content: $('#Equiptableadd')
                    });
                }
                else {
                    layer.msg(ar.Msg);
                }
            },
            error: function (err, ioArgs) {
                layer.msg('获取异常，请刷新重试');
            }
        });
    }
    function MEMOnclik(id, name, sex, contacts, birth, armyid) {
        document.getElementById("DC_ARMY_MEMBER_ID1").value = id;
        document.getElementById("MEMBERNAME").value = name;
        document.getElementById("SEX").value = sex;
        document.getElementById("CONTACTS1").value = contacts;
        document.getElementById("DC_ARMY_ID1").value = armyid;
        $('#BIRTH1').datebox('setValue', birth);
        document.getElementById('btnMemMdy').style.display = "";
        document.getElementById('btnMemDel').style.display = "";
    }
    function EQUOnclik(id, name, num, model, state, sum, armyequipid) {
        console.info(id, name, num, model, state, sum, armyequipid);
        document.getElementById("DC_ARMY_EQUIP_ID").value = id;
        document.getElementById("EQUIPNAME").value = name;
        document.getElementById("EQUIPNUM").value = num;
        document.getElementById("EQUIPMODEL").value = model;
        document.getElementById("EQUIPUSESTATE").value = state;
        document.getElementById("EQUIPSUM").value = sum;
        document.getElementById("DC_ARMY_ID").value = armyequipid;
        document.getElementById('btnEquMdy').style.display = "";
        document.getElementById('btnEquDel').style.display = "";
    }
    function ManagerMem(Method) {
        var bln = false;
        if (Method == 'Del') {
            if (confirm('确实要删除该内容吗?')) {
                bln = true;
            }
        } else {
            bln = true;
        }
        if (bln == true) {
            $.ajax({
                type: "Post",
                url: "/DataCenter/ARMY_MEMBERManager",
                data: {
                    Method: Method,
                    DC_ARMY_MEMBER_ID: document.getElementById("DC_ARMY_MEMBER_ID1").value,
                    MEMBERNAME: document.getElementById("MEMBERNAME").value,
                    SEX: document.getElementById("SEX").value,
                    CONTACTS: document.getElementById("CONTACTS1").value,
                    DC_ARMY_ID: document.getElementById("armyid").value,
                    BIRTH: $('#BIRTH1').datebox('getValue'),
                },
                success: function (data) {
                    var ar = eval('(' + data + ')');
                    if (ar.Success) {
                        layer.msg(ar.Msg);
                        GetMember(document.getElementById("armyid").value);
                    }
                    else {
                        layer.msg(ar.Msg);
                    }
                },
                error: function (err, ioArgs) {
                    layer.msg('操作异常，请重试');
                }
            });
        }
    }
    function ManagerEqu(Method) {
        var bln = false;
        if (Method == 'Del') {
            if (confirm('确实要删除该内容吗?')) {
                bln = true;
            }
        } else {
            bln = true;
        }
        if (bln == true) {
            $.ajax({
                type: "Post",
                url: "/DataCenter/ARMY_EQUIPManager",
                data: {
                    Method: Method,
                    DC_ARMY_EQUIP_ID: document.getElementById("DC_ARMY_EQUIP_ID").value,
                    EQUIPNAME: document.getElementById("EQUIPNAME").value,
                    EQUIPNUM: document.getElementById("EQUIPNUM").value,
                    EQUIPMODEL: document.getElementById("EQUIPMODEL").value,
                    EQUIPUSESTATE: document.getElementById("EQUIPUSESTATE").value,
                    EQUIPSUM: document.getElementById("EQUIPSUM").value,
                    DC_ARMY_ID: document.getElementById("DCARMYID").value,
                },
                success: function (data) {
                    var ar = eval('(' + data + ')');
                    if (ar.Success) {
                        layer.msg(ar.Msg, { icon: 6 });
                        GetArmyEQUIP(document.getElementById("DCARMYID").value);
                    }
                    else {
                        layer.msg(ar.Msg, { icon: 5 });
                    }
                },
                error: function (err, ioArgs) {
                    layer.msg('操作异常，请重试');
                }
            });
        }
    }
    //地图定位展示
    function Position(tablename, id,name) {
        layer.open({
            type: 2,
            title:name+ '地图定位',
            area: ['1000px', '500px'],
            //shade: 0,
            fix: true,
            maxmin: true,
            content: '/MapCommon/MapPostionCommonIndex?tablename=' + tablename + "&id=" + id
        })
    }
    function See(ID, tablename) {
        layer.open({
            type: 2,
            title: '队伍查看',
            area: ['500px', '300px'],
            fix: true,
            maxmin: true,
            content: '/DataCenter/SeeIndex?tablename=' + tablename + "&ID=" + ID
        })
    }
    function Photo(PRID, PHOTOTYPE) {
        layer.open({
            type: 2,
            title: '图片管理',
            area: ['900px', '450px'],
            fix: true,
            maxmin: true,
            content: '/DataCenter/PhotoIndex?PHOTOTYPE=' + PHOTOTYPE + "&PRID=" + PRID
        })
    }
    //选中改变颜色
    function setColor(obj) {
        $(obj).css("background-color", "#FFDAB9");
        $("tr").not($(obj)).css("background-color", "");
    }
</script>
