@using ManagerSystemClassLibrary;
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    var curorgno = SystemCls.getCurUserOrgNo();
    if (curorgno.Substring(6, 3) == "000" && curorgno.Substring(4, 2) != "00")
    {
        curorgno = curorgno.Substring(0, 6) + "xxx";
    }
    else
    {
        curorgno = SystemCls.getCurUserOrgNo();
    }
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">


    <div data-options="region:'west'" title="" style=" width:220px; border: none;">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>
    <div data-options="region:'center'" title="" style=" border: none;">

        <div class="easyui-layout" data-options="fit:true" style=" border:0;">


            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <ul>
                        <li class="homeUL">
                            单位：<div id="tbxBYORGNO" class="easyui-tree" style="width:150px"></div>
                            车辆类型：<select id="tbxCARTYPE">
                                @Html.Raw(@ViewBag.cartype)
                            </select>
                            名称：<input id="tbxNAME" type="text" class="input-small" style="width:80px" value="" />
                            @*编号：<input id="tbxNUMBER" type="text" class="input-small" style="width:100px" value="" />
                                号牌：<input id="tbxPLATENUM" type="text" class="input-small" style="width:100px" value="" />*@
                            <input type="button" value="查询" onclick="query('1')" class="btnSearchCss" />
                            <input type="button" value="添加" id="btnAdd" onclick="Manager('Add','','')" style="display:none;" class="btnAddCss"/>
                        </li>
                        <li class="active">
                            @using (@Html.BeginForm("CarList", "DataCenter", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <input name="file" style="width:90px;" type="file" id="file" class="btn btn-info btn-sm" />

                                <button type="submit" name="Upload" value="导入" class="btnInputCss">
                                    导 入
                                </button>
                            }
                        <li class="active">
                            <a href="~/UploadFile/DataCenterExcel/车辆模板.xls" target="_blank" title="右键，另存为">下载模板</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div data-options="region:'center'" title="" class="LayoutCenterBG">

                <div class="divTable" id="divTable">

                </div>
            </div>
            <div data-options="region:'south'" title="" style=" height:40px; border: none; overflow:hidden;  text-align:right;padding:2px 2px 2px 2px;">

                <div class="divPager" id="divPager">

                </div>
            </div>

        </div>
    </div>
</div>

<div class="divMan" id="tableadd" style="display:none;margin-left:5px;margin-top:8px">
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td style="width:80px;">
                单位：
            </td>
            <td>
                <select id="BYORGNO" class="easyui-combotree" style="width:200px;">

                </select>
            </td>
            <td style="width:80px;">
                车辆类型：
            </td>
            <td>
                <select id="CARTYPE">
                    @Html.Raw(@ViewBag.cartypeadd)
                </select>
            </td>
        </tr>

        <tr>
            <td style="width:80px;">
                <span style="color:red;">*</span>
                名称：
            </td>
            <td>
                <input type="text" id="NAME" class="input-small" value="" />
            </td>
            <td style="width:80px;">
                <span style="color:red;">*</span>
                编号：
            </td>
            <td>
                <input id="NUMBER" type="text" class="input-small" value="" />
            </td>
        </tr>
        <tr>
            <td style="width:80px;">
                号牌：
            </td>
            <td>
                <input id="PLATENUM" type="text" class="input-small" value="" />
            </td>
            <td style="width:80px;">
                储存地点：
            </td>
            <td>
                <input id="STOREADDR" type="text" class="input-small" value="" />
            </td>
        </tr>
        <tr>
            <td style="width:80px;">
                经度：
            </td>
            <td>
                <input id="JD" type="text" class="input-small" value="" />
            </td>
            <td style="width:80px;">
                纬度：
            </td>
            <td>
                <input id="WD" type="text" class="input-small" value="" />
                <input type="button" value="地图定位" onclick="setPoint()" class="btnMapLoaclCss" />
            </td>
        </tr>
        <tr>
            <td style="width:80px;">
                购买年份：
            </td>
            <td>
                <input class="easyui-datebox" id="BUYYEAR" type="text" style="width:90px;height:28px;" value="" />
            </td>
            <td style="width:80px;">
                购买价格：
            </td>
            <td>
                <input id="BUYPRICE" type="text" class="input-small" value="" />元
            </td>
        </tr>
        <tr>
            <td style="width:80px;">
                驾驶员：
            </td>
            <td>
                <input id="DRIVER" type="text" class="input-small" value="" />
            </td>
            <td style="width:80px;">
                联系方式：
            </td>
            <td>
                <input id="CONTACTS" type="text" class="input-small" value="" />
            </td>
        </tr>
        <tr>
            <td style="width:80px;">
                GPS设备型号：
            </td>
            <td>
                <input id="GPSEQUIP" type="text" class="input-small" value="" />
            </td>
            <td style="width:80px;">
                GPS号码：
            </td>
            <td>
                <input id="GPSTELL" type="text" class="input-small" value="" />
            </td>
        </tr>
        <tr>
            <td style="width:80px;">
                备注：
            </td>
            <td colspan="3">
                <input id="MARK" type="text" class="input-small" value="" />
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    var bln = '@ViewBag.isAdd';
    if (bln == "1") {
        document.getElementById('btnAdd').style.display = "";
    }
    $(function () {
        $('#tbxBYORGNO').combotree({
            url: '/DataCenter/OrgTreeget',
            editable: false,
            required: true,
            panelHeight: 300,
            onLoadSuccess: function (node, data) {
                var t = $("#tbxBYORGNO").combotree('tree');//获取tree
                t.tree("collapseAll");
                node = t.tree("find", data[0].id);
                t.tree("expand", node.target);//展开节点 expandTo
            }
        });
        $('#tbxBYORGNO').combotree('setValue', "@curorgno");
        query('1');
    });
    $(function () {
        $('#BYORGNO').combotree({
            url: '/DataCenter/OnlyOrgTreeget',
            editable: false,
            required: true,
            panelHeight: 300,
            onLoadSuccess: function (node, data) {
                var t = $("#BYORGNO").combotree('tree');//获取tree
                t.tree("collapseAll");
                node = t.tree("find", data[0].id);
                t.tree("expand", node.target);//展开节点 expandTo
            }
        });
        $('#BYORGNO').combotree('setValue', "@curorgno");
    });
    function query(Page) {
        var pagesize = '0';
        if (document.getElementById("selPageSize") != null) {
            pagesize = document.getElementById("selPageSize").value;
        }
        var ORGNOS = $('#tbxBYORGNO').combotree('getValue');
        $.ajax({
            url: '/DataCenter/getcarlist',
            //timeout: 10000, //10秒后超时，如果为0则永不超时
            data: {
                BYORGNO: ORGNOS,
                CARTYPE: document.getElementById("tbxCARTYPE").value,
                NAME: document.getElementById("tbxNAME").value,
                //NUMBER: document.getElementById("tbxNUMBER").value,
                //PLATENUM: document.getElementById("tbxPLATENUM").value,
                PageSize: pagesize,
                Page: Page,
            },
            type: 'post',
            success: function (data) {
                var ar = eval('(' + data + ')');
                if (ar.Success) {
                    $('#divTable').html(ar.tableInfo);
                    $('#divPager').html(ar.pagerInfo);
                }
                else {
                    layer.msg('登录异常');
                }
            },
            error: function (err, ioArgs) {
                layer.msg('登录异常');
            }
        });
    }

    //地图定位
    function setPoint() {
        var name = document.getElementById("NAME").value;
        var jd = document.getElementById("JD").value;
        var wd = document.getElementById("WD").value;
        layer.open({
            type: 2,
            title:name+ '地图位置设置',
            btn: ['保存', '关闭'],
            area: ['70%', '80%'],
            fix: true, //不固定
            maxmin: true,
            content: '/MapCommon/GetMapPontIndex?jd=' + jd + "&wd=" + wd,
            yes: function (index, layero) { //或者使用btn1
                //按钮【按钮一】的回调
                var ptxt = layer.getChildFrame("p", index);
                var arr = ptxt.html().split(',');
                if ($.trim(arr) != "") {
                    var jd = parseFloat(arr[0]).toFixed(6);
                    var wd = parseFloat(arr[1]).toFixed(6);
                    $('#JD').val(jd);
                    $('#WD').val(wd);
                }
                layer.close(index);
            }, cancel: function (index) {
                layer.close(index);
            }
        });
    }

    function Manager(Method, ID, page) {


        if (Method == 'Del') {
            if (confirm('确实要删除该内容吗?')) {
                $.ajax({
                    type: "Post",
                    url: "/DataCenter/CarManager",
                    data: {
                        DC_CAR_ID: ID,
                        Method: Method,
                    },
                    dataType: "json",
                    error: function () {
                        alert('错误:异常!', 'error');
                    },
                    success: function (re) {
                        if (re.Success) {
                            layer.msg('删除成功', { icon: 6 });
                            query(page);
                        }
                        else {
                            layer.msg('删除失败', { icon: 5 });
                        }
                    }
                });
            }
        }
        else {
            if (Method == 'Mdy' || Method == 'See') {
                $.ajax({
                    type: "Post",
                    url: "/DataCenter/GetCarjson",
                    data: {
                        DC_CAR_ID: ID,
                    },
                    dataType: "json",
                    error: function () {
                        layer.msg('错误:异常!', 'error');
                    },
                    success: function (data) {
                        if (data.DC_CAR_ID != '') {
                            //document.getElementById("BYORGNO").value = data.BYORGNO,
                            $('#BYORGNO').combotree('setValue', data.BYORGNO);
                            document.getElementById("CARTYPE").value = data.CARTYPE,
                            document.getElementById("NAME").value = data.NAME,
                            document.getElementById("NUMBER").value = data.NUMBER,
                            document.getElementById("PLATENUM").value = data.PLATENUM,
                            document.getElementById("BUYPRICE").value = data.BUYPRICE,
                            //document.getElementById("BUYYEAR").value = data.BUYYEAR,
                            document.getElementById("DRIVER").value = data.DRIVER,
                            document.getElementById("CONTACTS").value = data.CONTACTS,
                            document.getElementById("GPSEQUIP").value = data.GPSEQUIP,
                            document.getElementById("GPSTELL").value = data.GPSTELL,
                            document.getElementById("STOREADDR").value = data.STOREADDR,
                            document.getElementById("MARK").value = data.MARK,
                            document.getElementById("JD").value = data.JD,
                            document.getElementById("WD").value = data.WD,
                            $('#BUYYEAR').datebox('setValue', data.BUYYEAR)
                        }
                    }
                });
            }
            if (Method == 'Add') {
                //document.getElementById("BYORGNO").value = "",
                $('#BYORGNO').combotree('setValue', "@curorgno");
                document.getElementById("CARTYPE").value = "",
                document.getElementById("NAME").value = "",
                document.getElementById("NUMBER").value = "",
                document.getElementById("PLATENUM").value = "",
                document.getElementById("BUYPRICE").value = "",
                //document.getElementById("BUYYEAR").value = "",
                document.getElementById("DRIVER").value = "",
                document.getElementById("CONTACTS").value = "",
                document.getElementById("GPSEQUIP").value = "",
                document.getElementById("GPSTELL").value = "",
                document.getElementById("STOREADDR").value = "",
                document.getElementById("MARK").value = "",
                document.getElementById("JD").value = "",
                document.getElementById("WD").value = "",
                 $('#BUYYEAR').datebox('setValue', "")
            }
            var btnInfo = ['保存', '取消'];
            if (Method == "See")
                btnInfo = [];
            var str = "车辆添加";
            if (Method == "Mdy")
                str = "车辆修改";
            if (Method == "See")
                str = "车辆查看";
            layer.open({
                type: 1,
                title: str,
                area: ['50%', '70%'],
                btn: btnInfo,
                shade: 0,
                maxmin: true,
                content: $('#tableadd'),
                yes: function (index, layero) {
                    var t1 = $('#JD').val();
                    var t2 = $('#WD').val();
                    var t3 = $('#CONTACTS').val();
                    var t4 = $('#BUYPRICE').val();
                    var t5 = $('#NAME').val();
                    var t6 = $('#NUMBER').val();
                    if ($.trim(t1) != "") {
                        reg = /^-?\d+\.\d{1,6}$/;
                        if (!reg.test(t1)) {
                            layer.msg('经度格式不正确！', { icon: 5 });
                            $('#JD').focus();
                            return;
                        }
                    }
                    if ($.trim(t2) != "") {
                        reg = /^-?\d+\.\d{1,6}$/;
                        if (!reg.test(t2)) {
                            layer.msg('纬度格式不正确！', { icon: 5 });
                            $('#WD').focus();
                            return;
                        }
                    }
                    if ($.trim(t3) != "") {
                        if (checkPhone(t3) == false && checkTel(t3) == false) {
                            layer.msg('联系方式格式不正确！', { icon: 5 });
                            $('#CONTACTS').focus();
                            return;
                        }
                    }
                    if ($.trim(t4) != "") {
                        if (CheckNUM($.trim(t4)) == false) {
                            layer.msg('价格请填写数字！', { icon: 5 });
                            $('#BUYPRICE').focus();
                            return;
                        }
                    }
                    if ($.trim(t5) == "") {
                        layer.msg('请填写名称！', { icon: 5 });
                        $('#NAME').focus();
                    }
                    if ($.trim(t6) == "") {
                        layer.msg('请填写编号！', { icon: 5 });
                        $('#NUMBER').focus();
                        return;
                    }
                    $.ajax({
                        type: "Post",
                        url: "/DataCenter/CarManager",
                        data: {
                            DC_CAR_ID: ID,
                            Method: Method,
                            //BYORGNO: document.getElementById("BYORGNO").value,
                            BYORGNO: $('#BYORGNO').combotree('getValue'),
                            CARTYPE: document.getElementById("CARTYPE").value,
                            NAME: document.getElementById("NAME").value,
                            NUMBER: document.getElementById("NUMBER").value,
                            PLATENUM: document.getElementById("PLATENUM").value,
                            BUYPRICE: document.getElementById("BUYPRICE").value,
                            //BUYYEAR: document.getElementById("BUYYEAR").value,
                            DRIVER: document.getElementById("DRIVER").value,
                            CONTACTS: document.getElementById("CONTACTS").value,
                            GPSEQUIP: document.getElementById("GPSEQUIP").value,
                            GPSTELL: document.getElementById("GPSTELL").value,
                            STOREADDR: document.getElementById("STOREADDR").value,
                            MARK: document.getElementById("MARK").value,
                            JD: document.getElementById("JD").value,
                            WD: document.getElementById("WD").value,
                            BUYYEAR: $('#BUYYEAR').datebox('getValue'),

                        },
                        dataType: "json",
                        error: function () {
                            alert('错误:异常!', 'error');
                        },
                        success: function (re) {
                            if (re.Success) {
                                layer.close(index);
                                layer.msg('操作成功', { icon: 6 });
                                query('1');
                            }
                            else {
                                layer.msg(re.Msg, { icon: 5 });
                            }
                        }
                    });

                }, cancel: function (index) {
                    layer.close(index);
                }
            })
        }
    }
    //地图定位展示
    function Position(tablename, id,name ) {
        layer.open({
            type: 2,
            title:name+ '地图定位',
            area: ['70%', '80%'],
            //shade: 0,
            fix: true,
            maxmin: true,
            content: '/MapCommon/MapPostionCommonIndex?tablename=' + tablename + "&id=" + id
        })
    }
    //查看通用
    function See(ID, tablename) {
        layer.open({
            type: 2,
            title: '车辆查看',
            area: ['50%', '65%'],
            fix: true,
            maxmin: true,
            content: '/DataCenter/SeeIndex?tablename=' + tablename + "&ID=" + ID
        })
    }
//选中改变颜色
    function setColor(obj) {
        $(obj).css("background-color", "#FFDAB9");
        $("tr").not($(obj)).css("background-color", "");
    }
</script>
