@using ManagerSystemClassLibrary;
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    var curorgno = SystemCls.getCurUserOrgNo();
    if (curorgno.Substring(6, 9) == "000000000" && curorgno.Substring(4, 2) != "00")
    {
        curorgno = curorgno.Substring(0, 6) + "xxxxxxxxx";
    }
    else
    {
        curorgno = SystemCls.getCurUserOrgNo();
    }
    var curorgno1 = SystemCls.getCurUserOrgNo();//添加的时候组织机判断
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'west'" title="" style=" width:180px; border: none;">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>
    <div data-options="region:'center'" title="" style=" border: none;">
        <div class="easyui-layout" data-options="fit:true" style=" border:0;">
            <div data-options="region:'center'" title="" style=" border: none;">
                <div class="easyui-layout" data-options="fit:true" style=" border:0;">
                    <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                        <div class="divOP">
                            <div class="home">
                                单位：<div id="tbxBYORGNO" class="easyui-tree"></div>
                                名称：<input id="tbxNAME" type="text" class="input-small" style="width:120px" value="" />
                                <input type="button" value="查询" onclick="query('1')" class="btnSearchCss" />
                                <input type="button" value="添加" id="btnAdd" onclick="Add()" class="btnAddCss" />
                            </div>
                        </div>
                    </div>
                    <div data-options="region:'center'" title="" class="LayoutCenterBG">
                        <div class="divTable" id="divREPOSITORY">

                        </div>
                    </div>
                    <div data-options="region:'south'" title="" style=" height:40px; border: none; overflow:hidden;  text-align:right;padding:2px 2px 2px 2px;">
                        <div class="divPager" id="divPager">

                        </div>
                    </div>
                    <div data-options="region:'center'" title="" class="LayoutCenterBG">
                        <div class="divTable" id="divSupplies">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="divMan" id="SuppliesManger" style="display:none;margin-left:5px;margin-top:8px">

</div>

<div class="divMan" id="supliespropadd" style="display:none;margin-left:5px;margin-top:8px">

</div>

<div class="divMan" id="supinport" style="display:none;margin-left:5px;margin-top:8px">
    <input id="JD" type="hidden" class="input-small" value="" />
    <input id="WD" type="hidden" class="input-small" value="" />
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>物资名称</th>
                <th>厂家</th>
                <th>单价</th>
                <th>数量</th>
                <th>单位</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 1; i <= 6; i++)
            {
                <tr>
                    <td style="width:20%"><input id="rktbxDCSUPPROPNAME_@i.ToString()" name="DCSUPPROPNAME" style="width:180px;height:30px;" /></td>
                    <td style="width:35%"><input id="rktbxDCSUPPROPFACTORY_@i.ToString()" type="text" value="" style="width:90%;" readonly /></td>
                    <td style="width:15%"><input id="rktbxPRICE_@i.ToString()" type="text" value="" style="width:90%;" /></td>
                    <td style="width:15%"><input id="rktbxDCREPSUPCOUNT_@i.ToString()" type="text" value="" style="width:90%;" /></td>
                    <td style="width:15%"><input id="rktbxDCSUPPROPUNIT_@i.ToString()" type="text" value="" style="width:90%;" readonly /></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    var bln = '@ViewBag.isAdd';
    if (bln == "1") {
        document.getElementById('btnAdd').style.display = "";
    }
    $(function () {
        $('#tbxBYORGNO').combotree({
            url: '/DataCenter/OrgTreeget',
            editable: false,
            required: true,
            panelHeight: 300,
            onLoadSuccess: function (node, data) {
                var t = $("#tbxBYORGNO").combotree('tree');//获取tree
                t.tree("collapseAll");
                node = t.tree("find", data[0].id);
                t.tree("expand", node.target);//展开节点 expandTo
            }
        });
        $('#tbxBYORGNO').combotree('setValue', "@curorgno");
        query('1');
    });

    $(function () {
        $('#BYORGNO').combotree({
            url: '/DataCenter/OnlyOrgTreeget',
            editable: false,
            required: true,
            panelHeight: 300,
            onLoadSuccess: function (node, data) {
                var t = $("#BYORGNO").combotree('tree');//获取tree
                t.tree("collapseAll");
                node = t.tree("find", data[0].id);
                t.tree("expand", node.target);//展开节点 expandTo
            }
        });
        $('#BYORGNO').combotree('setValue', "@curorgno1");
    });

    function query(Page) {
        var pagesize = '0';
        if (document.getElementById("selPageSize") != null) {
            pagesize = document.getElementById("selPageSize").value;
        }
        var ORGNOS = $('#tbxBYORGNO').combotree('getValue');
        $.ajax({
            url: '/DataCenter/getREPOSITORYlist',
            data: {
                BYORGNO: ORGNOS,
                NAME: document.getElementById("tbxNAME").value,
                PageSize: pagesize,
                Page: Page,
            },
            type: 'post',
            success: function (data) {
                var ar = eval('(' + data + ')');
                if (ar.Success) {
                    $('#divREPOSITORY').html(ar.tableInfo);
                    $('#divPager').html(ar.pagerInfo);
                }
                else {
                    layer.msg('登录异常');
                }
            },
            error: function (err, ioArgs) {
                layer.msg('登录异常');
            }
        });
    }
    @*var bln1 = '@ViewBag.isexport';
    var bln2 = '@ViewBag.isinport';
    if (bln1 == "1") {
        document.getElementById('btnExport').style.display = "";
    }
    else {
        document.getElementById('btnExport').style.display = "none";
    }
    if (bln2 == "1") {
        document.getElementById('btnInport').style.display = "";
    }
    else {
        document.getElementById('btnInport').style.display = "none";
    }*@
    function showSupplie(ID, NAME) {
        $.ajax({
            url: '/DataCenter/getSuppliesCount',
            data: { ID: ID, },
            type: 'post',
            success: function (data) {
                var ar = eval('(' + data + ')');
                if (ar.Success) {
                    $('#divSupplies').html(ar.Msg);
                }
                else {
                }
            },
            error: function (err, ioArgs) {
            }
        });
    }

    function showSupplie(ID, NAME) {
        $.ajax({
            url: '/DataCenter/getSuppliesCount',
            data: { ID: ID, },
            type: 'post',
            success: function (data, ioArgs) {
                var ar = eval('(' + data + ')');
                if (ar.Success) {
                    $('#divSupplies').html(ar.Msg);
                    layer.open({
                        type: 1,
                        title: NAME + '物资统计',
                        area: ['75%', '65%'],
                        shade: 0,
                        maxmin: true,
                        content: $('#divSupplies')
                    });
                }
                else {
                    alert(ar.Msg);
                }
            },
            error: function (err, ioArgs) {
                layer.msg('获取异常，请刷新重试');
            }
        });
    }

    function Detail(ID, NAME) {
        var newmame = escape(NAME);
        layer.open({
            type: 2,
            title: NAME + '出入库明细',
            area: ['100%', '100%'],
            fix: false,
            maxmin: false,
            content: '/DataCenter/DetailIndex?REPID=' + ID + "&NAME=" + newmame
        })
    }
    function Del(Method, ID, page) {
        layer.confirm('确实要删除吗?', { icon: 3, title: '提示' }, function (index) {
            $.ajax({
                url: '/DataCenter/DEPTManager',
                cache: false,
                data: { DCREPOSITORYID: ID, Method: Method },
                type: 'post',
                error: function () {
                    layer.msg('系统异常!', { icon: 5 });
                },
                dataType: 'json',
                success: function (re) {
                    if (re.Success) {
                        layer.msg('删除成功!', { icon: 6 });
                        query(page);
                    }
                    else {
                        layer.msg(re.Msg, { icon: 5 });
                    }
                }
            });
        });
    }
    function Add() {
        layer.open({
            type: 2,
            title: '添加',
            fix: false, //不固定
            area: ['50%', '60%'],
            maxmin: true,
            content: '/DataCenter/DEPTlistMan',
            end: function () {
                query(1);
            }
        });
    }
    function Mdy(Method, ID, page) {
        layer.open({
            type: 2,
            title: "修改",
            area: ['50%', '60%'],
            //shade: 0,
            fix: false,
            maxmin: true,
            content: '/DataCenter/DEPTlistMan?Method=' + Method + "&ID=" + ID,
            end: function () {
                query(1);
            }
        });
    }
   

    //function getsupliesprop() {
    //    $.ajax({
    //        url: '/DataCenter/Suppliesproplist',
    //        data: {
    //        },
    //        type: 'post',
    //        success: function (data, ioArgs) {
    //            var ar = eval('(' + data + ')');
    //            if (ar.Success) {
    //                $('#supliespropadd').html(ar.tableInfo);
    //                layer.open({
    //                    type: 1,
    //                    title: '物资管理',
    //                    area: ['60%', '80%'],
    //                    shade: 0,
    //                    content: $('#supliespropadd')
    //                });
    //            }
    //            else {
    //                alert(ar.Msg);
    //            }
    //        },
    //        error: function (err, ioArgs) {
    //            layer.msg('获取异常，请刷新重试');
    //        }
    //    });
    //}
    //function SUPOnclik(ID, NAME, MODEL, UNIT, FACTORY, MARK) {
    //    document.getElementById("DC_SUPPLIESPROP_ID").value = ID;
    //    document.getElementById("DCSUPPROPNAME").value = NAME;
    //    document.getElementById("DCSUPPROPMODEL").value = MODEL;
    //    document.getElementById("DCSUPPROPUNIT").value = UNIT;
    //    document.getElementById("DCSUPPROPFACTORY").value = FACTORY;
    //    document.getElementById("MARK").value = MARK;
    //    document.getElementById('btnPROPMdy').style.display = "";
    //    document.getElementById('btnPROPDel').style.display = "";
    //}
    function SUPPLIESPROPManager(Method) {
        var bln = false;
        if (Method == 'Del') {
            if (confirm('确实要删除该内容吗?')) {
                bln = true;
            }
        } else {
            bln = true;
        }
        if (bln == true) {
            $.ajax({
                type: "Post",
                url: "/DataCenter/SUPPLIESPROPManager",
                data: {
                    Method: Method,
                    DC_SUPPLIESPROP_ID: document.getElementById("DC_SUPPLIESPROP_ID").value,
                    DCSUPPROPNAME: document.getElementById("DCSUPPROPNAME").value,
                    DCSUPPROPMODEL: document.getElementById("DCSUPPROPMODEL").value,
                    DCSUPPROPUNIT: document.getElementById("DCSUPPROPUNIT").value,
                    DCSUPPROPFACTORY: document.getElementById("DCSUPPROPFACTORY").value,
                    MARK: document.getElementById("MARK").value,
                },
                success: function (data) {
                    var ar = eval('(' + data + ')');
                    if (ar.Success) {
                        layer.msg(ar.Msg);
                        deptul();
                        getsupliesprop();
                    }
                    else {
                        layer.msg(ar.Msg);
                    }
                },
                error: function (err, ioArgs) {
                    layer.msg('操作异常，请重试');
                }
            });
        }
    }
    //地图定位
    function setPoint() {
        var jd = document.getElementById("JD").value;
        var wd = document.getElementById("WD").value;
        var name = document.getElementById("NAME").value;
        layer.open({
            type: 2,
            title: name + '地图位置设置',
            btn: ['保存', '关闭'],
            area: ['70%', '80%'],
            fix: false, //不固定
            maxmin: true,
            content: '/MapCommon/GetMapPontIndex?jd=' + jd + "&wd=" + wd,
            yes: function (index, layero) { //或者使用btn1
                //按钮【按钮一】的回调
                var ptxt = layer.getChildFrame("p", index);
                var arr = ptxt.html().split(',');
                if ($.trim(arr) != "") {
                    var jd = parseFloat(arr[0]).toFixed(6);
                    var wd = parseFloat(arr[1]).toFixed(6);
                    $('#JD').val(jd);
                    $('#WD').val(wd);
                }
                layer.close(index);
            }, cancel: function (index) {
                layer.close(index);
            }
        });

    }
    function Position(tablename, id, name) {
        layer.open({
            type: 2,
            title: name + '地图定位',
            area: ['80%', '90%'],
            //shade: 0,
            fix: true,
            maxmin: true,
            content: '/MapCommon/MapPostionCommonIndex?tablename=' + tablename + "&id=" + id
        })
    }
    //入库
    function getSupplies(ID, NAME) {
        var newmame = escape(NAME);
        layer.open({
            type: 2,
            title: NAME + '入库',
            area: ['70%', '80%'],
            fix: false,
            maxmin: true,
            content: '/DataCenter/InportIndex?REPID=' + ID + "&Name=" + newmame
        })
    }
    //出库
    function getSupplie(ID, NAME) {
        var newmame = escape(NAME);
        layer.open({
            type: 2,
            title: NAME + '出库',
            area: ['70%', '80%'],
            fix: false,
            maxmin: true,
            content: '/DataCenter/ExportIndex?REPID=' + ID + "&Name=" + newmame
        })

    }
    //查看通用
    function See(ID, tablename) {
        layer.open({
            type: 2,
            title: '仓库查看',
            area: ['48%', '40%'],
            fix: true,
            maxmin: true,
            content: '/DataCenter/SeeIndex?tablename=' + tablename + "&ID=" + ID
        })
    }
    function setColor(obj) {
        $(obj).css("background-color", "#FFDAB9");
        $("tr").not($(obj)).css("background-color", "");
    }
</script>
