@using ManagerSystemClassLibrary;
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    var curorgno = SystemCls.getCurUserOrgNo();
    if (string.IsNullOrEmpty(curorgno) == false)
    {
    if (curorgno.Substring(6, 9) == "000000000" && curorgno.Substring(4, 2) != "00")
    {
        curorgno = curorgno.Substring(0, 6) + "xxxxxxxxx";
    }
    else
    {
        curorgno = SystemCls.getCurUserOrgNo();
    }
    }
    var curorgno1 = SystemCls.getCurUserOrgNo();//添加的时候组织机判断
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">


    <div data-options="region:'west'" title="" style=" width:220px; border: none;">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>
    <div data-options="region:'center'" title="" style=" border: none;">

        <div class="easyui-layout" data-options="fit:true" style=" border:0;">
            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                        <ul>
                            <li class="homeUL">
                                单位：<div id="tbxORGNOS" class="easyui-tree"></div>
                                通道等级：<select id="tbxFIRECHANNELLEVELTYPE">
                                    @Html.Raw(@ViewBag.fireleveltype)
                                </select>
                                使用性质：<select id="tbxFIRECHANNELUSERTYPE">
                                    @Html.Raw(@ViewBag.fireusetype)
                                </select>
                                @*使用现状：<select id="tbxUSESTATE">
                                    @Html.Raw(@ViewBag.usestate)
                                </select>*@
                                @*维护类型：<select id="tbxMANAGERSTATE">
                                    @Html.Raw(@ViewBag.managerstate)
                                </select>*@
                                名称：<input id="tbxNAME" type="text" class="input-small" style="width:100px" value="" />
                                @*编号：<input id="tbxNUMBER" type="text" class="input-small" style="width:60px" value="" />*@
                                <input type="button" value="查询" onclick="query('1')" class="btnSearchCss" />
                                <input type="button" value="添加" id="btnAdd" onclick="Add()" style="display:none;" class="btnAddCss" />
                                <input type="button" value="导入" onclick="Upload()" class="btnUnEnableCss" />
                            </li>
                            @*<li class="active">
                                @using (@Html.BeginForm("FIRECHANNELList", "DataCenter", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <input name="file" style="width:90px;" type="file" id="file" class="btn btn-info btn-sm" />

                                    <button type="submit" name="Upload" value="导入" class="btnInputCss">
                                        导 入
                                    </button>
                                }
                            <li class="active">
                                <a href="~/UploadFile/DataCenterExcel/防火通道模板.xls" target="_blank" title="右键，另存为">下载模板</a>
                            </li>*@
                        </ul>
                    </div>
            </div>
            <div data-options="region:'center'" title="" class="LayoutCenterBG">

                <div class="divTable" id="divTable">

                </div>
            </div>
            <div data-options="region:'south'" title="" style=" height:40px; border: none; overflow:hidden;  text-align:right;padding:2px 2px 2px 2px;">

                <div class="divPager" id="divPager">

                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">
    var bln = '@ViewBag.isAdd';
    if (bln == "1") {
        document.getElementById('btnAdd').style.display = "";
    }
    $(function () {
        $('#tbxORGNOS').combotree({
            url: '/DataCenter/OrgTreeget',
            editable: false,
            required: true,
            panelHeight: 300,
            onLoadSuccess: function (node, data) {
                var t = $("#tbxORGNOS").combotree('tree');//获取tree
                t.tree("collapseAll");
                node = t.tree("find", data[0].id);
                t.tree("expand", node.target);//展开节点 expandTo
            }
        });
        $('#tbxORGNOS').combotree('setValue', "@curorgno");
        query('1');
    });
    function query(Page) {
        var pagesize = '0';
        if (document.getElementById("selPageSize") != null) {
            pagesize = document.getElementById("selPageSize").value;
        }
        var ORGNOS = $('#tbxORGNOS').combotree('getValue');
        $.ajax({
            url: '/DataCenter/getFIRECHANNELlist',
            data: {
                BYORGNO:ORGNOS,
                FIRECHANNELLEVELTYPE: document.getElementById("tbxFIRECHANNELLEVELTYPE").value,
                FIRECHANNELUSERTYPE: document.getElementById("tbxFIRECHANNELUSERTYPE").value,
                //USESTATE: document.getElementById("tbxUSESTATE").value,
                //MANAGERSTATE: document.getElementById("tbxMANAGERSTATE").value,
                NAME: document.getElementById("tbxNAME").value,
                //NUMBER: document.getElementById("tbxNUMBER").value,
                PageSize: pagesize,
                Page: Page,
            },
            type: 'post',
            success: function (data) {
                var ar = eval('(' + data + ')');
                if (ar.Success) {
                    $('#divTable').html(ar.tableInfo);
                    $('#divPager').html(ar.pagerInfo);
                }
                else {
                    layer.msg('登录异常');
                }
            },
            error: function (err, ioArgs) {
                layer.msg('登录异常');
            }
        });
    }

    function Del(Method, ID, page) {
        layer.confirm('确实要删除吗?', { icon: 3, title: '提示' }, function (index) {
            $.ajax({
                url: '/DataCenter/FIRECHANNELManager',
                cache: false,
                data: { DC_UTILITY_FIRECHANNEL_ID: ID, Method: Method },
                type: 'post',
                error: function () {
                    layer.msg('系统异常!', { icon: 5 });
                },
                dataType: 'json',
                success: function (re) {
                    if (re.Success) {
                        layer.msg('删除成功!', { icon: 6 });
                        query(page);
                    }
                    else {
                        layer.msg(re.Msg, { icon: 5 });
                    }
                }
            });
        });
    }
    function Add() {
        layer.open({
            type: 2,
            title: '添加',
            fix: false, //不固定
            area: ['760px', '400px'],
            maxmin: true,
            content: '/DataCenter/FIRECHANNELManIndex',
            end: function () {
                query(1);
            }
        });
    }
    function Mdy(Method, ID, page) {
        layer.open({
            type: 2,
            title: "修改",
            area: ['760px', '400px'],
            //shade: 0,
            fix: false,
            maxmin: true,
            content: '/DataCenter/FIRECHANNELManIndex?Method=' + Method + "&ID=" + ID,
            end: function () {
                query(1);
            }
        });
    }
    ///上传弹出上传界面
    function Upload() {
        layer.open({
            type: 2,
            title: '防火通道上传',
            area: ['1000px', '500px'],
            //shade: 0,
            fix: true,
            maxmin: true,
            content: '/DataCenter/FIRECHANNELList',
            end: function () {
                query(1);
            }
        })
    }
    ///地图定位(线)
    function PositionLine(tablename, id,name, type) {
        layer.open({
            type: 2,
            title:name+ '地图定位',
            area: ['1000px', '600px'],
            //shade: 0,
            fix: true,
            maxmin: true,
            content: '/MapCommon/MapPostionCommonIndex?tablename=' + tablename + "&id=" + id + "&type=" + type
        })
    }
    function See(ID, tablename) {
        layer.open({
            type: 2,
            title: '防火通道查看',
            area: ['550px', '270px'],
            fix: true,
            maxmin: true,
            content: '/DataCenter/SeeIndex?tablename=' + tablename + "&ID=" + ID
        })
    }
    //选中改变颜色
    function setColor(obj) {
        $(obj).css("background-color", "#FFDAB9");
        $("tr").not($(obj)).css("background-color", "");
    }
</script>
