@using ManagerSystemClassLibrary;
@{
    Layout = "~/Views/Shared/_LayOutIndexNoMenu.cshtml";
    var curorgno1 = SystemCls.getCurUserOrgNo();//添加的时候组织机判断
}
<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'center'" title="" style=" border: none; ">
        <div class="easyui-layout" data-options="fit:true" style=" border:0;">
            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <div class="homeUL">
                        <input type="button" value="保存" onclick="Manager()" id="btnSave" class="btnSaveCss">
                    </div>
                </div>
            </div>

            <div data-options="region:'center'" title="" style=" border: none; ">
                <div class="divMan">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td style="width:100px;" class="tdField">
                                单位：
                            </td>
                            <td>
                                <select id="BYORGNO" class="easyui-combotree" style="width:180px;"></select>
                            </td>
                            <td style="width:100px;" class="tdField">
                                长度：
                            </td>
                            <td>
                                <input id="LENGTH" type="text" class="input-small" value="" /><span class="spanMark">米</span>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:100px;" class="tdField">
                                @*<span style="color:red;">*</span>*@
                                名称：
                            </td>
                            <td>
                                <input type="text" id="NAME" class="input-small" value="" />
                                <span class="spanRequiredField">*</span>
                            </td>
                            <td style="width:100px;" class="tdField">
                                @*<span style="color:red;">*</span>*@
                                编号：
                            </td>
                            <td>
                                <input id="NUMBER" type="text" class="input-small" value="" />
                                <span class="spanRequiredField">*</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:100px;" class="tdField">
                                使用现状类型：
                            </td>
                            <td>
                                <select id="USESTATE">
                                    @Html.Raw(@ViewBag.usestateadd)
                                </select>
                            </td>
                            <td style="width:100px;" class="tdField">
                                维护管理类型：
                            </td>
                            <td>
                                <select id="MANAGERSTATE">
                                    @Html.Raw(@ViewBag.managerstateadd)
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:120px;" class="tdField">
                                等级类型：
                            </td>
                            <td>
                                <select id="FIRECHANNELLEVELTYPE">
                                    @Html.Raw(@ViewBag.fireleveltypeadd)
                                </select>
                            </td>
                            <td style="width:120px;" class="tdField">
                               使用性质：
                            </td>
                            <td>
                                <select id="FIRECHANNELUSERTYPE">
                                    @Html.Raw(@ViewBag.fireusetypeadd)
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:160px;" class="tdField">
                                经纬度点：
                            </td>
                            <td colspan="3">
                                <input id="JWDLIST" type="text" style="width:75%" value="" readonly />
                                <span class="spanRequiredField">*</span>
                                <input type="button" value="地图定位" onclick="setLine()" class="btnMapLoaclCss" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:80px;" class="tdField">规划建设日期：</td>
                            <td colspan="3">
                                开始时间:<input class="easyui-datebox" id="BUILDDATEBEGIN" type="text" style="width:120px;height:28px;" value="" />&nbsp;&nbsp;
                                &nbsp;&nbsp;结束时间:<input class="easyui-datebox" id="BUILDDATEEND" type="text" style="width:120px;height:28px;" value="" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:80px;" class="tdField">建成日期：</td>
                            <td><input class="easyui-datebox" id="BUILDDATE" type="text" style="width:120px;height:28px;" value="" /></td>
                            <td style="width:80px;" class="tdField">总价：</td>
                            <td><input id="WORTH" type="text" class="input-small" value="" /><span class="spanMark">元</span></td>
                        </tr>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#BYORGNO').combotree({
            url: '/DataCenter/OnlyOrgTreeget',
            editable: false,
            required: true,
            panelHeight: 300,
            onLoadSuccess: function (node, data) {
                var t = $("#BYORGNO").combotree('tree');//获取tree
                t.tree("collapseAll");
                node = t.tree("find", data[0].id);
                t.tree("expand", node.target);//展开节点 expandTo
            }
        });
        $('#BYORGNO').combotree('setValue', "@curorgno1");
    });
    if ('@ViewBag.T_Method' == "Del") {
        Manager();
    }
    if ('@ViewBag.T_Method' == 'Mdy') {
        $.ajax({
            url: '/DataCenter/GetFIRECHANNELjson',
            cache: false,
            timeout: 10000, //10秒后超时，如果为0则永不超时
            data: { DC_UTILITY_FIRECHANNEL_ID: '@ViewBag.ID' },
            success: function (data, ioArgs) {
                var data = eval('(' + data + ')');
                if (data.DC_UTILITY_FIRECHANNEL_ID != null) {
                    document.getElementById("NUMBER").value = data.NUMBER;
                    document.getElementById("NAME").value = data.NAME;
                    //document.getElementById("BYORGNO").value = data.BYORGNO;
                    $('#BYORGNO').combotree('setValue', data.BYORGNO);
                    document.getElementById("USESTATE").value = data.USESTATE;
                    document.getElementById("MANAGERSTATE").value = data.MANAGERSTATE;
                    document.getElementById("FIRECHANNELLEVELTYPE").value = data.FIRECHANNELLEVELTYPE;
                    document.getElementById("FIRECHANNELUSERTYPE").value = data.FIRECHANNELUSERTYPE;
                    document.getElementById("LENGTH").value = data.LENGTH;
                    var str = data.JWDLIST;
                    if (str.substring(str.length - 1) != ";") {
                        document.getElementById("JWDLIST").value = str + ";";
                    } else {
                        document.getElementById("JWDLIST").value = str;
                    }
                    document.getElementById("WORTH").value = data.WORTH;
                    //document.getElementById("JDEND").value = data.JDEND;
                    //document.getElementById("WDEND").value = data.WDEND;
                    $('#BUILDDATE').datebox('setValue', data.BUILDDATE);
                    $('#BUILDDATEBEGIN').datebox('setValue', data.BUILDDATEBEGIN);
                    $('#BUILDDATEEND').datebox('setValue', data.BUILDDATEEND);
                }
            },
            error: function (err, ioArgs) {
                layer.msg('登录异常');
            }
        });
    }

    function setLine() {
        var name = document.getElementById("NAME").value;
        var str = document.getElementById("JWDLIST").value;
        parent.layer.open({
            type: 2,
            title: name + '地图位置设置',
            btn: ['保存', '关闭'],
            area: ['1000px', '600px'],
            fix: false, //不固定
            maxmin: true,
            //content: '/MapCommon/GetMapPontIndex?LINE=1' + "&jwdlist=" + str,
            content: '/MapCommon/GetMapPontIndex?LINE=1',
            success: function (layero, index) {
                var body = parent.layer.getChildFrame('body', index);
                body.find('#editcollecttxt').text(str);
                top.window["layui-layer-iframe" + index].getLocaCollectLine();//线
                //getLocaCollectLine() 线
            },
            yes: function (index, layero) { //或者使用btn1
                //按钮【按钮一】的回调

                var ptxt = parent.layer.getChildFrame("#editcollecttxt", index);
                $('#JWDLIST').val(ptxt.html());
                var lm = parent.layer.getChildFrame("#MjACdtxt", index)//长度
                $('#LENGTH').val(lm.html());//长度
                parent.layer.close(index);
            }, cancel: function (index) {
                parent.layer.close(index);
            }
        });

    }
    function Manager() {
        var t1 = $('#WORTH').val();
        var t2 = $('#LENGTH').val();
        var t3 = $('#NAME').val();
        var t4 = $('#NUMBER').val();
        if ($.trim(t1) != "") {
            if (CheckNUM($.trim(t1)) == false) {
                layer.msg('总价请填写数字！', { icon: 5 });
                $('#WORTH').focus();
                return;
            }
        }
        if ($.trim(t2) != "") {
            if (CheckNUM($.trim(t2)) == false) {
                layer.msg('长度请填写数字！', { icon: 5 });
                $('#LENGTH').focus();
                return;
            }
        }
        var tt = document.getElementById("JWDLIST").value;
        if (tt.split('|').length == 1) {
            layer.msg('请在地图上画出线！', { icon: 5 });
            return;
        }
        if ($.trim(t3) == "") {
            layer.msg('请填写名称！', { icon: 5 });
            $('#NAME').focus();
            return;
        }
        if ($.trim(t4) == "") {
            layer.msg('请填写编号！', { icon: 5 });
            $('#NUMBER').focus();
            return;
        }
        $.ajax({
            type: "Post",
            url: "/DataCenter/FIRECHANNELManager",
            data: {
                DC_UTILITY_FIRECHANNEL_ID: '@ViewBag.ID',
                Method: '@ViewBag.T_Method',
                NUMBER: document.getElementById("NUMBER").value,
                NAME: document.getElementById("NAME").value,
                //BYORGNO: document.getElementById("BYORGNO").value,
                BYORGNO: $('#BYORGNO').combotree('getValue'),
                USESTATE: document.getElementById("USESTATE").value,
                MANAGERSTATE: document.getElementById("MANAGERSTATE").value,
                FIRECHANNELLEVELTYPE: document.getElementById("FIRECHANNELLEVELTYPE").value,
                FIRECHANNELUSERTYPE: document.getElementById("FIRECHANNELUSERTYPE").value,
                LENGTH: document.getElementById("LENGTH").value,
                JWDLIST: document.getElementById("JWDLIST").value,
                WORTH: document.getElementById("WORTH").value,
                //WDBEGIN: document.getElementById("WDBEGIN").value,
                //JDEND: document.getElementById("JDEND").value,
                //WDEND: document.getElementById("WDEND").value,
                BUILDDATE: $('#BUILDDATE').datebox('getValue'),
                BUILDDATEBEGIN: $('#BUILDDATEBEGIN').datebox('getValue'),
                BUILDDATEEND: $('#BUILDDATEEND').datebox('getValue'),
            },
            dataType: "json",
            success: function (data) {
                if (data.Success) {
                    parent.layer.msg(data.Msg,{ icon: 6 });
                    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                    parent.layer.close(index);
                }
                else {
                    layer.msg(data.Msg);
                }
            },
            error: function (err, ioArgs) {
                layer.msg('保存异常!');
            }
        });
    }
</script>


