@using ManagerSystemClassLibrary;
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    var curorgno = SystemCls.getCurUserOrgNo();
    if (curorgno.Substring(6, 3) == "000" && curorgno.Substring(4, 2) != "00")
    {
        curorgno = curorgno.Substring(0, 6) + "xxx";
    }
    else
    {
        curorgno = SystemCls.getCurUserOrgNo();
    }
    var curorgno1 = "";//添加的时候组织机判断
    if (curorgno.Substring(4, 5) == "00000")
    {
        curorgno1 = "";
    }
    else if (curorgno.Substring(6, 3) != "000")
    {
        curorgno1 = curorgno.Substring(0, 6) + "000";
    }
    else
    {
        curorgno1 = SystemCls.getCurUserOrgNo();
    }
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">


    <div data-options="region:'west'" title="" style=" width:220px; border: none;">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>
    <div data-options="region:'center'" title="" style=" border: none;">

        <div class="easyui-layout" data-options="fit:true" style=" border:0;">
            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <ul>
                        <li class="homeUL">
                            单位：<div id="tbxORGNOS" class="easyui-tree"></div>
                            隔离带：<select id="tbxISOLATIONTYPE">
                                @Html.Raw(@ViewBag.isolationtype)
                            </select>
                            使用现状：<select id="tbxUSESTATE">
                                @Html.Raw(@ViewBag.usestate)
                            </select>
                            @*维护类型：<select id="tbxMANAGERSTATE">
                                    @Html.Raw(@ViewBag.managerstate)
                                </select>*@
                            名称：<input id="tbxNAME" type="text" class="input-small" style="width:80px" value="" />
                            @*编号：<input id="tbxNUMBER" type="text" class="input-small" style="width:100px" value="" />*@
                            <input type="button" value="查询" onclick="query('1')" class="btnSearchCss" />
                            <input type="button" value="添加" id="btnAdd" onclick="Manager('Add','','')" style="display:none;" class="btnAddCss" />
                        </li>
                        <li class="active">
                            @using (@Html.BeginForm("ISOLATIONSTRIPList", "DataCenter", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <input name="file" style="width:90px;" type="file" id="file" class="btn btn-info btn-sm" />

                                <button type="submit" name="Upload" value="导入" class="btnInputCss">
                                    导 入
                                </button>
                            }
                        <li class="active">
                            <a href="~/UploadFile/DataCenterExcel/隔离带模板.xls" target="_blank" title="右键，另存为">下载模板</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div data-options="region:'center'" title="" class="LayoutCenterBG">

                <div class="divTable" id="divTable">

                </div>
            </div>
            <div data-options="region:'south'" title="" style=" height:40px; border: none; overflow:hidden;  text-align:right;padding:2px 2px 2px 2px;">

                <div class="divPager" id="divPager">

                </div>
            </div>

        </div>
    </div>
</div>

<div class="divMan" id="tableadd" style="display:none;margin-left:5px;margin-top:8px">
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td style="width:80px;">
                单位：
            </td>
            <td>
                <select id="BYORGNO" class="easyui-combotree" style="width:160px;"></select>
            </td>
            <td style="width:80px;">
                隔离带类型：
            </td>
            <td>
                <select id="ISOLATIONTYPE" onchange="upperCase(this.id)">
                    @Html.Raw(@ViewBag.isolationtypeadd)
                </select>
            </td>
        </tr>

        <tr>
            <td style="width:80px;">
                <span style="color:red;">*</span>
                名称：
            </td>
            <td>
                <input type="text" id="NAME" class="input-small" value="" />
            </td>
            <td style="width:80px;">
                <span style="color:red;">*</span>
                编号：
            </td>
            <td>
                <input id="NUMBER" type="text" class="input-small" value="" />
            </td>
        </tr>
        <tr>
            <td style="width:80px;">
                使用现状类型：
            </td>
            <td>
                <select id="USESTATE">
                    @Html.Raw(@ViewBag.usestateadd)
                </select>
            </td>
            <td style="width:80px;">
                维护类型：
            </td>
            <td>
                <select id="MANAGERSTATE">
                    @Html.Raw(@ViewBag.managerstateadd)
                </select>
            </td>
        </tr>
        <tr>
            <td style="width:140px;">
                经纬度点：
            </td>
            <td colspan="2">
                <input id="JWDLIST" type="text" style="width:97%" value="" readonly />
            </td>
            <td>
                <input type="button" value="地图定位" onclick="setLine()" class="btnMapLoaclCss" />
            </td>
        </tr>
        <tr>
            <td style="width:80px;">
                <span style="color:red;">*</span>
                宽度：
            </td>
            <td>
                <input id="WIDTH" type="text" class="input-small" value="" />米
            </td>
            <td style="width:80px;">
                <span style="color:red;">*</span>
                长度：
            </td>
            <td>
                <input id="LENGTH" type="text" class="input-small" value="" />米
            </td>
        </tr>
        <tr>
            <td style="width:80px;">
                计划面积：
            </td>
            <td>
                <input id="PLANAREA" type="text" class="input-small" value="" />公顷
            </td>
            <td style="width:80px;">
                实际面积：
            </td>
            <td>
                <input id="REALAREA" type="text" class="input-small" value="" />公顷
            </td>
        </tr>
        <tr id="Kind" style="display:none">
            <td style="width:80px;">
                <span style="color:red;">*</span>
                树种：
            </td>
            <td>
                <input id="KINDTYPE" type="text" class="input-small" value="" />
            </td>
            <td style="width:80px;">
                树种组成：
            </td>
            <td>
                <select id="TREETYPE">
                    @Html.Raw(@ViewBag.treetypeadd)
                </select>
            </td>
        </tr>
        <tr id="Alleyway" style="display:none">
            <td style="width:80px;">
                步行通道宽度：
            </td>
            <td>
                <input id="AlleywayWideth" type="text" class="input-small" value="" />米
            </td>
            <td style="width:80px;">
                位置：
            </td>
            <td>
                <select id="Position">
                    @Html.Raw(@ViewBag.positionadd)
                </select>
            </td>
        </tr>
        <tr>
            <td style="width:160px;">
                单价：
            </td>
            <td>
                <input id="PRICE" type="text" class="input-small" value="" onblur="jsfunc(this)" />元
            </td>
            <td style="width:80px;">
                总价：
            </td>
            <td>
                <input id="WORTH" type="text" class="input-small" value="" />元
            </td>
        </tr>
        <tr>
            <td style="width:100px;">
                规划建设日期：
            </td>
            <td>
                开始日期:<input class="easyui-datebox" id="BUILDDATEBEGIN" type="text" style="width:90px;height:28px;" value="" />&nbsp;&nbsp;&nbsp;
                结束日期<input class="easyui-datebox" id="BUILDDATEEND" type="text" style="width:90px;height:28px;" value="" />
            </td>
            <td style="width:80px;">
                建成日期：
            </td>
            <td>
                <input class="easyui-datebox" id="BUILDDATE" type="text" style="width:90px;height:28px;" value="" />
            </td>

        </tr>
    </table>
</div>

<script type="text/javascript">
    var bln = '@ViewBag.isAdd';
    var bln1 = '@ViewBag.isAddplan';
    if (bln == "1" || bln1 == "1") {
        document.getElementById('btnAdd').style.display = "";
    }
    if (bln == "1" && bln1 == "0") {
        var objItemValue = "5";
        var objSelect = document.getElementById("ISOLATIONTYPE");
        for (var i = 0; i < objSelect.options.length; i++) {
            if (objSelect.options[i].value == objItemValue) {
                objSelect.options.remove(i);
                break;
            }
        };
    }
    if (bln == "0" && bln1 == "1") {
        var objItemValue = [1, 2, 3, 4];
        var objSelect = document.getElementById("ISOLATIONTYPE");
        for (var i = 0; i < objSelect.options.length; i++) {
            for (var j = 0; j < objItemValue.length; j++) {
                if (objSelect.options[i].value == objItemValue[j]) {
                    objSelect.options.remove(i);
                }
            }
        };
    }
    $(function () {
        $('#tbxORGNOS').combotree({
            url: '/DataCenter/OrgTreeget',
            editable: false,
            required: true,
            panelHeight: 300,
            onLoadSuccess: function (node, data) {
                var t = $("#tbxORGNOS").combotree('tree');//获取tree
                t.tree("collapseAll");
                node = t.tree("find", data[0].id);
                t.tree("expand", node.target);//展开节点 expandTo
            }
        });
        $('#tbxORGNOS').combotree('setValue', "@curorgno");
        query('1');
    });

    $(function () {
        $('#BYORGNO').combotree({
            url: '/DataCenter/OnlyOrgTreeget',
            editable: false,
            required: true,
            panelHeight: 300,
            onLoadSuccess: function (node, data) {
                var t = $("#BYORGNO").combotree('tree');//获取tree
                t.tree("collapseAll");
                node = t.tree("find", data[0].id);
                t.tree("expand", node.target);//展开节点 expandTo
            }
        });
        $('#BYORGNO').combotree('setValue', "@curorgno1");
    });

    function query(Page) {
        var pagesize = '0';
        if (document.getElementById("selPageSize") != null) {
            pagesize = document.getElementById("selPageSize").value;
        }
        var ORGNOS = $('#tbxORGNOS').combotree('getValue');
        $.ajax({
            url: '/DataCenter/getISOLATIONSTRIPlist',
            data: {
                BYORGNO: ORGNOS,
                ISOLATIONTYPE: document.getElementById("tbxISOLATIONTYPE").value,
                USESTATE: document.getElementById("tbxUSESTATE").value,
                //MANAGERSTATE: document.getElementById("tbxMANAGERSTATE").value,
                NAME: document.getElementById("tbxNAME").value,
                //NUMBER: document.getElementById("tbxNUMBER").value,
                PageSize: pagesize,
                Page: Page,
            },
            type: 'post',
            success: function (data) {
                var ar = eval('(' + data + ')');
                if (ar.Success) {
                    $('#divTable').html(ar.tableInfo);
                    $('#divPager').html(ar.pagerInfo);
                }
                else {
                    layer.msg('登录异常');
                }
            },
            error: function (err, ioArgs) {
                layer.msg('登录异常');
            }
        });
    }

    //地图定位
    function setLine() {
        var name = document.getElementById("NAME").value;
        var str = document.getElementById("JWDLIST").value;
        var line = "";
        var isolationtype = document.getElementById("ISOLATIONTYPE").value;
        if (isolationtype != "4") {
            line = "1"
        }
        else {
            line = "2"
        }
        layer.open({
            type: 2,
            title: name + '地图位置设置',
            btn: ['保存', '关闭'],
            area: ['70%', '80%'],
            fix: false, //不固定
            maxmin: true,
            content: '/MapCommon/GetMapPontIndex?LINE=' + line,
            success: function (layero, index) {
                var body = layer.getChildFrame('body', index);
                body.find('#editcollecttxt').text(str);
                if (line == "2") {
                    window["layui-layer-iframe" + index].getLocaCollectPolygon();//面
                }
                else {
                    window["layui-layer-iframe" + index].getLocaCollectLine();//线
                }
            },
            yes: function (index, layero) { //或者使用btn1
                var ptxt = layer.getChildFrame("#editcollecttxt", index);
                $('#JWDLIST').val(ptxt.html());

                var lm = layer.getChildFrame("#MjACdtxt", index)//面积
                if (line == "2") {
                    $('#REALAREA').val(lm.html());//面积
                }
                if (line == "1") {
                    $('#LENGTH').val(lm.html());//长度
                }
                layer.close(index);
            },
            cancel: function (index) {
                layer.close(index);
            }
        });
    }


    function Manager(Method, ID, page) {
        if (Method == 'Del') {
            if (confirm('确实要删除该内容吗?')) {
                $.ajax({
                    type: "Post",
                    url: "/DataCenter/ISOLATIONSTRIPManager",
                    data: {
                        DC_UTILITY_ISOLATIONSTRIP_ID: ID,
                        Method: Method,
                    },
                    dataType: "json",
                    error: function () {
                        alert('错误:异常!', 'error');
                    },
                    success: function (re) {
                        if (re.Success) {
                            layer.msg('删除成功', { icon: 6 });
                            query(page);
                        }
                        else {
                            layer.msg('删除失败', { icon: 5 });
                        }
                    }
                });
            }
        }
        else {
            if (Method == 'Mdy' || Method == 'See') {
                $.ajax({
                    type: "Post",
                    url: "/DataCenter/GetISOLATIONSTRIPjson",
                    data: {
                        DC_UTILITY_ISOLATIONSTRIP_ID: ID,

                    },
                    dataType: "json",
                    error: function () {
                        alert('错误:异常!', 'error');
                    },
                    success: function (data) {
                        if (data.DC_UTILITY_ISOLATIONSTRIP_ID != '') {
                            document.getElementById("ISOLATIONTYPE").value = data.ISOLATIONTYPE;
                            document.getElementById("NUMBER").value = data.NUMBER;
                            document.getElementById("NAME").value = data.NAME;
                            //document.getElementById("BYORGNO").value = data.BYORGNO;
                            $('#BYORGNO').combotree('setValue', data.BYORGNO);
                            document.getElementById("USESTATE").value = data.USESTATE;
                            document.getElementById("MANAGERSTATE").value = data.MANAGERSTATE;
                            document.getElementById("WIDTH").value = data.WIDTH;
                            document.getElementById("LENGTH").value = data.LENGTH;
                            var str=data.JWDLIST;
                            if (str.substring(str.length - 1)!=";") {
                                document.getElementById("JWDLIST").value = str+";";
                            } else {
                                document.getElementById("JWDLIST").value = str;
                            }
                            document.getElementById("PLANAREA").value = data.PLANAREA;
                            document.getElementById("REALAREA").value = data.REALAREA;
                            document.getElementById("WORTH").value = data.WORTH;
                            document.getElementById("KINDTYPE").value = data.KINDTYPE;
                            document.getElementById("TREETYPE").value = data.TREETYPE;
                            document.getElementById("AlleywayWideth").value = data.AlleywayWideth;
                            document.getElementById("PRICE").value = data.Price;
                            document.getElementById("Position").value = data.Position;
                            //document.getElementById("WDBEGIN").value = data.WDBEGIN;
                            //document.getElementById("JDEND").value = data.JDEND;
                            //document.getElementById("WDEND").value = data.WDEND;;
                            $('#BUILDDATE').datebox('setValue', data.BUILDDATE);
                            $('#BUILDDATEBEGIN').datebox('setValue', data.BUILDDATEBEGIN);
                            $('#BUILDDATEEND').datebox('setValue', data.BUILDDATEND);
                            //if (data.ISOLATIONTYPE == "4") {
                            //    document.getElementById("WIDTH").disabled = true;
                            //    document.getElementById("LENGTH").disabled = true;
                            //}
                            //else {
                            //    document.getElementById("PLANAREA").disabled = true;
                            //    document.getElementById("REALAREA").disabled = true;
                            //}
                        }
                    }
                });
            }
            if (Method == 'Add') {
                document.getElementById("ISOLATIONTYPE").value = "";
                document.getElementById("NUMBER").value = "";
                document.getElementById("NAME").value = "";
                $('#BYORGNO').combotree('setValue', "@curorgno");
                document.getElementById("USESTATE").value = "";
                document.getElementById("MANAGERSTATE").value = "";
                document.getElementById("WIDTH").value = "";
                document.getElementById("LENGTH").value = "";
                document.getElementById("JWDLIST").value = "";
                document.getElementById("PLANAREA").value = "";
                document.getElementById("REALAREA").value = "";
                document.getElementById("WORTH").value = "";
                document.getElementById("KINDTYPE").value = "";
                document.getElementById("TREETYPE").value = "";
                $('#BUILDDATE').datebox('setValue', "");
                $('#BUILDDATEBEGIN').datebox('setValue', "");
                $('#BUILDDATEEND').datebox('setValue', "");
                document.getElementById("AlleywayWideth").value = "";
                document.getElementById("PRICE").value = "";
                document.getElementById("Position").value = "";
            }
            var btnInfo = ['保存', '取消'];
            if (Method == "See")
                btnInfo = [];
            var str = "隔离带添加";
            if (Method == "Mdy")
                str = "隔离带修改";
            if (Method == "See")
                str = "隔离带查看";
            layer.open({
                type: 1,
                title: str,
                area: ['60%', '86%'],
                btn: btnInfo,
                shade: 0,
                maxmin: true,
                content: $('#tableadd'),
                success: function (layero, index) {
                    upperCase(1);
                },
                yes: function (index, layero) {
                    var t1 = $('#WIDTH ').val();
                    var t2 = $('#LENGTH ').val();
                    var t3 = $('#PLANAREA ').val();
                    var t4 = $('#REALAREA').val();
                    var t5 = $('#WORTH').val();
                    var t6 = $('#NAME').val();
                    var t7 = $('#NUMBER').val();
                    //var t8 = $('#KINDTYPE').val();
                    if ($.trim(t1) == "") {
                        layer.msg('请填写宽度！', { icon: 5 });
                        $('#WIDTH').focus();
                        return;
                    }
                    if ($.trim(t2) == "") {
                        layer.msg('请填写长度！', { icon: 5 });
                        $('#LENGTH').focus();
                        return;
                    }
                    if ($.trim(t1) != "") {
                        if (CheckNUM($.trim(t1)) == false) {
                            layer.msg('宽度请填写数字！', { icon: 5 });
                            $('#WIDTH').focus();
                            return;
                        }
                    }
                    if ($.trim(t2) != "") {
                        if (CheckNUM($.trim(t2)) == false) {
                            layer.msg('长度请填写数字！', { icon: 5 });
                            $('#LENGTH').focus();
                            return;
                        }
                    }
                    if ($.trim(t3) != "") {
                        if (CheckNUM($.trim(t3)) == false) {
                            layer.msg('计划面积请填写数字！', { icon: 5 });
                            $('#PLANAREA').focus();
                            return;
                        }
                    }
                    if ($.trim(t4) != "") {
                        if (CheckNUM($.trim(t4)) == false) {
                            layer.msg('实际面积请填写数字！', { icon: 5 });
                            $('#REALAREA').focus();
                            return;
                        }
                    }
                    if ($.trim(t5) != "") {
                        if (CheckNUM($.trim(t5)) == false) {
                            layer.msg('价值请填写数字！', { icon: 5 });
                            $('#WORTH').focus();
                            return;
                        }
                    }
                    if ($.trim(t6) == "") {
                        layer.msg('请填写名称！', { icon: 5 });
                        $('#NAME').focus();
                        return;
                    }
                    if ($.trim(t7) == "") {
                        layer.msg('请填写编号！', { icon: 5 });
                        $('#NUMBER').focus();
                        return;
                    }
                    //if ($.trim(t8) == "") {
                    //    layer.msg('请填写树种！', { icon: 5 });
                    //    $('#KINDTYPE').focus();
                    //    return;
                    //}
                    var tt = document.getElementById("JWDLIST").value;
                    var tp = document.getElementById("ISOLATIONTYPE").value;
                    if ($.trim(tp) == "4") {
                        if (tt.split('|').length == 1) {
                            layer.msg('请在地图上画出面！', { icon: 5 });
                            return;
                        }
                    }
                    else {
                        if (tt.split('|').length == 1) {
                            layer.msg('请在地图上画出线！', { icon: 5 });
                            return;
                        }
                    }
                    if ($.trim(tp) == "5") {
                        var t8 = $('#KINDTYPE').val();
                        if ($.trim(t8) == "") {
                            layer.msg('请填写树种！', { icon: 5 });
                            $('#KINDTYPE').focus();
                            return;
                        }
                    }
                    $.ajax({
                        type: "Post",
                        url: "/DataCenter/ISOLATIONSTRIPManager",
                        data: {
                            DC_UTILITY_ISOLATIONSTRIP_ID: ID,
                            Method: Method,
                            ISOLATIONTYPE: document.getElementById("ISOLATIONTYPE").value,
                            NUMBER: document.getElementById("NUMBER").value,
                            NAME: document.getElementById("NAME").value,
                            BYORGNO: $('#BYORGNO').combotree('getValue'),
                            USESTATE: document.getElementById("USESTATE").value,
                            MANAGERSTATE: document.getElementById("MANAGERSTATE").value,
                            WIDTH: document.getElementById("WIDTH").value,
                            LENGTH: document.getElementById("LENGTH").value,
                            JWDLIST: document.getElementById("JWDLIST").value,
                            PLANAREA: document.getElementById("PLANAREA").value,
                            REALAREA: document.getElementById("REALAREA").value,
                            WORTH: document.getElementById("WORTH").value,
                            KINDTYPE: document.getElementById("KINDTYPE").value,
                            TREETYPE: document.getElementById("TREETYPE").value,
                            BUILDDATE: $('#BUILDDATE').datebox('getValue'),
                            BUILDDATEBEGIN: $('#BUILDDATEBEGIN').datebox('getValue'),
                            BUILDDATEEND: $('#BUILDDATEEND').datebox('getValue'),
                            AlleywayWideth: document.getElementById("AlleywayWideth").value,
                            Price: document.getElementById("PRICE").value,
                            Position: document.getElementById("Position").value,
                        },
                        dataType: "json",
                        error: function () {
                            alert('错误:异常!', 'error');
                        },
                        success: function (re) {
                            if (re.Success) {
                                layer.close(index);
                                layer.msg('操作成功', { icon: 6 });
                                query('1');
                            }
                            else {
                                layer.msg(re.Msg, { icon: 5 });
                            }
                        }
                    });

                }, cancel: function (index) {
                    layer.close(index);
                }
            })
        }
    }
    function upperCase(x) {
        var y = document.getElementById('ISOLATIONTYPE').value;
        if (y != "4") {
            document.getElementById("PLANAREA").disabled = true;
            document.getElementById("REALAREA").disabled = true;
            document.getElementById("PLANAREA").value = "";
            document.getElementById("REALAREA").value = "";
            document.getElementById("WIDTH").disabled = false;
            document.getElementById("LENGTH").disabled = false;
        }
        else {
            document.getElementById("PLANAREA").disabled = false;
            document.getElementById("REALAREA").disabled = false;
        }
        if (y != "5") {
            document.getElementById("Kind").style.display = "none";
            document.getElementById("Alleyway").style.display = "none";
        }
        else {
            document.getElementById("Kind").style.display = "";
            document.getElementById("Alleyway").style.display = "";
        }
    }

    ///地图定位(面)
    function PositionLine(tablename, id, name, type) {
        layer.open({
            type: 2,
            title: name + '地图定位',
            area: ['70%', '80%'],
            //shade: 0,
            fix: true,
            maxmin: true,
            content: '/MapCommon/MapPostionCommonIndex?tablename=' + tablename + "&id=" + id + "&type=" + type
        })
    }
    function See(ID, tablename) {
        layer.open({
            type: 2,
            title: '隔离带查看',
            area: ['65%', '80%'],
            fix: true,
            maxmin: true,
            content: '/DataCenter/SeeIndex?tablename=' + tablename + "&ID=" + ID
        })
    }
    //选中改变颜色
    function setColor(obj) {
        $(obj).css("background-color", "#FFDAB9");
        $("tr").not($(obj)).css("background-color", "");
    }
    //自动计算总价
    function jsfunc(obj) {
        var count = $('#LENGTH').val();
        var price = $('#PRICE').val();
        if ($.trim(count) == "" || $.trim(price) == "") {
            $('#WORTH').val('');
        }
        var currency = (Number(price) * Number(count)).toFixed(2);//总金额
        $('#WORTH').val(currency);

    }
</script>