@using ManagerSystemClassLibrary;
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    var curorgno = SystemCls.getCurUserOrgNo();
    if (string.IsNullOrEmpty(curorgno) == false)
    {
    if (curorgno.Substring(6, 9) == "000000000" && curorgno.Substring(4, 2) != "00")
    {
        curorgno = curorgno.Substring(0, 6) + "xxxxxxxxx";
    }
    else
    {
        curorgno = SystemCls.getCurUserOrgNo();
    }
    }
    var curorgno1 = SystemCls.getCurUserOrgNo();//添加的时候组织机判断
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">


    <div data-options="region:'west'" title="" style=" width:220px; border: none;">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>
    <div data-options="region:'center'" title="" style=" border: none;">

        <div class="easyui-layout" data-options="fit:true" style=" border:0;">
            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <ul>
                        <li class="homeUL">
                            单位：<div id="tbxORGNOS" class="easyui-tree"></div>
                            隔离带：<select id="tbxISOLATIONTYPE">
                                @Html.Raw(@ViewBag.isolationtype)
                            </select>
                            使用现状：<select id="tbxUSESTATE">
                                @Html.Raw(@ViewBag.usestate)
                            </select>
                            @*维护类型：<select id="tbxMANAGERSTATE">
                                    @Html.Raw(@ViewBag.managerstate)
                                </select>*@
                            名称：<input id="tbxNAME" type="text" class="input-small" style="width:80px" value="" />
                            @*编号：<input id="tbxNUMBER" type="text" class="input-small" style="width:100px" value="" />*@
                            <input type="button" value="查询" onclick="query('1')" class="btnSearchCss" />
                            <input type="button" value="添加" id="btnAdd" onclick="Add()" style="display:none;" class="btnAddCss" />
                            <input type="button" value="导入" onclick="Upload()" class="btnUnEnableCss" />
                        </li>
                        @*<li class="active">
                            @using (@Html.BeginForm("ISOLATIONSTRIPList", "DataCenter", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <input name="file" style="width:90px;" type="file" id="file" class="btn btn-info btn-sm" />

                                <button type="submit" name="Upload" value="导入" class="btnInputCss">
                                    导 入
                                </button>
                            }
                        <li class="active">
                            <a href="~/UploadFile/DataCenterExcel/隔离带模板.xls" target="_blank" title="右键，另存为">下载模板</a>
                        </li>*@
                    </ul>
                </div>
            </div>
            <div data-options="region:'center'" title="" class="LayoutCenterBG">

                <div class="divTable" id="divTable">

                </div>
            </div>
            <div data-options="region:'south'" title="" style=" height:40px; border: none; overflow:hidden;  text-align:right;padding:2px 2px 2px 2px;">

                <div class="divPager" id="divPager">

                </div>
            </div>

        </div>
    </div>
</div>

<div class="divMan" id="tableadd" style="display:none;margin-left:5px;margin-top:8px">
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td style="width:80px;">
                单位：
            </td>
            <td>
                <select id="BYORGNO" class="easyui-combotree" style="width:160px;"></select>
            </td>
            <td style="width:80px;">
                隔离带类型：
            </td>
            <td>
                <select id="ISOLATIONTYPE" onchange="upperCase(this.id)">
                    @Html.Raw(@ViewBag.isolationtypeadd)
                </select>
            </td>
        </tr>

        <tr>
            <td style="width:80px;">
                <span style="color:red;">*</span>
                名称：
            </td>
            <td>
                <input type="text" id="NAME" class="input-small" value="" />
            </td>
            <td style="width:80px;">
                <span style="color:red;">*</span>
                编号：
            </td>
            <td>
                <input id="NUMBER" type="text" class="input-small" value="" />
            </td>
        </tr>
        <tr>
            <td style="width:80px;">
                使用现状类型：
            </td>
            <td>
                <select id="USESTATE">
                    @Html.Raw(@ViewBag.usestateadd)
                </select>
            </td>
            <td style="width:80px;">
                维护类型：
            </td>
            <td>
                <select id="MANAGERSTATE">
                    @Html.Raw(@ViewBag.managerstateadd)
                </select>
            </td>
        </tr>
        <tr>
            <td style="width:140px;">
                经纬度点：
            </td>
            <td colspan="2">
                <input id="JWDLIST" type="text" style="width:97%" value="" readonly />
            </td>
            <td>
                <input type="button" value="地图定位" onclick="setLine()" class="btnMapLoaclCss" />
            </td>
        </tr>
        <tr>
            <td style="width:80px;">
                <span style="color:red;">*</span>
                宽度：
            </td>
            <td>
                <input id="WIDTH" type="text" class="input-small" value="" />米
            </td>
            <td style="width:80px;">
                <span style="color:red;">*</span>
                长度：
            </td>
            <td>
                <input id="LENGTH" type="text" class="input-small" value="" />米
            </td>
        </tr>
        <tr>
            <td style="width:80px;">
                计划面积：
            </td>
            <td>
                <input id="PLANAREA" type="text" class="input-small" value="" />公顷
            </td>
            <td style="width:80px;">
                实际面积：
            </td>
            <td>
                <input id="REALAREA" type="text" class="input-small" value="" />公顷
            </td>
        </tr>
        <tr id="Kind" style="display:none">
            <td style="width:80px;">
                <span style="color:red;">*</span>
                树种：
            </td>
            <td>
                <input id="KINDTYPE" type="text" class="input-small" value="" />
            </td>
            <td style="width:80px;">
                树种组成：
            </td>
            <td>
                <select id="TREETYPE">
                    @Html.Raw(@ViewBag.treetypeadd)
                </select>
            </td>
        </tr>
        <tr id="Alleyway" style="display:none">
            <td style="width:80px;">
                步行通道宽度：
            </td>
            <td>
                <input id="AlleywayWideth" type="text" class="input-small" value="" />米
            </td>
            <td style="width:80px;">
                位置：
            </td>
            <td>
                <select id="Position">
                    @Html.Raw(@ViewBag.positionadd)
                </select>
            </td>
        </tr>
        <tr>
            <td style="width:160px;">
                单价：
            </td>
            <td>
                <input id="PRICE" type="text" class="input-small" value="" onblur="jsfunc(this)" />元
            </td>
            <td style="width:80px;">
                总价：
            </td>
            <td>
                <input id="WORTH" type="text" class="input-small" value="" />元
            </td>
        </tr>
        <tr>
            <td style="width:100px;">
                规划建设日期：
            </td>
            <td>
                开始日期:<input class="easyui-datebox" id="BUILDDATEBEGIN" type="text" style="width:90px;height:28px;" value="" />&nbsp;&nbsp;&nbsp;
                结束日期<input class="easyui-datebox" id="BUILDDATEEND" type="text" style="width:90px;height:28px;" value="" />
            </td>
            <td style="width:80px;">
                建成日期：
            </td>
            <td>
                <input class="easyui-datebox" id="BUILDDATE" type="text" style="width:90px;height:28px;" value="" />
            </td>

        </tr>
    </table>
</div>

<script type="text/javascript">
    var bln = '@ViewBag.isAdd';
    @*var bln1 = '@ViewBag.isAddplan';*@
    if (bln == "1") {
        document.getElementById('btnAdd').style.display = "";
    }
 
    $(function () {
        $('#tbxORGNOS').combotree({
            url: '/DataCenter/OrgTreeget',
            editable: false,
            required: true,
            panelHeight: 300,
            onLoadSuccess: function (node, data) {
                var t = $("#tbxORGNOS").combotree('tree');//获取tree
                t.tree("collapseAll");
                node = t.tree("find", data[0].id);
                t.tree("expand", node.target);//展开节点 expandTo
            }
        });
        $('#tbxORGNOS').combotree('setValue', "@curorgno");
        query('1');
    });

    $(function () {
        $('#BYORGNO').combotree({
            url: '/DataCenter/OnlyOrgTreeget',
            editable: false,
            required: true,
            panelHeight: 300,
            onLoadSuccess: function (node, data) {
                var t = $("#BYORGNO").combotree('tree');//获取tree
                t.tree("collapseAll");
                node = t.tree("find", data[0].id);
                t.tree("expand", node.target);//展开节点 expandTo
            }
        });
        $('#BYORGNO').combotree('setValue', "@curorgno1");
    });

    function query(Page) {
        var pagesize = '0';
        if (document.getElementById("selPageSize") != null) {
            pagesize = document.getElementById("selPageSize").value;
        }
        var ORGNOS = $('#tbxORGNOS').combotree('getValue');
        $.ajax({
            url: '/DataCenter/getISOLATIONSTRIPlist',
            data: {
                BYORGNO: ORGNOS,
                ISOLATIONTYPE: document.getElementById("tbxISOLATIONTYPE").value,
                USESTATE: document.getElementById("tbxUSESTATE").value,
                //MANAGERSTATE: document.getElementById("tbxMANAGERSTATE").value,
                NAME: document.getElementById("tbxNAME").value,
                //NUMBER: document.getElementById("tbxNUMBER").value,
                PageSize: pagesize,
                Page: Page,
            },
            type: 'post',
            success: function (data) {
                var ar = eval('(' + data + ')');
                if (ar.Success) {
                    $('#divTable').html(ar.tableInfo);
                    $('#divPager').html(ar.pagerInfo);
                }
                else {
                    layer.msg('登录异常');
                }
            },
            error: function (err, ioArgs) {
                layer.msg('登录异常');
            }
        });
    }

    //地图定位
    function setLine() {
        var name = document.getElementById("NAME").value;
        var str = document.getElementById("JWDLIST").value;
        var line = "";
        var isolationtype = document.getElementById("ISOLATIONTYPE").value;
        if (isolationtype != "4") {
            line = "1"
        }
        else {
            line = "2"
        }
        layer.open({
            type: 2,
            title: name + '地图位置设置',
            btn: ['保存', '关闭'],
            area: ['1000px', '600px'],
            fix: false, //不固定
            maxmin: true,
            content: '/MapCommon/GetMapPontIndex?LINE=' + line,
            success: function (layero, index) {
                var body = layer.getChildFrame('body', index);
                body.find('#editcollecttxt').text(str);
                if (line == "2") {
                    window["layui-layer-iframe" + index].getLocaCollectPolygon();//面
                }
                else {
                    window["layui-layer-iframe" + index].getLocaCollectLine();//线
                }
            },
            yes: function (index, layero) { //或者使用btn1
                var ptxt = layer.getChildFrame("#editcollecttxt", index);
                $('#JWDLIST').val(ptxt.html());

                var lm = layer.getChildFrame("#MjACdtxt", index)//面积
                if (line == "2") {
                    $('#REALAREA').val(lm.html());//面积
                }
                if (line == "1") {
                    $('#LENGTH').val(lm.html());//长度
                }
                layer.close(index);
            },
            cancel: function (index) {
                layer.close(index);
            }
        });
    }
    function Del(Method, ID, page) {
        layer.confirm('确实要删除吗?', { icon: 3, title: '提示' }, function (index) {
            $.ajax({
                url: '/DataCenter/ISOLATIONSTRIPManager',
                cache: false,
                data: { DC_UTILITY_ISOLATIONSTRIP_ID: ID, Method: Method },
                type: 'post',
                error: function () {
                    layer.msg('系统异常!', { icon: 5 });
                },
                dataType: 'json',
                success: function (re) {
                    if (re.Success) {
                        layer.msg('删除成功!', { icon: 6 });
                        query(page);
                    }
                    else {
                        layer.msg(re.Msg, { icon: 5 });
                    }
                }
            });
        });
    }
    function Add() {
        layer.open({
            type: 2,
            title: '添加',
            fix: false, //不固定
            area: ['700px', '450px'],
            maxmin: true,
            content: '/DataCenter/ISOLATIONSTRIPManIndex',
            end: function () {
                query(1);
            }
        });
    }
    function Mdy(Method, ID, page) {
        layer.open({
            type: 2,
            title: "修改",
            area: ['700px', '450px'],
            //shade: 0,
            fix: false,
            maxmin: true,
            content: '/DataCenter/ISOLATIONSTRIPManIndex?Method=' + Method + "&ID=" + ID,
            end: function () {
                query(1);
            }
        });
    }
    ///上传弹出上传界面
    function Upload() {
        layer.open({
            type: 2,
            title: '隔离带上传',
            area: ['1200px', '500px'],
            //shade: 0,
            fix: true,
            maxmin: true,
            content: '/DataCenter/ISOLATIONSTRIPList',
            end: function () {
                query(1);
            }
        })
    }

    ///地图定位(面)
    function PositionLine(tablename, id, name, type) {
        layer.open({
            type: 2,
            title: name + '地图定位',
            area: ['1000px', '600px'],
            //shade: 0,
            fix: true,
            maxmin: true,
            content: '/MapCommon/MapPostionCommonIndex?tablename=' + tablename + "&id=" + id + "&type=" + type
        })
    }
    function See(ID, tablename) {
        layer.open({
            type: 2,
            title: '隔离带查看',
            area: ['550px', '300px'],
            fix: true,
            maxmin: true,
            content: '/DataCenter/SeeIndex?tablename=' + tablename + "&ID=" + ID
        })
    }
    //选中改变颜色
    function setColor(obj) {
        $(obj).css("background-color", "#FFDAB9");
        $("tr").not($(obj)).css("background-color", "");
    }
</script>