@using ManagerSystemClassLibrary;
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    var curorgno = SystemCls.getCurUserOrgNo();
    if (curorgno.Substring(6, 3) == "000" && curorgno.Substring(4, 2) != "00")
    {
        curorgno = curorgno.Substring(0, 6) + "xxx";
    }
    else
    {
        curorgno = SystemCls.getCurUserOrgNo();
    }
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'west'" title="" style=" width:220px; border: none;">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>

    <div data-options="region:'center'" title="" style=" border: none;">
        <div class="easyui-layout" data-options="fit:true" style=" border:0;">
            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <ul>
                        <li class="homeUL">
                            单位：<div id="tbxORGNOS" class="easyui-tree"></div>
                            无线电传输方式：<select id="tbxTRANSFERMODETYPE">@Html.Raw(@ViewBag.transfermodetype)</select>
                            使用现状：<select id="tbxUSESTATE"> @Html.Raw(@ViewBag.usestate)</select>
                            @*维护类型：<select id="tbxMANAGERSTATE">
                                    @Html.Raw(@ViewBag.managerstate)
                                </select>*@
                            名称：<input id="tbxNAME" type="text" class="input-small" style="width:80px" value="" />
                            @*编号：<input id="tbxNUMBER" type="text" class="input-small" style="width:100px" value="" />*@
                            <input type="button" value="查询" onclick="query('1')" class="btnSearchCss" />
                            <input type="button" value="添加" id="btnAdd" onclick="Manager('Add','','')" style="display:none;" class="btnAddCss" />
                        </li>
                        <li class="active">
                            @using (@Html.BeginForm("MONITORINGSTATIONList", "DataCenter", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <input name="file" style="width:90px;" type="file" id="file" class="btn btn-info btn-sm" />
                                <button type="submit" name="Upload" value="导入" class="btnInputCss">导 入</button>
                            }
                        <li class="active">
                            <a href="~/UploadFile/DataCenterExcel/监测站模板.xls" target="_blank" title="右键，另存为">下载模板</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div data-options="region:'center'" title="" class="LayoutCenterBG">
                <div class="divTable" id="divTable">

                </div>
            </div>
            <div data-options="region:'south'" title="" style=" height:40px; border: none; overflow:hidden;  text-align:right;padding:2px 2px 2px 2px;">
                <div class="divPager" id="divPager">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="divMan" id="tableadd" style="display:none;margin-left:5px;margin-top:8px">
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td style="width:80px;">单位：</td>
            <td><select id="BYORGNO" class="easyui-combotree" style="width:200px;"></select> </td>
            <td style="width:110px;">无线电传输方式：</td>
            <td><select id="TRANSFERMODETYPE">@Html.Raw(@ViewBag.transfermodetypeadd) </select> </td>
        </tr>
        <tr>
            <td style="width:80px;"><span style="color:red;">*</span> 名称：</td>
            <td><input type="text" id="NAME" class="input-small" value="" /></td>
            <td style="width:80px;"><span style="color:red;">*</span>编号：</td>
            <td><input id="NUMBER" type="text" class="input-small" value="" /> </td>
        </tr>
        <tr>
            <td style="width:80px;">型号：</td>
            <td><input id="MODEL" type="text" class="input-small" value="" /></td>
            <td style="width:80px;">监测内容：</td>
            <td><input id="MONICONTENT" type="text" class="input-small" value="" /></td>
        </tr>
        <tr>
            <td style="width:100px;">使用现状类型：</td>
            <td><select id="USESTATE" style="width:80px;">@Html.Raw(@ViewBag.usestateadd) </select></td>
            <td style="width:100px;">维护管理类型：</td>
            <td><select id="MANAGERSTATE">@Html.Raw(@ViewBag.managerstateadd) </select></td>
        </tr>
        <tr>
            <td style="width:80px;">经度：</td>
            <td><input id="JD" type="text" class="input-small" value="" /></td>
            <td style="width:80px;">纬度：</td>
            <td>
                <input id="WD" type="text" class="input-small" value="" />
                <input type="button" value="地图定位" onclick="setPoint()" class="btnMapLoaclCss" />
            </td>
        </tr>
        <tr>
            <td style="width:80px;">规划建设日期：</td>
            <td>
                开始时间:<input class="easyui-datebox" id="BUILDDATEBEGIN" type="text" style="width:90px;height:28px;" value="" />&nbsp;&nbsp;&nbsp;
                结束时间:<input class="easyui-datebox" id="BUILDDATEEND" type="text" style="width:90px;height:28px;" value="" />
            </td>
            <td style="width:80px;">建成日期：</td>
            <td><input class="easyui-datebox" id="BUILDDATE" type="text" style="width:90px;height:28px;" value="" /> </td>
        </tr>
        <tr>
            <td style="width:80px;">地址：</td>
            <td><input id="ADDRESS" type="text" class="input-small" value="" /></td>
            <td style="width:80px;">备注：</td>
            <td><input id="MARK" type="text" class="input-small" value="" /></td>
        </tr>
        <tr>
            <td style="width:80px;">总价：</td>
            <td colspan="3"><input id="WORTH" type="text" class="input-small" value="" />元</td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    var bln = '@ViewBag.isAdd';
    if (bln == "1") {
        document.getElementById('btnAdd').style.display = "";
    }
    $(function () {
        $('#tbxORGNOS').combotree({
            url: '/DataCenter/OrgTreeget',
            editable: false,
            required: true,
            panelHeight: 300,
            onLoadSuccess: function (node, data) {
                var t = $("#tbxORGNOS").combotree('tree');//获取tree
                t.tree("collapseAll");
                node = t.tree("find", data[0].id);
                t.tree("expand", node.target);//展开节点 expandTo
            }
        });
        $('#tbxORGNOS').combotree('setValue', "@curorgno");
        query('1');
    });
    $(function () {
        $('#BYORGNO').combotree({
            url: '/DataCenter/OnlyOrgTreeget',
            editable: false,
            required: true,
            panelHeight: 300,
            onLoadSuccess: function (node, data) {
                var t = $("#BYORGNO").combotree('tree');//获取tree
                t.tree("collapseAll");
                node = t.tree("find", data[0].id);
                t.tree("expand", node.target);//展开节点 expandTo
            }
        });
        $('#BYORGNO').combotree('setValue', "@curorgno");
    });
    function query(Page) {
        var pagesize = '0';
        if (document.getElementById("selPageSize") != null) {
            pagesize = document.getElementById("selPageSize").value;
        }
        var ORGNOS = $('#tbxORGNOS').combotree('getValue');
        $.ajax({
            url: '/DataCenter/getMONITORINGSTATIONlist',
            data: {
                BYORGNO: ORGNOS,
                TRANSFERMODETYPE: document.getElementById("tbxTRANSFERMODETYPE").value,
                USESTATE: document.getElementById("tbxUSESTATE").value,
                //MANAGERSTATE: document.getElementById("tbxMANAGERSTATE").value,
                NAME: document.getElementById("tbxNAME").value,
                //NUMBER: document.getElementById("tbxNUMBER").value,
                PageSize: pagesize,
                Page: Page,
            },
            type: 'post',
            success: function (data) {
                var ar = eval('(' + data + ')');
                if (ar.Success) {
                    $('#divTable').html(ar.tableInfo);
                    $('#divPager').html(ar.pagerInfo);
                }
                else {
                    layer.msg('登录异常');
                }
            },
            error: function (err, ioArgs) {
                layer.msg('登录异常');
            }
        });
    }

    //地图定位
    function setPoint() {
        var name = document.getElementById("NAME").value;
        var jd = document.getElementById("JD").value;
        var wd = document.getElementById("WD").value;
        layer.open({
            type: 2,
            title:name+ '地图位置设置',
            btn: ['保存', '关闭'],
            area: ['70%', '80%'],
            fix: false, //不固定
            maxmin: true,
            content: '/MapCommon/GetMapPontIndex?jd=' + jd + "&wd=" + wd,
            yes: function (index, layero) { //或者使用btn1
                //按钮【按钮一】的回调
                var ptxt = layer.getChildFrame("p", index);
                var arr = ptxt.html().split(',');
                if ($.trim(arr) != "") {
                    var jd = parseFloat(arr[0]).toFixed(6);
                    var wd = parseFloat(arr[1]).toFixed(6);
                    $('#JD').val(jd);
                    $('#WD').val(wd);
                }
                layer.close(index);
            },
            cancel: function (index) {
                layer.close(index);
            }
        });
    }

    function Manager(Method, ID, page) {
        if (Method == 'Del') {
            if (confirm('确实要删除该内容吗?')) {
                $.ajax({
                    type: "Post",
                    url: "/DataCenter/MONITORINGSTATIONManager",
                    data: {DC_UTILITY_MONITORINGSTATION_ID: ID,Method: Method },
                    dataType: "json",
                    error: function () {
                        layer.msg('错误:异常!', { icon: 5 });
                    },
                    success: function (re) {
                        if (re.Success) {
                            layer.msg('删除成功', { icon: 6 });
                            query(page);
                        }
                        else {
                            layer.msg('删除失败', { icon: 5 });
                        }
                    }
                });
            }
        }
        else {
            if (Method == 'Mdy' || Method == 'See') {
                $.ajax({
                    type: "Post",
                    url: "/DataCenter/GetMONITORINGSTATIONjson",
                    data: {DC_UTILITY_MONITORINGSTATION_ID: ID,},
                    dataType: "json",
                    error: function () {
                        layer.msg('错误:异常!', 'error');
                    },
                    success: function (data) {
                        if (data.DC_UTILITY_MONITORINGSTATION_ID != '') {
                            document.getElementById("NUMBER").value = data.NUMBER;
                            document.getElementById("NAME").value = data.NAME;
                            document.getElementById("ADDRESS").value = data.ADDRESS;
                            document.getElementById("MODEL").value = data.MODEL;
                            $('#BYORGNO').combotree('setValue', data.BYORGNO);
                            document.getElementById("TRANSFERMODETYPE").value = data.TRANSFERMODETYPE;
                            document.getElementById("USESTATE").value = data.USESTATE;
                            document.getElementById("MANAGERSTATE").value = data.MANAGERSTATE;
                            document.getElementById("MARK").value = data.MARK;
                            document.getElementById("JD").value = data.JD;
                            document.getElementById("WD").value = data.WD;
                            document.getElementById("MONICONTENT").value = data.MONICONTENT;
                            document.getElementById("WORTH").value = data.WORTH;
                            $('#BUILDDATE').datebox('setValue', data.BUILDDATE);
                            $('#BUILDDATEBEGIN').datebox('setValue', data.BUILDDATEBEGIN);
                            $('#BUILDDATEEND').datebox('setValue', data.BUILDDATEEND);
                        }
                    }
                });
            }
            if (Method == 'Add') {
                document.getElementById("NUMBER").value = "";
                document.getElementById("NAME").value = "";
                document.getElementById("ADDRESS").value = "";
                document.getElementById("MODEL").value = "";
                $('#BYORGNO').combotree('setValue', "@curorgno");
                document.getElementById("TRANSFERMODETYPE").value = "";
                document.getElementById("USESTATE").value = "";
                document.getElementById("MANAGERSTATE").value = "";
                document.getElementById("MARK").value = "";
                document.getElementById("JD").value = "";
                document.getElementById("WD").value = "";
                document.getElementById("MONICONTENT").value = "";
                document.getElementById("WORTH").value = "";
                $('#BUILDDATE').datebox('setValue', "");
                $('#BUILDDATEBEGIN').datebox('setValue', "");
                $('#BUILDDATEEND').datebox('setValue', "");
            }
            var btnInfo = ['保存', '取消'];
            if (Method == "See")
                btnInfo = [];
            var str = "监测站添加";
            if (Method == "Mdy")
                str = "监测站修改";
            if (Method == "See")
                str = "监测站查看";
            layer.open({
                type: 1,
                title: str,
                area: ['60%', '68%'],
                btn: btnInfo,
                shade: 0,
                maxmin: true,
                content: $('#tableadd'),
                yes: function (index, layero) {
                    var t1 = $('#JD').val();
                    var t2 = $('#WD').val();
                    var t3 = $('#WORTH').val();
                    var t6 = $('#NAME').val();
                    var t7 = $('#NUMBER').val();
                    if ($.trim(t1) != "") {
                        reg = /^-?\d+\.\d{1,6}$/;
                        if (!reg.test(t1)) {
                            layer.msg('经度格式不正确！', { icon: 5 });
                            $('#JD').focus();
                            return;
                        }
                    }
                    if ($.trim(t2) != "") {
                        reg = /^-?\d+\.\d{1,6}$/;
                        if (!reg.test(t2)) {
                            layer.msg('纬度格式不正确！', { icon: 5 });
                            $('#WD').focus();
                            return;
                        }
                    }
                    if ($.trim(t3) != "") {
                        if (CheckNUM($.trim(t3)) == false) {
                            layer.msg('总价请填写数字！', { icon: 5 });
                            $('#WORTH').focus();
                            return;
                        }
                    }
                    if ($.trim(t6) == "") {
                        layer.msg('请填写名称！', { icon: 5 });
                        $('#NAME').focus();
                        return;
                    }
                    if ($.trim(t7) == "") {
                        layer.msg('请填写编号！', { icon: 5 });
                        $('#NUMBER').focus();
                        return;
                    }
                    $.ajax({
                        type: "Post",
                        url: "/DataCenter/MONITORINGSTATIONManager",
                        data: {
                            DC_UTILITY_MONITORINGSTATION_ID: ID,
                            Method: Method,
                            NUMBER: document.getElementById("NUMBER").value,
                            NAME: document.getElementById("NAME").value,
                            ADDRESS: document.getElementById("ADDRESS").value,
                            MODEL: document.getElementById("MODEL").value,
                            BYORGNO: $('#BYORGNO').combotree('getValue'),
                            TRANSFERMODETYPE: document.getElementById("TRANSFERMODETYPE").value,
                            USESTATE: document.getElementById("USESTATE").value,
                            MANAGERSTATE: document.getElementById("MANAGERSTATE").value,
                            MARK: document.getElementById("MARK").value,
                            JD: document.getElementById("JD").value,
                            WD: document.getElementById("WD").value,
                            MONICONTENT: document.getElementById("MONICONTENT").value,
                            WORTH: document.getElementById("WORTH").value,
                            BUILDDATE: $('#BUILDDATE').datebox('getValue'),
                            BUILDDATEBEGIN: $('#BUILDDATEBEGIN').datebox('getValue'),
                            BUILDDATEEND: $('#BUILDDATEEND').datebox('getValue'),
                        },
                        dataType: "json",
                        error: function () {
                            layer.msg('错误:异常!', 'error');
                        },
                        success: function (re) {
                            if (re.Success) {
                                layer.close(index);
                                layer.msg('操作成功', { icon: 6 });
                                query('1');
                            }
                            else {
                                layer.msg(re.Msg, { icon: 5 });
                            }
                        }
                    });
                },
                cancel: function (index) {
                    layer.close(index);
                }
            })
        }
    }
    //地图定位展示
    function Position(tablename, id,name) {
        layer.open({
            type: 2,
            title:name+ '地图定位',
            area: ['70%', '80%'],
            //shade: 0,
            fix: true,
            maxmin: true,
            content: '/MapCommon/MapPostionCommonIndex?tablename=' + tablename + "&id=" + id
        })
    }
    function See(ID, tablename) {
        layer.open({
            type: 2,
            title: '监测站查看',
            area: ['60%', '62%'],
            fix: true,
            maxmin: true,
            content: '/DataCenter/SeeIndex?tablename=' + tablename + "&ID=" + ID
        })
    }
    //选中改变颜色
    function setColor(obj) {
        $(obj).css("background-color", "#FFDAB9");
        $("tr").not($(obj)).css("background-color", "");
    }
</script>
