@using ManagerSystemClassLibrary;
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    var curorgno = SystemCls.getCurUserOrgNo();
    if (curorgno.Substring(6, 9) == "000000000" && curorgno.Substring(4, 2) != "00")
    {
        curorgno = curorgno.Substring(0, 6) + "xxxxxxxxx";
    }
    else
    {
        curorgno = SystemCls.getCurUserOrgNo();
    }
    var curorgno1 = SystemCls.getCurUserOrgNo();//添加的时候组织机判断

}
@model IEnumerable<ManagerSystemModel.T_SYS_ORGModel>
<script src="~/Scripts/Transform.js"></script>
<div class="easyui-layout" data-options="fit:true" style=" border:0;">


    <div data-options="region:'west'" title="" style=" width:220px; border: none;">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>
    <div data-options="region:'center'" title="" style=" border: none;">

        <div class="easyui-layout" data-options="fit:true" style=" border:0;">


            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <div class="divOP">
                        <div class="home">
                            单位：<div id="tbxBYORGNO" class="easyui-tree"></div>
                            名称：<input id="tbxNAME" type="text" class="input-small" style="width:120px" value="" />
                            地类类型：<select id="tbxTYPE" style="width:100px">
                                @Html.Raw(@ViewBag.type)
                            </select>
                            <input type="button" value="查询" onclick="query('1')" class="btnSearchCss" />
                            <input type="button" value="添加" id="btnAdd" onclick="Add()" class="btnAddCss" />
                        </div>
                    </div>
                </div>
            </div>
            <div data-options="region:'center'" title="" class="LayoutCenterBG">

                <div class="divTable" id="divTable">

                </div>
            </div>
            <div data-options="region:'south'" title="" style=" height:40px; border: none; overflow:hidden;  text-align:right;padding:2px 2px 2px 2px;">

                <div class="divPager" id="divPager">

                </div>
            </div>

        </div>
    </div>
</div>



<script type="text/javascript">
    var xzno = "";//乡镇
    var xcno = "";//乡村
    var bln = '@ViewBag.isAdd';
    if (bln == "1") {
        document.getElementById('btnAdd').style.display = "";
    }
    $(function () {
        $('#tbxBYORGNO').combotree({
            url: '/DataCenter/OrgTreeget',
            editable: false,
            required: true,
            panelHeight: 300,
            onLoadSuccess: function (node, data) {
                var t = $("#tbxBYORGNO").combotree('tree');//获取tree
                t.tree("collapseAll");
                node = t.tree("find", data[0].id);
                t.tree("expand", node.target);//展开节点 expandTo
            }
        });
        $('#tbxBYORGNO').combotree('setValue', "@curorgno");
        query('1');
    });
    function query(Page) {
        var pagesize = '0';
        if (document.getElementById("selPageSize") != null) {
            pagesize = document.getElementById("selPageSize").value;
        }
        var ORGNOS = $('#tbxBYORGNO').combotree('getValue');
        $.ajax({
            url: '/DataCenter/getMountainlist',
            data: {
                BYORGNO: ORGNOS,
                NAME: document.getElementById("tbxNAME").value,
                TYPE: document.getElementById("tbxTYPE").value,
                PageSize: pagesize,
                Page: Page,
            },
            type: 'post',
            success: function (data) {
                var ar = eval('(' + data + ')');
                if (ar.Success) {
                    $('#divTable').html(ar.tableInfo);
                    $('#divPager').html(ar.pagerInfo);
                }
                else {
                    layer.msg('登录异常');
                }
            },
            error: function (err, ioArgs) {
                layer.msg('登录异常');
            }
        });
    }

    function Del(Method, ID, page, TYPE1) {
        layer.confirm('确实要删除吗?', { icon: 3, title: '提示' }, function (index) {
            $.ajax({
                url: '/DataCenter/MountainManager',
                cache: false,
                data:
                    {
                        OBJECTID: ID,
                        Method: Method,
                        TYPE1: TYPE1,
                    },
                type: 'post',
                error: function () {
                    layer.msg('系统异常!', { icon: 5 });
                },
                dataType: 'json',
                success: function (re) {
                    if (re.Success) {
                        layer.msg('删除成功!', { icon: 6 });
                        query(page);
                    }
                    else {
                        layer.msg(re.Msg, { icon: 5 });
                    }
                }
            });
        });
    }
    function Add() {
        layer.open({
            type: 2,
            title: '添加',
            fix: false, //不固定
            area: ['600px', '280px'],
            maxmin: true,
            content: '/DataCenter/MountainManIndex',
            end: function () {
                query(1);
            }
        });
    }
    function Mdy(Method, ID, page, TYPE1,NAME) {
        layer.open({
            type: 2,
            title:NAME+ "修改",
            area: ['600px', '280px'],
            shade: false,
            fix: true,
            maxmin: true,
            content: '/DataCenter/MountainManIndex?Method=' + Method + "&ID=" + ID + "&TYPE1=" + TYPE1,
 
            end: function () {
                query(1);
            }

    });
    }
    //地图定位展示
    function Position(tablename, id, name) {
        layer.open({
            type: 2,
            title: name + '地图定位',
            area: ['1000px', '600px'],
            //shade: 0,
            fix: true,
            maxmin: true,
            content: '/MapCommon/MapPostionCommonIndex?tablename=' + tablename + "&id=" + id
        })
    }
    //查看通用
    function See(ID, tablename) {
        layer.open({
            type: 2,
            title: '山数据查看',
            area: ['350px', '230px'],
            fix: true,
            maxmin: true,
            content: '/DataCenter/SeeIndex?tablename=' + tablename + "&ID=" + ID
        })
    }
    //选中改变颜色
    function setColor(obj) {
        $(obj).css("background-color", "#FFDAB9");
        $("tr").not($(obj)).css("background-color", "");
    }
</script>
