@using ManagerSystemClassLibrary;
@{
    Layout = "~/Views/Shared/_LayOutIndexNoMenu.cshtml";
    var curorgno1 = SystemCls.getCurUserOrgNo();//添加的时候组织机判断
}
<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'center'" title="" style=" border: none; ">
        <div class="easyui-layout" data-options="fit:true" style=" border:0;">
            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <div class="homeUL">
                        <input type="button" value="保存" onclick="Manager()" id="btnSave" class="btnSaveCss">
                    </div>
                </div>
            </div>

            <div data-options="region:'center'" title="" style=" border: none; ">
                <div class="divMan">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td style="width:80px;" class="tdField">
                                单位名称：
                            </td>
                            <td>
                                <select id="ORGNOS" class="easyui-combotree" style="width:200px;"></select>
                            </td>
                            <td style="width:80px;" class="tdField">
                                资源类型：
                            </td>
                            <td>
                                <select id="RESOURCETYPE">
                                    @Html.Raw(@ViewBag.resourcetypeadd)
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:80px;" class="tdField">
                                @*<span style="color:red;">*</span>*@
                                名称：
                            </td>
                            <td>
                                <input type="text" id="NAME" class="input-small" value="" />
                                <span class="spanRequiredField">*</span>
                            </td>
                            <td style="width:80px;" class="tdField">
                                @*<span style="color:red;">*</span>*@
                                编号：
                            </td>
                            <td>
                                <input id="NUMBER" type="text" class="input-small" value="" />
                                <span class="spanRequiredField">*</span>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:80px;" class="tdField">
                                林龄类型：
                            </td>
                            <td>
                                <select id="AGETYPE">
                                    @Html.Raw(@ViewBag.agetypeadd)
                                </select>
                            </td>
                            <td style="width:80px;" class="tdField">
                                起源类型：
                            </td>
                            <td>
                                <select id="ORIGINTYPE">
                                    @Html.Raw(@ViewBag.originttypeadd)
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:80px;" class="tdField">
                                可燃类型：
                            </td>
                            <td>
                                <select id="BURNTYPE">
                                    @Html.Raw(@ViewBag.burntypeadd)
                                </select>
                            </td>
                            <td style="width:80px;" class="tdField" >
                                林木类型：
                            </td>
                            <td>
                                <select id="TREETYPE">
                                    @Html.Raw(@ViewBag.treetypeadd)
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:160px;" class="tdField">
                                @*<span style="color:red;">*</span>*@
                                经纬度点：
                            </td>
                            <td colspan="3">
                                <input id="JWDLIST" type="text" style="width:75%" value="" readonly />
                                <span class="spanRequiredField">*</span>
                                <input type="button" value="地图定位" onclick="setLine()" class="btnMapLoaclCss" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:80px;" class="tdField">
                                树种：
                            </td>
                            <td>
                                <input id="KINDTYPE" type="text" class="input-small" value="" />
                            </td>
                            <td style="width:80px;" class="tdField">
                                面积：
                            </td>
                            <td>
                                <input id="AREA" type="text" class="input-small" value="" /><span class="spanMark">公顷</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:80px;" class="tdField">
                                坡向：
                            </td>
                            <td>
                                <input id="ASPECT" type="text" class="input-small" value="" />
                            </td>
                            <td style="width:80px;" class="tdField">
                                坡度：
                            </td>
                            <td>
                                <input id="ANGLE" type="text" class="input-small" value="" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:80px;" class="tdField">
                                责任人：
                            </td>
                            <td>
                                <input id="DUTYPERSON" type="text" class="input-small" value="" />
                            </td>
                            <td style="width:80px;" class="tdField">
                                责任人电话：
                            </td>
                            <td>
                                <input id="DUTYPERSONTELL" type="text" class="input-small" value="" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:80px;" class="tdField">
                                挂钩领导：
                            </td>
                            <td>
                                <input id="POTHOOKLEADER" type="text" class="input-small" value="" />
                            </td>
                            <td style="width:80px;" class="tdField">
                                职务：
                            </td>
                            <td>
                                <input id="POTHOOKLEADERJOB" type="text" class="input-small" value="" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:80px;" class="tdField">
                                领导电话：
                            </td>
                            <td colspan="3">
                                <input id="POTHOOKLEADERTLEE" style="width:97%" type="text" class="input-small" value="" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:80px;" class="tdField">
                                备注：
                            </td>
                            <td colspan="3">
                                <input id="MARK" style="width:97%" type="text" class="input-small" value="" />
                            </td>
                        </tr>
                  </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#ORGNOS').combotree({
            url: '/DataCenter/OnlyOrgTreeget',
            editable: false,
            required: true,
            panelHeight: 300,
            onLoadSuccess: function (node, data) {
                var t = $("#ORGNOS").combotree('tree');//获取tree
                t.tree("collapseAll");
                node = t.tree("find", data[0].id);
                t.tree("expand", node.target);//展开节点 expandTo
            }
        });
        $('#ORGNOS').combotree('setValue', "@curorgno1");
    });
    if ('@ViewBag.T_Method' == "Del") {
        Manager();
    }
    if ('@ViewBag.T_Method' == 'Mdy') {
        $.ajax({
            url: '/DataCenter/GetRESOURCE_NEWjson',
            cache: false,
            timeout: 10000, //10秒后超时，如果为0则永不超时
            data: { DC_RESOURCE_NEW_ID: '@ViewBag.ID' },
            success: function (data, ioArgs) {
                var data = eval('(' + data + ')');
                if (data.DC_RESOURCE_NEW_ID != null) {
                    document.getElementById("RESOURCETYPE").value = data.RESOURCETYPE;
                    document.getElementById("NUMBER").value = data.NUMBER;
                    document.getElementById("NAME").value = data.NAME;
                    $('#ORGNOS').combotree('setValue', data.ORGNOS);
                    document.getElementById("KINDTYPE").value = data.KINDTYPE;
                    document.getElementById("AGETYPE").value = data.AGETYPE;
                    document.getElementById("ORIGINTYPE").value = data.ORIGINTYPE;
                    document.getElementById("AREA").value = data.AREA;
                    document.getElementById("BURNTYPE").value = data.BURNTYPE;
                    document.getElementById("TREETYPE").value = data.TREETYPE;
                    document.getElementById("ASPECT").value = data.ASPECT;
                    document.getElementById("ANGLE").value = data.ANGLE;
                    document.getElementById("MARK").value = data.MARK;
                    var str = data.JWDLIST;
                    if (str.substring(str.length - 1) != ";") {
                        document.getElementById("JWDLIST").value = str + ";";
                    } else {
                        document.getElementById("JWDLIST").value = str;
                    }
                    document.getElementById("POTHOOKLEADER").value = data.POTHOOKLEADER;
                    document.getElementById("POTHOOKLEADERJOB").value = data.POTHOOKLEADERJOB;
                    document.getElementById("POTHOOKLEADERTLEE").value = data.POTHOOKLEADERTLEE;
                    document.getElementById("DUTYPERSON").value = data.DUTYPERSON;
                    document.getElementById("DUTYPERSONTELL").value = data.DUTYPERSONTELL;
                }
            },
            error: function (err, ioArgs) {
                layer.msg('登录异常');
            }
        });
    }

    function setLine() {
        var name = document.getElementById("NAME").value;
        var str = document.getElementById("JWDLIST").value;
        parent.layer.open({
            type: 2,
            title: name + '地图位置设置',
            btn: ['保存', '关闭'],
            area: ['1000px', '600px'],
            fix: false, //不固定
            maxmin: true,
            content: '/MapCommon/GetMapPontIndex?LINE=2',
            success: function (layero, index) {
                var body = parent.layer.getChildFrame('body', index);
                body.find('#editcollecttxt').text(str);
                top.window["layui-layer-iframe" + index].getLocaCollectPolygon();//面
            },
            yes: function (index, layero) { //或者使用btn1
                //按钮【按钮一】的回调
                var ptxt = parent.layer.getChildFrame("#editcollecttxt", index);
                var lm = parent.layer.getChildFrame("#MjACdtxt", index)
                $('#AREA').val(lm.html());//面积
                $('#JWDLIST').val(ptxt.html());//经纬度
                parent.layer.close(index);
            }, cancel: function (index) {
                parent.layer.close(index);
            }
        });

    }
    function Manager() {
        var t1 = $('#AREA ').val();
        var t2 = $('#NAME ').val();
        var t3 = $('#NUMBER ').val();
        var t4 = $('#KINDTYPE ').val();
        if ($.trim(t1) != "") {
            if (CheckNUM($.trim(t1)) == false) {
                layer.msg('面积请填写数字！', { icon: 5 });
                $('#AREA').focus();
                return;
            }
        }
        if ($.trim(t2) == "") {
            layer.msg('请填写名称！', { icon: 5 });
            $('#NAME').focus();
            return;
        }
        if ($.trim(t3) == "") {
            layer.msg('请填写编号！', { icon: 5 });
            $('#NUMBER').focus();
            return;
        }
        if ($.trim(t4) != "") {
            if (checkStr($.trim(t4)) == false) {
                layer.msg('林种字数不得超过50！', { icon: 5 });
                $('#KINDTYPE').focus();
                return;
            }
        }
        var tt = document.getElementById("JWDLIST").value;
        if (tt.split('|').length == 1) {
            layer.msg('请在地图上画出面！', { icon: 5 });
            return;
        }
        $.ajax({
            type: "Post",
            url: "/DataCenter/RESOURCE_NEWManager",
            data: {
                DC_RESOURCE_NEW_ID:'@ViewBag.ID',
                Method:'@ViewBag.T_Method',
                RESOURCETYPE: document.getElementById("RESOURCETYPE").value,
                NUMBER: document.getElementById("NUMBER").value,
                NAME: document.getElementById("NAME").value,
                ORGNOS: $('#ORGNOS').combotree('getValue'),
                KINDTYPE: document.getElementById("KINDTYPE").value,
                AGETYPE: document.getElementById("AGETYPE").value,
                ORIGINTYPE: document.getElementById("ORIGINTYPE").value,
                AREA: document.getElementById("AREA").value,
                BURNTYPE: document.getElementById("BURNTYPE").value,
                TREETYPE: document.getElementById("TREETYPE").value,
                ASPECT: document.getElementById("ASPECT").value,
                ANGLE: document.getElementById("ANGLE").value,
                MARK: document.getElementById("MARK").value,
                JWDLIST: document.getElementById("JWDLIST").value,
                POTHOOKLEADER: document.getElementById("POTHOOKLEADER").value,
                POTHOOKLEADERJOB: document.getElementById("POTHOOKLEADERJOB").value,
                POTHOOKLEADERTLEE: document.getElementById("POTHOOKLEADERTLEE").value,
                DUTYPERSON: document.getElementById("DUTYPERSON").value,
                DUTYPERSONTELL: document.getElementById("DUTYPERSONTELL").value,
            },
            dataType: "json",
            success: function (data) {
                if (data.Success) {
                    parent.layer.msg(data.Msg,{ icon: 6 });
                    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                    parent.layer.close(index);
                }
                else {
                    layer.msg(data.Msg);
                }
            },
            error: function (err, ioArgs) {
                layer.msg('保存异常!');
            }
        });
    }
</script>


