@using ManagerSystemModel;
@{
    Layout = "~/Views/Shared/_LayOutIndex.cshtml";
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'west'" title="" style=" width:220px; border: none; ">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>

    <div data-options="region:'center'" title="">
        <div class="easyui-layout" data-options="fit:true" style=" border:0;">
            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <ul>
                        <li class="homeUL"><a href="/SystemConfig/AREAList">行政区划管理</a></li>@Html.Raw(@ViewBag.navList)
                    </ul>
                </div>
            </div>

            <div data-options="region:'center'" title="" style=" border: none; " class="LayoutCenterBG">
                <div class="divTable">
                    @Html.Raw(@ViewBag.AREAList)
                </div>
            </div>

            <div data-options="region:'south'" title="" style=" height:40px; border: none; overflow:hidden;  text-align:right;padding:2px 2px 2px 2px;">
                <div class="divOP" style="text-align:left;">
                    <div class="home">
                        编码：<input id="tbxAREACODE" type="text" value="" style="width:120px;" />
                        名称：<input id="tbxAREANAME" type="text" value="" style="width:70px;" />
                        简称：<input id="tbxAREAJC" type="text" value="" style="width:60px;" />
                        经度：<input id="tbxJD" type="text" value="" style="width:60px;" />
                        纬度：<input id="tbxWD" type="text" value="" style="width:60px;" />
                        <input id="tbxAREAID" type="hidden" value="" />
                        <input type="button" value="添加" onclick="Manager('Add')" class="btnAddCss" />
                        <input type="button" value="修改" onclick="Manager('Mdy')" class="btnMdyCss" />
                        <input type="button" value="删除" onclick="Manager('Del')" class="btnDelCss" />
                        编码前6位按国家标准进行编码，后三位为乡镇编码
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function showValue(ID) {
        $.ajax({
            url: '/SystemConfig/getAREAJson',
            timeout: 10000, //10秒后超时，如果为0则永不超时
            cache: false,
            data: { ID: ID },
            dataType: "json",
            success: function (data) {
                if (data.AREAID != null) {
                    document.getElementById("tbxAREACODE").value = data.AREACODE;
                    document.getElementById("tbxAREANAME").value = data.AREANAME;
                    document.getElementById("tbxAREAID").value = data.AREAID;
                    document.getElementById("tbxAREAJC").value = data.AREAJC;
                    document.getElementById("tbxJD").value = data.JD;
                    document.getElementById("tbxWD").value = data.WD;
                }
                else {
                    layer.msg(data.Msg, { icon: 5 });
                }
            },
            error: function (err, ioArgs) {
                layer.msg('登陆异常!', { icon: 5 });
            }
        });
    }

    function Manager(Method) {
        var t1 = $('#tbxJD').val();
        var t2 = $('#tbxWD').val();
        if ($.trim(t1) != "") {
            reg = /^-?\d+\.\d{1,6}$/;
            if (!reg.test(t1)) {
                layer.msg('经度格式不正确!', { icon: 5 });
                $('#tbxJD').focus();
                return false;
            }
        }
        if ($.trim(t2) != "") {
            reg = /^-?\d+\.\d{1,6}$/;
            if (!reg.test(t2)) {
                layer.msg('纬度格式不正确!', { icon: 5 });
                $('#tbxWD').focus();
                return false;
            }
        }
        var id = document.getElementsByName('tbxAREACODE');
        if (Method == "Del") {
            if (confirm('确实要删除该内容吗?') == false)
                return false;
        }
        $.ajax({
            url: '/SystemConfig/AREAManager',
            timeout: 10000, //10秒后超时，如果为0则永不超时
            cache: false,
            data: {
                AREACODE: document.getElementById("tbxAREACODE").value,
                AREANAME: document.getElementById("tbxAREANAME").value,
                AREAID: document.getElementById("tbxAREAID").value,
                AREAJC: document.getElementById("tbxAREAJC").value,
                JD: document.getElementById("tbxJD").value,
                WD: document.getElementById("tbxWD").value,
                Method: Method,
                returnUrl: '@Html.Raw(@ViewBag.T_UrlReferrer)'
            },
            dataType:'json',
            success: function (data) {
                if (data.Success) {
                    if (confirm(data.Msg + ' 请返回?'))
                        window.location.assign(data.Url);
                }
                else {
                    layer.msg(data.Msg, { icon: 5 });
                }
            },
            error: function (err, ioArgs) {
                layer.msg('保存异常!', { icon: 5 });
            }
        });
    }
</script>
