@using ManagerSystemModel;
@{
    //ViewBag.Title =  "首页";
    Layout = "~/Views/Shared/_LayOutIndex.cshtml";
}
<div class="easyui-layout" data-options="fit:true" style=" border:0;">


    <div data-options="region:'west'" title="" style=" width:220px; border: none; ">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>
    <div data-options="region:'center'" title="">

        <div class="easyui-layout" data-options="fit:true" style=" border:0;">


            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <div class="homeUL">
                        单位：<select id="tbxORGNO">
                            @Html.Raw(@ViewBag.vdOrg)
                        </select>
                        <input type="button" value="查询" onclick="query()" class="btnSearchCss" />
                        <input type="button" value="添加" onclick="Add()" class="btnAddCss" />
                    </div>
                </div>
            </div>
            <div data-options="region:'center'" title="" style=" border: none; " class="LayoutCenterBG">

                <div class="divTable" id="divTable">
                    @Html.Raw(@ViewBag.ORGNOList)
                </div>
            </div>

        </div>
    </div>

</div>
<script type="text/javascript">

    function Manager(id) {
        if (confirm('确实要删除该内容吗?')) {
            $.ajax({
                url: '/SystemConfig/ORGManager',
                timeout: 10000, //10秒后超时，如果为0则永不超时
                data: {
                    ORGNO: id,
                    Method: 'Del',
                    returnUrl: '',
                },
                success: function (data, ioArgs) {
                    var ar = eval('(' + data + ')');
                    if (ar.Success) {
                        if (confirm(ar.Msg )) {
                            query(); //window.location.reload();//.assign(ar.Url);
                        }
                    }
                    else {
                        alert(ar.Msg);
                    }
                },
                error: function (err, ioArgs) {
                    alert('保存异常');
                }
            });
        }
    }

    function Add() {
        layer.open({
            type: 2,
            title: '添加',
            fix: false, //不固定
            area: ['55%', '65%'],
            maxmin: true,
            content: '/SystemConfig/ORGMan',
            end: function () {
                query();
            }
        });
    }
    //function Add() {
    //    window.location.assign('/SystemConfig/ORGMan');
    //}

    function Mdy(Method, ID, tno) {
        layer.open({
            type: 2,
            title: '修改',
            fix: false, //不固定
            area: ['55%', '65%'],
            maxmin: true,
            content: '/SystemConfig/ORGMan?ID=' + ID + '&tNo=' + tno + '&Method=Mdy',
            end: function () {
                query();
            }
        });
    }

    function See(Method, ID, tno) {
        layer.open({
            type: 2,
            title: '查看',
            fix: false, //不固定
            area: ['55%', '65%'],
            maxmin: true,
            content: '/SystemConfig/ORGMan?ID=' + ID + '&tNo=' + tno + '&Method=See',
           
        });
    }
    $(function () {
        query();
    });
    function query() {
        $.ajax({
            url: '/SystemConfig/getORGListAjax',
            timeout: 10000, //10秒后超时，如果为0则永不超时

            data: {
                ORGNO: document.getElementById("tbxORGNO").value,
            },
            success: function (data, ioArgs) {
                var ar = eval('(' + data + ')');
                if (ar.Success) {
                    $('#divTable').html(ar.tableInfo);
                   
                }
                else {
                    alert(ar.Msg);
                }
            },
            error: function (err, ioArgs) {
                alert('登录异常');
            }
        });
    }
</script>