@{
    Layout = "~/Views/Shared/_LayOutIndexNoMenu.cshtml";
}
@section Header{
    <script src="~/Scripts/SpringerCommonValidate.js"></script>
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'center'" title="" style=" border: none; ">
        <div class="easyui-layout" data-options="fit:true" style=" border:0;">
            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <div class="homeUL">
                        <input type="button" value="保存" onclick="Manager()" id="btnSave" class="btnSaveCss" style="display:none;">
                    </div>

                </div>
            </div>
            <div data-options="region:'center'" title="" class="LayoutCenterBG">
                <div class="divMan">
                    <table cellpadding="0" cellspacing="0">
                        <tr >
                            <td class="tdField">行政区划:</td>
                            <td><select id="tbxAREANAME" style="width:90%;"> @Html.Raw(@ViewBag.vdAREANAME) </select></td>
                            <td class="tdField" style="width:100px;">单位名称:</td>
                            <td><input type="text" id="tbxORGNAME" value="" style="width:90%;" /></td>
                        </tr>
                        <tr>
                            <td class="tdField" style="width:100px;">单位编码:</td>
                            <td><input type="text" id="tbxORGNO" value="" style="width:90%;" /></td>
                            <td class="tdField">火险等级简称:</td>
                            <td><input type="text" id="tbxORGJC" value="" style="width:90%;" /></td>
                        </tr>
                        <tr>
                            <td class="tdField">气象机构简称:</td>
                            <td><input type="text" id="tbxWEATHERJC" value="" style="width:90%;" /></td>
                            <td class="tdField">指挥部: </td>
                            <td><input type="text" id="tbxCOMMANDNAME" value="" style="width:90%;" /></td>
                        </tr>
                        <tr >
                            <td class="tdField">单位职责:</td>
                            <td><input type="text" id="tbxORGDUTY" value="" style="width:90%;" /></td>
                            <td class="tdField">负责人:</td>
                            <td><input type="text" id="tbxLEADER" value="" style="width:90%;" /></td>
                        </tr>
                        <tr >
                            <td class="tdField">地址:</td>
                            <td><input type="text" id="tbxADDRESS" value="" style="width:90%;" /></td>
                            <td class="tdField">邮编:</td>
                            <td><input type="text" id="tbxPOSTCODE" value="" style="width:90%;" /></td>
                        </tr>
                        <tr>
                            <td class="tdField">经度:</td>
                            <td><input type="text" id="tbxJD" value="" style="width:90%;" /></td>
                            <td class="tdField">纬度:</td>
                            <td><input type="text" id="tbxWD" value="" style="width:90%;" /></td>
                        </tr>
                        <tr>
                            <td class="tdField">值班电话:</td>
                            <td><input type="text" id="tbxDUTYTELL" value="" style="width:90%;" /></td>
                            <td class="tdField">传真:</td>
                            <td><input type="text" id="tbxFAX" value="" style="width:90%;" /></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    if ('@ViewBag.T_Method' != 'See') {
        document.getElementById("btnSave").style.display = '';
    }
    $.ajax({
        url: '/SystemConfig/getORGJson',
        cache: false,
        timeout: 10000, //10秒后超时，如果为0则永不超时
        data: { ID: '@ViewBag.T_ID' },
        success: function (data, ioArgs) {
            var ar = eval('(' + data + ')');
            if (ar.ORGNO != null) {
                document.getElementById("tbxORGNAME").value = ar.ORGNAME;
                document.getElementById("tbxORGNO").value = ar.ORGNO;
                document.getElementById("tbxORGDUTY").value = ar.ORGDUTY;
                document.getElementById("tbxLEADER").value = ar.LEADER;
                //document.getElementById("tbxAREACODE").value = ar.AREACODE;
                document.getElementById("tbxAREANAME").value = ar.AREACODE;
                document.getElementById("tbxORGJC").value = ar.ORGJC;
                document.getElementById("tbxJD").value = ar.JD;
                document.getElementById("tbxWD").value = ar.WD;
                //document.getElementById("tbxWXJC").value = ar.WXJC;
                document.getElementById("tbxWEATHERJC").value = ar.WEATHERJC;
                document.getElementById("tbxCOMMANDNAME").value = ar.COMMANDNAME;
                document.getElementById("tbxADDRESS").value = ar.ADDRESS;
                document.getElementById("tbxPOSTCODE").value = ar.POSTCODE;
                document.getElementById("tbxDUTYTELL").value = ar.DUTYTELL;
                document.getElementById("tbxFAX").value = ar.FAX;
                if ('@ViewBag.T_Method' == "See") {
                    document.getElementById('btnSave').style.display = 'none';
                }
                if ('@ViewBag.T_Method' == "Del") {
                    Manager();
                }
            }
        },
        error: function (err, ioArgs) {
            layer.msg('登录异常', { icon: 5 });
        }
    });

    function Manager() {
        var t1 = $('#tbxJD').val();
        var t2 = $('#tbxWD').val();
        var t3 = $('#tbxDUTYTELL').val();
        var t4 = $('#tbxPOSTCODE').val();
        var t5 = $('#tbxFAX').val();
        if ($.trim(t1) != "") {
            reg = /^-?\d+\.\d{1,6}$/;
            if (!reg.test(t1)) {
                layer.msg('经度格式不正确!', { icon: 5 });
                $('#tbxJD').focus();
                return;
            }
        }
        if ($.trim(t2) != "") {
            reg = /^-?\d+\.\d{1,6}$/;
            if (!reg.test(t2)) {
                layer.msg('纬度格式不正确!', { icon: 5 });
                $('#tbxWD').focus();
                return;
            }
        }
        if ($.trim(t3) != "") {
            if (checkTel(t3) == false && checkPhone(t3) == false) {
                layer.msg('值班电话不正确!', { icon: 5 });
                $('#tbxDUTYTELL').focus();
                return;
            }
        }
        if ($.trim(t4) != "") {
            if (checkPost(t4) == false) {
                layer.msg('邮编格式不正确!', { icon: 5 });
                $('#tbxPOSTCODE').focus();
                return;
            }
        }
        if ($.trim(t5) != "") {
            if (checkFax(t5) == false) {
                layer.msg('传真格式不正确!', { icon: 5 });
                $('#tbxFAX').focus();
                return;
            }
        }

        $.ajax({
            url: '/SystemConfig/ORGManager',
            cache: false,
            timeout: 10000, //10秒后超时，如果为0则永不超时
            data: {
                ORGNAME: document.getElementById("tbxORGNAME").value,
                ORGNO: document.getElementById("tbxORGNO").value,
                ORGDUTY: document.getElementById("tbxORGDUTY").value,
                LEADER: document.getElementById("tbxLEADER").value,
                AREACODE: document.getElementById("tbxAREANAME").value,
                ORGJC: document.getElementById("tbxORGJC").value,
                JD: document.getElementById("tbxJD").value,
                WD: document.getElementById("tbxWD").value,
                //WXJC: document.getElementById("tbxWXJC").value,
                WEATHERJC: document.getElementById("tbxWEATHERJC").value,
                COMMANDNAME: document.getElementById("tbxCOMMANDNAME").value,
                ADDRESS: document.getElementById("tbxADDRESS").value,
                POSTCODEE: document.getElementById("tbxPOSTCODE").value,
                DUTYTELL: document.getElementById("tbxDUTYTELL").value,
                FAX: document.getElementById("tbxFAX").value,
                Method: '@ViewBag.T_Method',
                returnUrl: '@Html.Raw(@ViewBag.T_UrlReferrer)',
            },
            success: function (data, ioArgs) {
                var ar = eval('(' + data + ')');
                if (ar.Success) {
                    layer.confirm(ar.Msg + ' 请返回?', { icon: 3, title: '提示' }, function (index2) {
                        layer.close(index2);
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index);
                        window.location.assign(ar.Url);
                    });
                }
                else {
                    layer.msg(ar.Msg, { icon: 5 });
                }
            },
            error: function (err, ioArgs) {
                layer.msg('保存异常', { icon: 5 });
            }
        });
    }
</script>
