@{
    Layout = "~/Views/Shared/_LayoutIndexNoMenu.cshtml";
}
<script src="~/Scripts/Chart/echarts.js"></script>
<script src="~/Scripts/Chart/DataCenterChart/FirechannelChart.js"></script>
<div class="easyui-layout" data-options="fit:true" style=" border:0;">

    <div data-options="region:'center'" title="" style=" border: none;">

        <div class="easyui-layout" data-options="fit:true" style=" border:0;">

            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <div class="home">
                        <div style="float:left;">
                            单位:<select id="ORGNO">
                                @Html.Raw(@ViewBag.vdOrg)
                            </select>
                            类型:<select id="type" onchange="TypeChange()">
                                <option value="1">防火通道等级类型</option>
                                <option value="2">防火通道使用性质</option>
                                <option value="3">使用现状</option>
                                <option value="4">维护类型</option>
                            </select>
                        </div>
                            <div id="fireleveltype" style="float:left;display:none;">
                                @Html.Raw(@ViewBag.fireleveltype)
                            </div>
                            <div id="fireusetype" style="float:left;display:none;">
                                @Html.Raw(@ViewBag.fireusetype)
                            </div>
                            <div id="usestate" style="float:left;display:none;">
                                @Html.Raw(@ViewBag.usestate)
                            </div>
                            <div id="managerstate" style="float:left;display:none;">
                                @Html.Raw(@ViewBag.managerstate)
                            </div>
                            <input type="button" value="查询" onclick="query()" class="btnSearchCss" />
                        </div>
                </div>
            </div>

            <div data-options="region:'center'" title="" class="LayoutCenterBG" style="width:100%;">
                <div id="FirechannelChart" style="width:100%;height:500px;float:left;">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var FirechannelChart = echarts.init(document.getElementById('FirechannelChart'));//个数展示
    var Fireleveltype = '';
    var Fireusetype = '';
    var Usestate = '';
    var Managerstate = '';
    var Type = '';
    TypeChange()
    function TypeChange() {
        Type = $('#type').val()
        if (Type == "1" || Type == '') {
            document.getElementById('fireleveltype').style.display = "";
            document.getElementById('fireusetype').style.display = "none";
            document.getElementById('usestate').style.display = "none";
            document.getElementById('managerstate').style.display = "none";
        }
        if (Type == "2") {
            document.getElementById('fireusetype').style.display = "";
            document.getElementById('fireleveltype').style.display = "none";
            document.getElementById('usestate').style.display = "none";
            document.getElementById('managerstate').style.display = "none";
        }
        if (Type == "3") {
            document.getElementById('usestate').style.display = "";
            document.getElementById('fireleveltype').style.display = "none";
            document.getElementById('fireusetype').style.display = "none";
            document.getElementById('managerstate').style.display = "none";
        }
        if (Type == "4") {
            document.getElementById('managerstate').style.display = "";
            document.getElementById('fireleveltype').style.display = "none";
            document.getElementById('fireusetype').style.display = "none";
            document.getElementById('usestate').style.display = "none";
        }
    }
    function query() {
        var TopEchart = $('#ORGNO').val();
        Type = $('#type').val()
        if (Type == "1" || Type == '') {
            Fireleveltype = $("input:checkbox[name='chk1']:checked").map(function (index, elem) {
                return $(elem).val();
            }).get().join(',');
            Usestate = '';
            Fireusetype = '';
            Managerstate = '';
        }
        if (Type == "2") {
            Fireusetype = $("input:checkbox[name='chk3']:checked").map(function (index, elem) {
                return $(elem).val();
            }).get().join(',');
            Fireleveltype = '';
            Usestate = '';
            Managerstate = '';
        }
        if (Type == "3") {
            Usestate = $("input:checkbox[name='chk2']:checked").map(function (index, elem) {
                return $(elem).val();
            }).get().join(',');
            Fireleveltype = '';
            Fireusetype = '';
            Managerstate = '';
        }
        if (Type == "4") {
            Managerstate = $("input:checkbox[name='chk4']:checked").map(function (index, elem) {
                return $(elem).val();
            }).get().join(',');
            Fireleveltype = '';
            Fireusetype = '';
            Usestate = '';
        }
        getFirechannelCount(TopEchart, Fireleveltype, Usestate, Managerstate, Fireusetype);
    }
</script>
