@{
    Layout = "~/Views/Shared/_LayOutIndex.cshtml";
    var strcolor = "green";
    var sendflag = "0";
    sendflag = System.Configuration.ConfigurationManager.AppSettings["IsAutoSendFireLevelMsg"].ToString();
}
@model IEnumerable<ManagerSystem.MVC.Models.YJJCFireLevelModel>

@section Header{
    <link href="~/Scripts/uploadify/uploadify.css" rel="stylesheet" />
    <script src="~/Scripts/uploadify/jquery.uploadify.min.js"></script>

}


<div class="easyui-layout" data-options="fit:true" style=" border:0;">

    <div data-options="region:'west'" title="" style=" width:220px; border: none; ">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>
    <div data-options="region:'center'" title="" class="LayoutCenterBG">
        <div class="easyui-layout" data-options="fit:true" style=" border:0;">
            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <div class="home ">
                        <input type="file" name="uploadify" id="uploadify" />
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input class="btnMsgCss" type="button" value=" 短信响应" onclick="msgShow();" />
                    </div>
                </div>
            </div>
            <div data-options="region:'center'" title="" class="LayoutCenterBG">

                <div class="divTable">
                    <table cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th>市县</th>
                                <th>乡镇</th>
                                <th>经度</th>
                                <th>纬度</th>
                                <th>时间</th>
                                <th>火险等级</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Any())
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.OWnAreaName</td>
                                        <td style="width:20%;">@item.AreaName</td>
                                        <td class='center'>@item.JD</td>
                                        <td class='center'>@item.WD</td>
                                        <td class='center'>@item.LevelDate</td>
                                        @if (@item.FireLevel == "1")
                                        {
                                            strcolor = "green";
                                        }
                                        @if (@item.FireLevel == "2")
                                        {
                                            strcolor = "blue";
                                        }
                                        @if (@item.FireLevel == "3")
                                        {
                                            strcolor = "yellow";
                                        }
                                        @if (@item.FireLevel == "4")
                                        {
                                            strcolor = "orange";
                                        }
                                        @if (@item.FireLevel == "5")
                                        {
                                            strcolor = "red";
                                        }
                                        <td style="background-color:@strcolor" class='center'>@item.FireLevel</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6"><em>暂无火险等级信息</em></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $("#uploadify").uploadify({
        //指定swf文件
        'swf': '/Scripts/uploadify/uploadify.swf',
        //后台处理的页面
        'uploader': '@Url.Action("ExportFireLevlFile", "MainYJJC")',
        //按钮显示的文字
        'buttonText': '火险等级文件导入',
        //显示的高度和宽度，默认 height 30；width 120
        'height': 25,
        'width': 120,
        //上传文件的类型  默认为所有文件    'All Files'  ;  '*.*'
        //在浏览窗口底部的文件类型下拉菜单中显示的文本
        'fileTypeDesc': 'Image Files',
        //允许上传的文件后缀
        'fileTypeExts': '*.txt',
        //发送给后台的其他参数通过formData指定
        //'formData': { 'someKey': 'someValue', 'someOtherKey': 1 },
        //上传文件页面中，你想要用来作为文件队列的元素的id, 默认为false  自动生成,  不带#
        //'queueID': 'fileQueue',
        //选择文件后自动上传
        'auto': true,
        //设置为true将允许多文件上传
        'multi': false,
        //上传成功后执行
        'onUploadSuccess': function (file, data, response) {
            var dataObj = eval("(" + data + ")");//转换为json对象
            if (dataObj != null) {
                if (dataObj.Success) {
                    //  $('#' + file.id).find('.data').html('导入成功！');
                    layer.msg('导入成功', { icon: 1 });
                    if (@sendflag == "1") {//1 为自动发送短信
                        var index = layer.load();
                        $.ajax({
                            type: "post",
                            url: "@Url.Action("AutoSendMsg", "BaseCommon")",
                            dataType: "json",
                            success: function (data) {
                                if (data != null) {
                                    if (data.Success) {
                                        layer.msg('短信发送成功', { icon: 1 }, function(){
                                            //do something
                                            location.reload(true);
                                        });
                                    }
                                    else {
                                        layer.msg(data.Msg, { icon: 2 }, function(){
                                            //do something
                                            location.reload(true);
                                        });
                                    }
                                    //关闭
                                    layer.close(index);
                                }
                                else {
                                    layer.msg('没有需要发送的短信', { icon: 1 }, function(){
                                        //do something
                                        location.reload(true);
                                    });
                                    //关闭
                                    layer.close(index);
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                //关闭
                                layer.close(index);
                                layer.msg('发送短信出错', { icon: 2 }, function(){
                                    //do something
                                    location.reload(true);
                                });
                            }
                        })
                    }
                    else {
                        layer.alert('当前系统配置为手动发送短信，请手动发送短信', { icon: 6 }, function(){
                            //do something
                            location.reload(true);
                        });
                    }

                }
                else {
                    layer.msg(dataObj.Msg, { icon: 5 } );
                }
            }
        }
    });


    @*//火险等级导入
    var fileObj = document.getElementById("txtfile").files[0]; // 获取文件对象
    var formData = new FormData();
    formData.append("file", fileObj);                           // 文件对象
    function ExportTxt() {
        if (/.*\.txt$/.test($("#txtfile").val())) {
            var index = layer.load();
            $.ajax({
                type: "post",
                url: "@Url.Action("ExportFireLevlFile", "MainYJJC")",
                data: formData,
                dataType: "json",
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    //关闭
                    layer.close(index);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //关闭
                    layer.close(index);
                }
            })
        }
        else { alert('请选择txt文件!') }
    }*@

    //短信响应
    function msgShow() {
        layer.open({
            type: 2,
            title: '短信内容编辑',
            area: ['900px', '550px'],
            fix: false, //不固定
            maxmin: true,
            content: '@Url.Action("MessageSendIndex", "BaseCommon")'
        });
    }
</script>