@using ManagerSystem.MVC.HelpCom;
@using ManagerSystemClassLibrary;
@using ManagerSystemSearchWhereModel;
@model IEnumerable<ManagerSystem.MVC.Models.EHCurFireMode>
@{
    Layout = "~/Views/Shared/_LayOutIndexNoMenu.cshtml";
    //应急处置
    var i = 0;
    var zhanlve = T_SYS_DICTCls.getTypeListModel(new T_SYS_DICTTYPE_SW { DICTTYPERID = "1100" });
    var zhanshu = T_SYS_DICTCls.getTypeListModel(new T_SYS_DICTTYPE_SW { DICTTYPERID = "1101" });
    String Rightstr = T_SYSSEC_RIGHTCls.getRightStrByUID(new T_SYSSEC_IPSUSER_SW { USERID = SystemCls.getUserID() });
}
@section Header{
    <link href="~/Content/MapStyle.css" rel="stylesheet" />
    <script src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
    <script src="~/Scripts/skyline/3DMapTotal.js"></script>
    <script src="~/Scripts/NPPInterface.js"></script>
    <script src="~/Scripts/NPPInterlayer.js"></script>
    <script src="~/Scripts/npp_examples_config.js"></script>
    <script src="~/Scripts/jquery.snippet.js"></script>
}
<ul class="ulhlytree" id="yjczid" style="width:99%">
    @if (Rightstr.Contains(",012001,"))
    {
        <li id="li6">
            <label><h1><span>当前火情</span></h1></label>
            <ul id="curfireul" class="warnPanel_list">
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <li class="list">
                            <h1 class="floatLeft">@(++i)</h1>
                            <dl class="list_content border_ty2 floatLeft">
                                <dt class="floatLeft">
                                    <b class="category">【@item.JCFID】</b>
                                    <a href="javascript:void(0)" onclick="AroundJWD(@item.JD,@item.WD);moveto(@item.JD,@item.WD,'@item.FIRENAME',@item.JCFID);" class="theme">@item.FIRENAME </a>
                                </dt>
                                <dd class="floatLeft">
                                    <a href="javascript:void(0)" onclick="DangYAShow('火情信息', 'http://'+window.location.host+'/EmergencyHand/FireSXIndex?jcfid=@item.JCFID', 850, 430)" class="border_ty3">火情信息</a>
                                    <a href="javascript:void(0)" onclick="DangYAShow('预案展示', 'http://'+window.location.host+'/EmergencyHand/YAIndex?level=@item.FIRELEVEL&org=@item.ORGNO', 500, 400)" class="border_ty4">预案</a>
                                    <a href="javascript:void(0)" onclick="setJWValue('@item.JD','@item.WD');movetoMap(@item.JD,@item.WD,'@item.FIRENAME');menuOclick('1')" class="border_ty4">态势分析</a>
                                    <a href="javascript:void(0)" onclick="FireOver(@item.JCFID)" class="border_ty4">标记为已灭</a>
                                </dd>
                                <div class="clear"></div>
                            </dl>
                            <div class="clear"></div>
                        </li>
                    }
                }
                else
                {
                    <li><em>暂无火情</em></li>
                }
                <div class="clear"></div>
            </ul>
        </li>
    }
    @if (Rightstr.Contains(",012002,"))
    {
        <li id="li7">
            <label><h1><span>态势分析</span></h1></label>
            <ul>
                <li>
                    <div class="tableBox">
                        <table cellpadding="0" cellspacing="0">
                            <tr class="row2">
                                <td class="right">经度</td>
                                <td><input type="text" id="jd" onblur="validate('jd','2')" /></td>
                            </tr>
                            <tr>
                                <td class="right">纬度</td>
                                <td><input type="text" id="wd" onblur="validate('wd','2')" /></td>
                            </tr>
                            <tr class="row2">
                                <td class="right">风向角度值</td>
                                <td>
                                    <input type="text" id="dWindDirection" onblur="validate('dWindDirection', '3')" value="45" />
                                    <img src="~/Images/help.ico" style="width:18px;height:18px;" title="北风：180，东风：270，南风：0，西风：45以此类推，即：方向与南方向的顺时针夹角，切记有效值为0至360" />
                                </td>
                            </tr>
                            <tr>
                                <td class="right">风力</td>
                                <td>
                                    <input type="text" id="dWindSpeed" onblur="validate('dWindSpeed','3')" value="8" />米/秒
                                    <img src="~/Images/help.ico" style="width:18px;height:18px;" title="中午的风力" />
                                </td>
                            </tr>
                            <tr class="row2">
                                <td class="right">湿度值</td>
                                <td>
                                    <input type="text" id="dHumidity" onblur="validate('dHumidity', '3')" value="60" />%
                                    <img src="~/Images/help.ico" style="width:18px;height:18px;" title="每天的最小相对湿度" />
                                </td>
                            </tr>
                            <tr>
                                <td class="right">温度值</td>
                                <td>
                                    <input type="text" id="dTemperature" onblur="validate('dTemperature', '1')" value="30" />摄氏度
                                    <img src="~/Images/help.ico" style="width:18px;height:18px;" title="每天的最高气温" />
                                </td>
                            </tr>
                            <tr class="row2">
                                <td class="right">历时值 </td>
                                <td>
                                    <input type="text" id="dTime" onblur="validate('dTime', '1')" value="5" />分
                                    <img src="~/Images/help.ico" style="width:18px;height:18px;" title="相对速度的时间值" />
                                </td>
                            </tr>
                            <tr style="text-align:center">
                                <td colspan="2"><input type="button" class="btnCss" id="analysebtn" value="分析" /></td>
                            </tr>
                        </table>
                    </div>
                </li>
            </ul>
        </li>
    }
    @if (Rightstr.Contains(",012003,"))
    {
        <li id="li8">
            <label><h1><span>周边分析</span></h1></label>
            <ul>
                <li>
                    <div>
                        周围护林员(公里):
                        <select id="areaselect" style="width:100px;" onchange="GetAroundHlyInfos()">
                            <option value="0">请选择</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div>
                        <input type="hidden" id="arroundjd" /><input type="hidden" id="arroundwd" />
                        类型：<select id="typeid" name="state" class="easyui-combotree" data-options="labelPosition:'top',multiple:true, editable:false,animate:true,panelHeight:'auto'" style="width:250px;"></select>
                    </div>
                    <div>
                        范围：<input id="disInput" name="name" class="easyui-textbox" type="text" value="1" data-options="required:true" style="width:40px;" />千米
                        <input type="button" onclick="AroundQuery('')" value="查询" class="btnSearchCss" />
                    </div>
                </li>
                <li id="tt" class="easyui-tree" style="overflow: hidden; font-size: 14px; color: #337ab7; display: normal; padding: 0 20px;">

                </li>
            </ul>
        </li>
    }
    @if (Rightstr.Contains(",012004,"))
    {
        <li id="li81">
            <label><h1><span>火场标绘</span></h1></label>
            <ul>
                <li id="uploadid" style="display:none;">
                    <fieldset id="biaohuiLoadID">
                        <legend>
                            标绘信息 &nbsp;&nbsp;
                            <input type="button" onclick="flySaveAs()" value="保存" />&nbsp;&nbsp;
                            <input type="button" onclick="ShowFolderFileListInit()" value="还原" style="background-color:#A6A600;" />
                        </legend>
                        <ol id="flydiv" class="hcbhResult"></ol>
                    </fieldset>
                </li>
                <fieldset>
                    <legend>火线</legend>
                    <ol class="hcbhInfo">
                        <li onclick="d_CreateLine(0xFFFF00, '#FFFF00',20)"><span class="span1_01"></span><a>预测火线</a></li>
                        <li onclick="d_CreateLine(0xFF0000, '#FF0000',20)"><span class="span1_02"></span><a>实际火线 </a></li>
                        <li onclick="d_CreateLine(0xFFFFFF, '#FFFFFF',20)"><span class="span1_03"></span><a href="#">已灭火线 </a></li>
                    </ol>
                </fieldset>
                <fieldset>
                    <legend>火点</legend>
                    <ol class="hcbhInfo">
                        <li onclick="createImagesHUO('situation/7.png')"><span class="span2_01"></span><a href="#">已灭火点</a></li>
                        <li onclick="createImagesHUO('situation/5.png')"><span class="span2_02"></span><a href="#">未灭火点 </a></li>
                    </ol>
                </fieldset>
                <fieldset>
                    <legend>动画</legend>
                    <ol class="hcbhInfo">
                        <li onclick="excCommand(1012, 57)"><span class="span3_01"></span><a href="#">火</a></li>
                    </ol>
                </fieldset>
                <fieldset>
                    <legend>隔离带</legend>
                    <ol class="hcbhInfo">
                        <li onclick="d_CreateLine(0xC3C3C3C3, '#0085ff',12)"><span class="span4_01"></span><a href="#">预设隔离带</a></li>
                        <li onclick="d_CreateLine(0xC3C3C3C3, '#FFFFFF',12)"><span class="span4_02"></span><a href="#">已开隔离带</a></li>
                    </ol>
                </fieldset>
                <fieldset>
                    <legend>箭头</legend>
                    <ol class="hcbhInfo">
                        <li onclick="d_CreateArrow(1)"><span class="span5_01"></span><a href="#">线形箭头</a></li>
                        <li onclick="d_CreateArrow(3)"><span class="span5_02"></span><a href="#">矩形箭头</a></li>
                        <li onclick="d_CreateArrow(4)"><span class="span5_03"></span><a href="#">燕形箭头</a></li>
                    </ol>
                </fieldset>
                <fieldset>
                    <legend>灭火方法</legend>
                    <ol class="hcbhInfo">
                        <li onclick="createImagesHUO('method/flpm.png')"><span class="span6_01"></span><a href="#">风力灭火法</a></li>
                        <li onclick="createImagesHUO('method/zjpm.png')"><span class="span6_02"></span><a href="#">直接扑打法</a></li>
                        <li onclick="createImagesHUO('method/spmf.png')"><span class="span6_03"></span><a href="#">水灭火法</a></li>
                    </ol>
                </fieldset>
                <fieldset>
                    <legend>扑火队伍</legend>
                    <ol class="hcbhInfo">
                        <li onclick="createImagesHUO('goodsdispatch/zydw.png')"><span class="span7_01"></span><a href="#">专业队伍</a></li>
                        <li onclick="createImagesHUO('goodsdispatch/bzydw.png')"><span class="span7_02"></span><a href="#">半专业队伍</a></li>
                        <li onclick="createImagesHUO('goodsdispatch/yjdw.png')"><span class="span7_03"></span><a href="#">应急队伍</a></li>
                        <li onclick="createImagesHUO('goodsdispatch/qz.png')"><span class="span7_04"></span><a href="#">群众</a></li>
                        <li onclick="createImagesHUO('goodsdispatch/5.png')"><span class="span7_05"></span><a href="#">消防车</a></li>
                        <li onclick="createImagesHUO('goodsdispatch/1.png')"><span class="span7_06"></span><a href="#">救护车</a></li>
                        <li onclick="createImagesHUO('goodsdispatch/zzzhb.png')"><span class="span7_07"></span><a href="#">作战指挥部</a></li>
                    </ol>
                </fieldset>
                <fieldset>
                    <legend>其他</legend>
                    <ol class="hcbhInfo">
                        <li onclick="excCommand(1012, 0)"><span class="span8_01"></span><a href="#">自定义文字</a></li>
                        <li onclick="excCommand(1012, 1)"><span class="span8_02"></span><a href="#">自定义图标</a></li>
                        <li onclick="excCommand(1012, 5)"><span class="span8_03"></span><a href="#">贴图</a></li>
                        <li onclick="excCommand(1012, 4)"><span class=" span8_04"></span><a href="#">自定义线</a></li>
                    </ol>
                </fieldset>
            </ul>
        </li>
    }
    @if (Rightstr.Contains(",012005,"))
    {
        <li id="li82">
            <label><h1><span>战略选择</span></h1></label>
            <ul>
                @if (zhanlve.Any())
                {
                    foreach (var item1 in zhanlve)
                    {
                        var str = "";
                        str = item1.DICTTYPENAME;
                        var zhanlvFl = StateSwitch.GetDicList(item1.DICTTYPEID);//战略分类
                        <fieldset>
                            <legend>@str</legend>
                            <ol class="zlxzInfo">
                                @foreach (var item in zhanlvFl)
                                {
                                    var strtitle = @item.Value;
                                    var strtitleqc = strtitle;
                                    strtitle = strtitle.Length > 10 ? strtitle.Substring(0, 10) + "..." : strtitle;
                                    <li onclick="createTextLable('@strtitleqc')"><a href="#" title="@strtitleqc">@strtitle</a></li>
                                    strtitle = "";
                                }
                            </ol>
                        </fieldset>
                    }
                }
                else
                {
                    <li class="">暂无战略</li>
                }
            </ul>
        </li>
    }
    @if (Rightstr.Contains(",012006,"))
    {
        <li id="li83">
            <label><h1><span>战术选择</span></h1></label>
            <ul>
                @if (zhanshu.Any())
                {
                    foreach (var item1 in zhanshu)
                    {
                        var str = "";
                        str = item1.DICTTYPENAME;
                        var zhanshuFl = StateSwitch.GetDicList(item1.DICTTYPEID);//战术分类
                        <fieldset>
                            <legend>@str</legend>
                            <ol class="zlxzInfo">
                                @foreach (var item in zhanshuFl)
                                {
                                    var strtitle = @item.Value;
                                    var strtitleqc = strtitle;
                                    strtitle = strtitle.Length > 10 ? strtitle.Substring(0, 10) + "..." : strtitle;
                                    <li onclick="createTextLable('@strtitleqc')"><a href="#" title="@strtitleqc">@strtitle</a></li>
                                    strtitle = "";
                                }
                            </ol>
                        </fieldset>
                    }
                }
                else
                {
                    <li class="title ">暂无战略</li>
                }
            </ul>
        </li>
    }
    @if (Rightstr.Contains(",012007,"))
    {
        <li id="li9">
            <label><h1><span onclick="window.open('/DataCenter/Archival_NEWIIndex')">火灾档案</span></h1></label>
        </li>
    }
</ul>
<input type="hidden" id="LAYERID" value="@ViewBag.LAYERID">
<object id="SGWorld" classid="CLSID:3a4f91b1-65a8-11d5-85c1-0001023952c1" style="visibility:hidden;height:0 "></object>
<script>
    var Fire = @Html.Raw(@ViewBag.Fire);
    $(function () {
        menuEvent('0');
        $('#typeid').combotree('loadData', Fire);
        var sgworld=document.getElementById('SGWorld');
        sgworld.AttachEvent("OnFrame", OnFrame);//画线时需要这个循环
    });
    //common
    function menuOclick(id) {
        $(".ulhlytree>li:eq(" + id + ")>label").click();
    }
    function menuEvent(id) {
        var $parent_li, $ul, $span;
        $(".ulhlytree li>label").click(function () {
            $span = $(this);
            $parent_li = $span.parent();
            $parent_li.siblings().children("ul").slideUp();
            $ul = $span.next("ul");
            $ul.slideToggle();
        });
        $(".ulhlytree>li:eq(" + id + ")>label").click();
    }
    //周边分析经纬度
    function AroundJWD(jd, wd) {
        $('#arroundjd').val(jd);
        $('#arroundwd').val(wd);
        menuOclick('3');
        $('#uploadid').show();
    }
    //当前火情态势分析
    function setJWValue(jd, wd) {
        $('#jd').val(jd);
        $('#wd').val(wd);
    }
    ///是否火已灭
    function FireOver(id) {
        if (confirm("编号(" + id + ")是否标记已灭")) {
            $.ajax({
                type: 'post',
                url: '/EmergencyHand/FireOverMethod',
                data: { jcfid: id },
                dataType: "json",
                success: function (data) {
                    if (data != null && data.Success) {
                        alert("火情标记成功!");
                        GetCurFireHtml();
                    }
                    else {
                        alert("火情标记失败!");
                    }
                }
            });
        }
    }
    //GetCurFireHtml();
    //Ajax 获取当前火情
    function GetCurFireHtml() {
        var j = 0;
        $.ajax({
            type: 'post',
            url: '/EmergencyHand/GetCurrentFireInfo',
            dataType: "json",
            success: function (data) {
                if (data != null && data.Success) {
                    html = "";
                    if (data.DataList.length > 0) {
                        for (var i = 0; i < data.DataList.length; i++) {
                            html += "<li class=\"list\">";
                            html += "<h1 class=\"floatLeft\">" + (++j) + "</h1>";
                            html += "<dl class=\"list_content border_ty2 floatLeft\">";
                            html += "<dt class=\"floatLeft\">";
                            html += "<b class=\"category\">【" + data.DataList[i].JCFID + "】</b>";
                            html += "<a href=\"javascript:void(0)\" onclick=\"moveto(" + data.DataList[i].JD + "," + data.DataList[i].WD + ",'" + data.DataList[i].FIRENAME + "'," + data.DataList[i].JCFID + ");\" class=\"theme\">" + data.DataList[i].FIRENAME + " </a>";
                            html += "</dt>";
                            html += "<dd class=\"floatLeft\">";
                            html += "<a href=\"javascript:void(0)\" onclick=\"DangYAShow('火情信息', 'http://'+window.location.host+'/EmergencyHand/FireSXIndex?jcfid=" + data.DataList[i].JCFID + "', 850, 500)\" class=\"border_ty3\">火情信息</a>";
                            html += "<a href=\"javascript:void(0)\" onclick=\"DangYAShow('预案展示', 'http://'+window.location.host+'/EmergencyHand/YAIndex?level=" + data.DataList[i].FIRELEVEL + "&org=" + data.DataList[i].ORGNO + "', 500, 400)\" class=\"border_ty4\">预案</a>";
                            html += "<a href=\"javascript:void(0)\" onclick=\"setJWValue('" + data.DataList[i].JD + "','" + data.DataList[i].WD + "');movetoMap(" + data.DataList[i].JD + "," + data.DataList[i].WD + ",'" + data.DataList[i].FIRENAME + "');menuOclick('1')\" class=\"border_ty4\">态势分析</a>";
                            html += "<a href=\"javascript:void(0)\" onclick=\"FireOver(" + data.DataList[i].JCFID + ")\" class=\"border_ty4\">标记为已灭</a></dd>";
                            html += "<div class=\"clear\"></div>";
                            html += "</dl> ";
                            html += "<div class=\"clear\"></div>";
                            html += "</li>";
                        }
                    }
                    else {
                        html = " <li><em>暂无火情</em></li>";
                    }
                    alert(html);
                    $('#curfireul').html(html);
                }
                else {
                    $('#curfireul').html('加载当前火情出错');
                }
            }
        });
    }
    //当前火情态势分析
    function setJWValue(jd, wd) {
        $('#jd').val(jd);
        $('#wd').val(wd);
    }
    //火险蔓延分析
    $('#analysebtn').click(function () {
        var bo = checkAnalyse();
        if (bo) {
            var jd = $('#jd').val();
            var wd = $('#wd').val();
            var dWindDirection = $('#dWindDirection').val();//风向角度值
            var dWindSpeed = $('#dWindSpeed').val();//风力
            var dHumidity = $('#dHumidity').val();//湿度值
            var dTemperature = $('#dTemperature').val();//温度值
            var dTime = $('#dTime').val();//分段
            var index = layer.load(0, { offset: ['350px', '80px'], shade: 0.4 });
            $.ajax({
                type: "Post",
                url: "/EmergencyHand/GetAnalysysResult",
                data: {
                    jd: jd, wd: wd, dWindDirection: dWindDirection,
                    dWindSpeed: dWindSpeed, dHumidity: dHumidity,
                    dTemperature: dTemperature, dTime: dTime
                },
                dataType: "json",
                success: function (data) {
                    if (data != null && data.Success) {
                        layer.close(index);
                        var datalist = data.Data;
                        createPolygon_hqmy(datalist);
                    }
                    else {
                        layer.close(index);
                        alert("蔓延分析失败,请检查分析参数是否合理!");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //通常情况下textStatus和errorThrown只有其中一个包含信息
                    //this;   //调用本次ajax请求时传递的options参数
                    layer.close(index);
                    alert("ajax调取出错,textStatus==" + textStatus);
                }
            });
        }
    });
    //蔓延参数 check
    function checkAnalyse() {
        var jd = $('#jd').val();
        var wd = $('#wd').val();
        var dWindDirection = $('#dWindDirection').val();//风向角度值
        var dWindSpeed = $('#dWindSpeed').val();//风力
        var dHumidity = $('#dHumidity').val();//湿度值
        var dTemperature = $('#dTemperature').val();//温度值
        var dTime = $('#dTime').val();//分段
        if ($.trim(jd) == "") {
            alert('经度不可为空!');
            $('#jd').focus();
            return false;
        }
        if ($.trim(wd) == "") {
            alert('纬度不可为空!');
            $('#wd').focus();
            return false;
        }
        if ($.trim(dWindDirection) == "") {
            alert('风向角度值不可为空!');
            $('#dWindDirection').focus();
            return false;
        }
        if ($.trim(dWindSpeed) == "") {
            alert('风力不可为空!');
            $('#dWindSpeed').focus();
            return false;
        }
        if ($.trim(dHumidity) == "") {
            alert('湿度值不可为空!');
            $('#dHumidity').focus();
            return false;
        }
        if ($.trim(dTemperature) == "") {
            alert('温度值不可为空!');
            $('#dTemperature').focus();
            return false;
        }
        if ($.trim(dTime) == "") {
            alert('历时值不可为空!');
            $('#dTime').focus();
            return false;
        }
        return true;
    };
    ///获取周边护林员
    function GetAroundHlyInfos() {
        var jd = $('#arroundjd').val();
        var wd = $('#arroundwd').val();
        if (jd == "" || wd == "") {
            alert("周边距离分析无定点经纬度!");
            return false;
        }
        //加载层
        var index = layer.load(0, { offset: ['350px', '80px'], shade: 0.5 }); //0代表加载的风格，支持0-2
        var area = $('#areaselect').val();//获取选择区域的值
        getRangeVisibility1(jd, wd, area)
        if (area != "0" && area != "") {
            $.ajax({
                type: "Post",
                url: "/MapCommon/GetHlyByArea",
                data: { jd: jd, wd: wd, area: area },
                dataType: "json",
                success: function (obj) {
                    if (obj != null) {
                        layer.close(index);
                        if (obj.Success) {
                            getLonLatNoDel(obj.Msg);
                        }
                        else {
                            alert("未检索到周边护林员!");
                        }
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //通常情况下textStatus和errorThrown只有其中一个包含信息
                    // this;   //调用本次ajax请求时传递的options参数
                    //layer.msg('处理出现错误！状态码：' + textStatus, {
                    //    icon: 5, time: 1000
                    //});
                    alert("处理出现错误!状态码：" + textStatus);
                    layer.close(index);
                }
            });
        }
        else {
            layer.close(index);
            alert("请选择周边距离!");
        }
    }
</script>

